{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load embed_video_tags %}
{% load el_pagination_tags %}
{% block extra_css %}
<style>
.pagination>.active{
	background: #089c7b;
    color: #fff;
    border-color: #089c7b;
}
.page-link {
    color: #888;
    border: 2px solid rgba(74,156,124,0.38);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.page-link:hover {
    background: #089c7b;
    color: #fff;
    border-color: #089c7b;
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
</style>
{% endblock extra_css %}
{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Cambiando Vidas</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Cambiando Vidas</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="area-noticia padding-page bg-gris ">
    <div class="container">
        <div class="row">
          {% paginate 9 object_list %}
		  {% for obj in object_list %}
		  <div class="col-md-4 mrb-20">
				<div class="card box-shadow">
					<div class="entry-thumbnail">
						<a href="{% url 'blogs:detalle-blog' obj.id obj.uri %}">
							{% thumbnail obj.foto "800x480" crop="center" as im %}
								<img src="{{ im.url }}" class="card-img-top">
							{% empty %}
								<img src="https://place-hold.it/800x480" class="card-img-top" alt="...">
							{% endthumbnail %}
						</a>
						<div class="card-author">
							{% comment %} <span class="xs-round-avatar">
								{% thumbnail obj.idautor.imagen "42x42" crop="center" as im %}
                                <img src="{{ im.url }}" class="img-responsive" alt="{{obj.idautor}}">
                                {% empty %}
                                <img src="https://place-hold.it/42x42" class="img-responsive" alt="{{obj.idautor}}">
                                {% endthumbnail %}
							</span> {% endcomment %}
							<span class="author-name">
								<a href="#">por {{obj.idautor}}</a>
							</span>
						</div>
						<span class="badge badge-main" style="background-color:#3DB4D9;">{{obj.idcatobj}}</span>
					</div>
					<div class="card-body">
						<div class="card-tags">
							
							<span class="date">{{obj.fecha|date:"d F, Y"}}</span>
						</div>
						<h5 class="card-title text-limit line-2">
						<a href="{% url 'blogs:detalle-blog' obj.id obj.uri %}">{{obj.blog}}</a>
						</h5>
					</div>
					<div class="separador"></div>
					<div class="card-meta">
						<span class="comments-link">
							<i class="fa fa-comments"></i>
							<a href="">300 Comentarios</a>
						</span><!-- .comments-link -->
						<!--<span class="view-link">
							<i class="fa fa-eye"></i>
							<a href="">1000 Vistas</a>
						</span>-->
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<nav class="paginador mrt-30">
			<ul class="pagination justify-content-center">
			  <!--<li class="page-item">
				<a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
			  </li>
			  <li class="page-item active"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item disabled"><a class="page-link">...</a></li>
			  <li class="page-item"><a class="page-link" href="#">80</a></li>
			  <li class="page-item"><a class="page-link" href="#">81</a></li>
			  <li class="page-item">
				<a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
			  </li>-->
			  {% show_pages %}
			</ul>
		</nav>
	</div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
	$(".menu-4").addClass("active");
    $(".endless_page_link").addClass("page-link page-item");
    $(".endless_page_current").addClass("page-link active page-item");
</script>
{% endblock extra_js %}