{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<div class="content-page-wrapper">
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                Proyectos
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Proyectos
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <section class="small-section">
      <div class="container">
        <div class="row">
          <div class="buttons-sort col-md-12">
            {% for cat in categorias %}
              <div class="button-wrapper" style="margin-right:10px">
                  <a class="button btn-type-1" href="{% url 'filtro-proyecto' cat.0 %}">{{cat.1}}</a>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
      {% for obj in object_list %}
      {% if not forloop.counter|divisibleby:2 %}
      <!-- 2 Sides Section-->
      <section class="two-sides-section pt-0">
          {% if forloop.first %}<br>{% endif %}
          <div class="container-fluid">
              <div class="row two-sides-section--inner-wrapper">
                  <div class="col-md-5 col-sm-12 inner-wrapper--content-wrapper left-side">
                      <div class="content-wrapper--description-box">
                          <div class="description-box--description"
                               data-aos="fade-up"
                               data-aos-delay="100"
                               data-aos-anchor-placement="top-bottom"
                               data-aos-easing="ease-in-out"
                               data-aos-duration="700">
                              <h3>{{obj.nombre_corto}}</h3>
                              <p>{{obj.resumen|safe|striptags|truncatechars:170}}</p>
                              <div class="button-wrapper">
                                  <a class="button btn-type-1" href="{% url 'detalle-proyecto' obj.slug %}">Explorar</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-7 col-sm-12">
                      <div class="inner-wrapper--image-wrapper bg-position-center bg-size-cover" style="{% thumbnail obj.foto "1920x1280" crop="center" as im %}background-image: url('{{im.url}}'){% endthumbnail %}"></div>
                  </div>
              </div>
          </div>
      </section>
      {% else %}
      <!-- 2 Sides Section-->
      <section class="two-sides-section">
          <div class="container-fluid">
              <div class="row two-sides-section--inner-wrapper">
                  <div class="col-md-7 col-sm-12">
                      <div class="inner-wrapper--image-wrapper bg-position-center bg-size-cover" style="{% thumbnail obj.foto "1920x1280" crop="center" as im %}background-image: url('{{im.url}}'){% endthumbnail %}"></div>
                  </div>
                  <div class="col-md-5 col-sm-12 inner-wrapper--content-wrapper right-side">
                      <div class="content-wrapper--description-box">
                          <div class="description-box--description"
                               data-aos="fade-up"
                               data-aos-delay="200"
                               data-aos-anchor-placement="top-bottom"
                               data-aos-easing="ease-in-out"
                               data-aos-duration="700">
                              <h3>{{obj.nombre_corto}}</h3>
                              <p>{{obj.resumen|safe|striptags|truncatechars:170}}</p>
                              <div class="button-wrapper">
                                  <a class="button btn-type-1" href="{% url 'detalle-proyecto' obj.slug %}">Explorar</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      {% endif %}
      {% endfor %}
    </section>

    </div>
{% endblock content %}
