/* -------------------------------------------------------------------------- */
/*                                   Sombra                                   */
/* -------------------------------------------------------------------------- */
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

animation()
  vendor('animation', arguments)

border-radius()
  vendor('border-radius', arguments)

border-top-radius() 
  vendor('border-top-left-radius', arguments)
  vendor('border-top-right-radius', arguments)

border-top-radius() 
  vendor('border-bottom-left-radius', arguments)
  vendor('border-bottom-right-radius', arguments)

linear-gradient(start_color, end_color, start = left top, end = left bottom)
  mozstart = top if start = left top
  background start_color
  background -moz-linear-gradient(mozstart, start_color 0%, end_color 100%)
  background -webkit-gradient(linear, start, end, color-stop(0%, start_color), color-stop(100%, end_color))
  -webkit-background-origin padding-box

background-clip()
  vendor('background-clip', arguments)

box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

box(orient, pack, align) 
  display -webkit-box
  display -moz-box
  display box
  vendor('box-orient', orient)
  vendor('box-pack', pack)
  vendor('box-align', align)
  vendor('box-lines', multiple)

box_flex()
  vendor('box-flex', arguments)

text-fill-color()
  vendor('text-fill-color', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

/**
 * font-url ($file)
 */

mx-font-url($file)
  if $FONT-PATH is defined
    url($FONT-PATH + $file)
  else
    error('$FONT-PATH is not defined!');

font-url ?= mx-font-url
/**
 * font-face
 */
mx-font-face($name, $src, $weight = false, $style = false)
  @font-face
    font-family $name
    src font-url($src + '.eot')
    src: font-url($src + '.eot?#iefix') format("embedded-opentype"), font-url($src + '.woff2') format("woff2"), font-url($src + '.woff') format("woff"), font-url($src + '.ttf') format("truetype"), font-url($src + '.svg#' + $name) format("svg");
    font-weight $weight if $weight
    font-style $style if $style

font-face ?= mx-font-face
/* -------------------------------------------------------------------------- */
/*                                 Media query                                */
/* -------------------------------------------------------------------------- */
$xs = '(max-width: 575.98px)'
$sm = '(min-width: 576px) and (max-width: 767.98px)'
$md = '(min-width: 768px) and (max-width: 991.98px)'
$lg = '(min-width: 992px) and (max-width: 1199.98px)'
$xl = '(min-width: 1200px)'


mobile()
  @media (max-width: 640px)
    {block}

tablet()
  @media (max-width: 800px)
    {block}

desktop()
  @media (max-width: 1200px)
    {block}
/* -------------------------------------------------------------------------- */
/*                              margin y padding                              */
/* -------------------------------------------------------------------------- */

marginf(n)
    margin-top n
    margin-bottom n
    margin-right n
    margin-left n

for i in (1..5)
    .mar-{i}0
        margin i * 10px
for i in (1..10)
    .mrt-{i}0
        margin-top i * 10px
for i in (1..10)
    .mrb-{i}0
        margin-bottom i * 10px
for i in (1..10)
    .mrr-{i}0
        margin-right i * 10px
for i in (1..10)
    .mrl-{i}0
        margin-left i * 10px

paddingf(n)
    padding-top n
    padding-bottom n
    padding-right n
    padding-left n
for i in (1..5)
    .pdd-{i}0
        padding i * 10px
for i in (1..10)
    .pdt-{i}0
        padding-top i * 10px
for i in (1..10)
    .pdb-{i}0
        padding-bottom i * 10px
for i in (1..10)
    .pdr-{i}0
        padding-right i * 10px
for i in (1..10)
    .pdl-{i}0
        padding-left i * 10px