{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.min.css">
{% endblock extra_css %}

{% block content %}

<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Galería de imágenes</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Galería de imágenes</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<Article class="area-galeria pdt-10 pdb-70 bg-gris ">
    <div class="container">
        <div class="col">
            <ul class="nav-filter">
                <span>Categorías:</span>
                <a class="btn btn-filter filter-button"  data-filter="all">Todos</a>
                {% for tema in tematicas %}
                    <a class="btn btn-filter filter-button"  data-filter="{{tema.0}}">{{tema.1}}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-gallery main-galeria">
            <div class="grid-sizer"></div>
            {% paginate 11 object_list %}
            {% for obj in object_list %}
                <div class="grid-item filter all {% for tema in obj.categoria.all %}{{tema.id}} {% endfor %} {% if forloop.counter == 1 %}grid-item--height2{% endif %}">
                    <div class="gallery-image">
                        {% if forloop.counter == 1 %}
                            {% thumbnail obj.portada "933x1120" crop="center" as im %}
                                <img src="{{ im.url }}" alt="" width="100%">
                            {% empty %}
                                <img src="https://place-hold.it/933x1120" alt="" width="100%">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail obj.portada "800x480" crop="center" as im %}
                                <img src="{{ im.url }}" alt="" width="100%">
                            {% empty %}
                                <img src="https://place-hold.it/800x480" alt="" width="100%">
                            {% endthumbnail %}
                        {% endif %}
                            
                        <div class="gallery-overlay">
                            <a class="btn-open" id="open-{{forloop.counter}}"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                    
                    <div class="gallery-album">
                        <h5 class="text-color"><a href="">{{obj.titulo}}</a></h5>
                        <span><a href="#">{% for tema in obj.tematica.all %}{{tema}}{% if not forloop.last %},{% endif %}{% endfor %}</a></span>
                    </div>
                </div>                
            {% endfor %}

            <div>
                {% show_pages %}
            </div>
            
            
        </div>
    </div>
</Article>
{% for obj in object_list %}
<div class="detalle-album" style="display: none;" id="detalle-album-{{forloop.counter}}">
    <section class="pdb-20 pdt-20">
        <a class="btn-close" href="#"  title="Cerrar" id="close-{{forloop.counter}}"> 
            <span class="fa fa-times fa-lg"></span>
        </a>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="titulo-album">
                        <h5>{{obj.titulo}}</h5>
                        <p>
                            {{obj.descripcion|safe}}
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="list-imagenes owl-carousel">
                        <!--<div class="item">
                            <img class="img-responsive" src="https://place-hold.it/500x600" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="https://place-hold.it/800x480" alt="">
                        </div>-->
                        {{obj.fotosgaleria.all}}
                        {% for img in obj.fotosgaleria_set.all %}
                        <div class="item">
                            {% thumbnail img.archivo "800x480" crop="center" as im %}
                                <img src="{{ im.url }}" alt="" class="img-responsive">
                            {% endthumbnail %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="btn-navegacion"> 
            <a href="#"  title="Proyecto anterior" ><span class="fa fa-chevron-left"></span></a>
            <a href="#"  title="Proyecto siguiente" ><span class="fa fa-chevron-right"></span></a>
        </div>
        
    </section> 
</div>  
{% endfor %}

{% endblock content %}

{% block extra_js %}
<script src="/static/js/isotope/isotope.pkgd.min.js"></script>
<script src="/static/js/filter/filter.js"></script>
<script src="/static/js/owl-carousel/owl.carousel.min.js"></script>
<script>
    $(".menu-5").addClass("active");
</script>

<script>
    
    jQuery('.list-imagenes').owlCarousel({
		loop: false,
        rewind: true,
        margin: 10,
        responsiveClass: true,
        nav: false,
        dots: true,
        lazyLoad:true,
		navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
		responsive:{
			0:{
				items:1
			},
			480:{
				items:1
            },
            768:{
				items:1
			},			
			1024:{
				items:1
			},
			1200:{
				items:1
			}
		}
	});
    
</script>
<Script>
    // //Aparecer el slide de fotos
    // $(document).ready(function() {
    //     $('.btn-open').click(function() {
    //         $('.detalle-album').slideDown( "slow" );
    //         $('body').css("overflow-y", "hidden");
    //     });
    // });
    // //Desaparecer el slide de fotos
    // $(document).ready(function() {
    //     $('.btn-close').click(function() {
    //         $(".detalle-album").slideUp( "slow" );
    //         $('body').css("overflow-y", "visible");
    //     });
    // });

    {% for obj in object_list %}
    //Aparecer el slide de fotos
    $(document).ready(function() {
        $('#open-{{forloop.counter}}').click(function() {
            $('#detalle-album-{{forloop.counter}}').slideDown( "slow" );
            $('body').css("overflow-y", "hidden");
        });
    });
    //Desaparecer el slide de fotos
    $(document).ready(function() {
        $('#close-{{forloop.counter}}').click(function() {
            $("#detalle-album-{{forloop.counter}}").slideUp( "slow" );
            $('body').css("overflow-y", "visible");
        });
    });
    {% endfor %}

</Script>

{% endblock extra_js %}