{% extends "base.html" %}
{% load embed_video_tags %}
{% load el_pagination_tags %}
{% load thumbnail %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<style>
h5 {
    height: 60px;
}
.pagination>.active{
    background: #089c7b;
    color: #fff;
    border-color: #089c7b;
}
.page-link {
    color: #888;
    border: 2px solid rgba(74,156,124,0.38);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.page-link:hover {
    background: #089c7b;
    color: #fff;
    border-color: #089c7b;
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
</style>
{% endblock extra_css %}

{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center padding-xl color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Galerí­a de Videos</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Galerí­a de videos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<Article class="area-galeria padding-page bg-gris ">
    <div class="container">
        <div class="col">
            <ul class="nav-filter">
                <a class="btn btn-filter filter-button" data-filter="all">Todos</a>
                {% for tema in tematicas %}
                    <a class="btn btn-filter filter-button"  data-filter="{{tema.0}}">{{tema.1}}</a>
                {% endfor %}
            </ul>
        </div>

        <div class="grid-gallery main-galeria">
            <div class="grid-sizer"></div>
            {% paginate 9 object_list %}
            {% for obj in object_list %}
            <div class="grid-item filter all {% for tema in obj.tematica.all %}{{tema.id}} {% endfor %}">
                <div class="gallery-image">
                    {% video obj.youtube as my_video %}
                        {% thumbnail my_video.thumbnail "340x190" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" width="100%">
                        {% empty %}
                            <img src="https://place-hold.it/340x190"  alt="">
                        {% endthumbnail %}
                    {% endvideo %}
                    <div class="gallery-overlay">
                        {% video obj.youtube as my_video %}
                        <a data-fancybox href="{{ my_video.url }}"><span class="fa fa-play"></span></a>
                        {% endvideo %}
                    </div>
                </div>
                
                <div class="gallery-album">
                    <h5 class="text-color"><a href="#">{{obj.video}}</a></h5>
                    <!--<span><a href="#">tags</a></span>-->
                </div>
            </div>
            {% endfor %}

        </div>
        <nav class="paginador mrt-30">
                <ul class="pagination justify-content-center">
                  <!--<li class="page-item">
                    <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item disabled"><a class="page-link">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">80</a></li>
                  <li class="page-item"><a class="page-link" href="#">81</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                  </li>-->
                  {% show_pages %}
                </ul>
            </nav>
    </div>
</Article>

{% endblock content %}

{% block extra_js %}
<script src="/static/js/isotope/isotope.pkgd.min.js"></script>
<script src="/static/js/filter/filter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
    $(".menu-5").addClass("active");
</script>
<script>
    $('.grid-prueba').isotope({
        itemSelector: '.grid-item filter all 1',
        percentPosition: true,
        masonry: {
          columnWidth: '.grid-sizer'
        }
    });
</script>
<script>
    $(".endless_page_link").addClass("page-link page-item");
    $(".endless_page_current").addClass("page-link active page-item");
</script>

{% endblock extra_js %}