{% extends "base.html" %}
{% load thumbnail %}
{% load leaflet_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock extra_css %}

{% block content %}

<style>
    #mapid { height: 100px; }
</style>

<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Proyectos</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Proyectos</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="area-proyecto pdt-100 pdb-70 bg-gris">
    <div class="container">

        <div class="card-body  bg-white box-shadow">
        <div class="row">
            <div class="col-md-5">
                {% thumbnail object.foto "800x480" crop="center" as im %}
                    <img src="{{ im.url }}" alt="">
                {% empty %}
                    <img src="https://place-hold.it/800x480" alt="...">
                {% endthumbnail %}
            </div>
            <div class="col-md-7">
                <div class="info-proyecto">
                    <h4>{{object.nombre}}</h4>
                    <h5>
                        {{object.nombre_corto}}
                    </h5>
                    <div class="row">
                        <div class="col-lg-6">
                            {% if object.beneficiarios %}
                            <div class="fun-fact d-flex">
                                <div class="fun-fact-img">
                                    <img src="/static/img/iconos/icon-1.png" alt="FundRack" class="img-fluid">
                                </div>
                                <div class="fun-content text-left">
                                    <h2>{{object.beneficiarios}}</h2>
                                    <p class="m-0">Beneficiarios</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
				<div class="card-body bg-white">
					<div class="info-texto">                      
                       {{object.resumen|safe}}
					</div>
				</div>
            </div>
        </div>
        
        
        <div class="row text-center">
			<div class="col">
				<div class="seccion-heading-style-one mrb-30">
					<h2 class="text-color-base">Ubicación e Imágenes del Proyecto</h2>
				</div>
			</div>
		</div>
        <!-- galeria proyecto -->
        <div class="row">
            {% if object.ubicacion_proyecto %}  
            <div class="col-lg-6 mrb-20">
                {% leaflet_map "mapid" %}
            </div>
            {% endif %}
            {% if object.fotosproyecto_set.all %}
            <div class="col-lg-6 mrb-20">
                <div class="owl-proyecto owl-carousel owl-theme">
                    {% for obj in object.fotosproyecto_set.all %}
                    
                        <a href="/media/{{obj.archivo}}" data-fancybox data-caption="{{obj.nombre}} {% if obj.credito %}• Credito: {{obj.credito}}{% endif %}">
                            {% thumbnail obj.archivo "x280" crop="center" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        </a>
                    
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block extra_js %}
<script src="/static/js/owl-carousel/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script>
    $('.owl-proyecto').owlCarousel({
        margin:10,
        loop:true,
        autoWidth:true,
        responsiveClass:true,
        nav: false,
        dots: true,
        lazyLoad:true,
		navText: ['<i class="fa fa-chevron"></i>', '<i class="fa fa-chevron"></i>'],
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:1,
                nav:false
            },
            1000:{
                items:1,
                nav:true,
                loop:false
            }
        }
    });
    //$(".owl-nav").addClass("sr-only");
</script>
<script>
    var map = L.map('mapid').setView([{{object.ubicacion_proyecto.0.1}}, {{object.ubicacion_proyecto.0.0}}], 7);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);

        {% for point in object.ubicacion_proyecto %}
            var marker{{forloop.parentloop.counter}}_{{forloop.counter}} = L.marker([{{point.1}}, {{point.0}}]).addTo(map);
        {% endfor %}
    

</script>

{% endblock extra_js %}