{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block extra_js %}

<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.bxslider.js' %}"></script>
<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />

<script>

	$('.menu a.menu3').addClass('activate');

	$(document).ready(function(){

		var slider = $('.bxslider').bxSlider({
			mode: 'fade',
			hideControl: true,
			slideMargin: 12,
			pager:false,
		});

	});

</script>
{{ block.super }}
<script>
	$.endlessPaginate({
		onClick: function() {

		},
		onCompleted: function(context, fragment) {
                //console.log('Label:', $(this).text());
                var slider = $('.bxslider').bxSlider({
                	mode: 'fade',
                	slideMargin: 12,
                	pager:false,
                });
            }
        });
</script>






<div class="quienesfondo">
	<img src="/media/{{foto_portafolio.foto}}" alt="">
	<div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_portafolio.titulo}}</h1></div>
</div>

<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
	<div class="row">
	
		<div class="large-4 medium-4 columns">
			<div id="filtro" class="filtros right">
			
				<li class="buton button"><a href="/portafolio/sistemas">Portafolio</a></li>
				<li class="buton button"><a href="/portafolio/servicios">Servicios</a></li>
				
			</div>
		</div>
	</div>
</div>
<!-- finaliza el buscador y la red social -->
<div><h2 id="tituloServ">En SIMAS te ofrecemos una serie de servicios para que las organizaciones locales, nacionales y regionales puedan mejorar su capacidad de aprendizaje, comunicación y de innovación.</h2></div>


{% for servicio in object_list  %}

{% if forloop.counter|divisibleby:2 %}
<div class="otrocolor" width="100%" style="padding:2em">
	<div class="row">

	<div class="large-8 medium-8 columns wow bounceInLeft"> 
	<h4>{{servicio.servicio}}</h4><br>
		<p>{{servicio.descripcion|safe}}</p>

	</div>

	<div class="large-4 medium-4 columns wow bounceInRight">
		{% if servicio.imagen %}
		<img src="/media/{{servicio.imagen}}" width="100%" class="servImg">
		{% else %}
		<img src="http://placehold.it/440x272" alt="" />
		{% endif %}
	</div>

	</div>

</div>


{% else %}
<div width="100%" style="padding:2em">
	<div class="row">

		<div class="large-4 medium-4 columns wow bounceInLeft"> 
	{% if servicio.imagen %}
		<img src="/media/{{servicio.imagen}}" width="100%" class="servImg">
	{% else %}
		<img src="http://placehold.it/440x272" alt="" />
	{% endif %}

	</div>

		<div class="large-8 medium-8 columns wow bounceInRight">
		<h4>{{servicio.servicio}}</h4><br>
			<p>{{servicio.descripcion|safe}}</p>
		
		</div>

	</div>

	</div>

{% endif %}


{% endfor %}

<hr>



<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

{% include "footer.html" %}


{% endblock extra_js %}