{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block contenido %}

                                                                                                                                                                            
<div class="quienesfondo">
  <img src="/media/{{foto_noticia.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_noticia.titulo}}</h1></div>
</div>

<div class="camino">
    <div class="row">
            <a href="/noticias"><h3>REGRESAR A TODAS LAS NOTICIAS</h3></a>
    </div>
</div>

<div class="row">

    <div class="newsimas">
        <p align="center">{{nota.noticia}}</p>
    </div>
    <div class="lineas">
        <div class="medium-6 columns">
            <p class="fecha_noticia">{{nota.fecha|date:"m.d.y"}} / <strong>{{nota.idautor}}</strong></p>
        </div>
        <div class="medium-6 columns">
            <div class="right">
            <div class="shared_social"> 
            
            <div class="fb-share-button" data-share="true" data-width="450" data-layout="button_count"></div>

            <!-- <div class="fb-share-button" data-href="{{ request.path }}" data-layout="button_count"></div>  -->
            
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{nota.noticia}}">Tweet</a>

            <div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ request.path }}"></div>
            </div>
            
            </div>
        </div>
    </div>
</div>
<!-- cuerpo de la noticias -->
{% if nota.tipo == 2 %}
    <div class="row detalle-noticia">
        <div class="large-12 medium-12 columns">
        <div class="large-12 medium-12 columns">
            <p align="center">{{nota.descripcion}}</p><br>
        </div>
        <div class="large-9 medium-12 columns">
            <p id="video" align="center">{{ nota.url}}</p>
            <script>
                $(document).ready(function(){
                    $("#video iframe").attr("src", $("#video iframe").attr("src")+ '?autoplay=1');
                });
            </script>
            </div>
            <div class="large-3 medium-12 columns">
            
            <p align="center">Noticias Relacionadas</p>
            {% for video in nota_all%}
            <div class="large-6 medium-6 columns" id="avideo">
                <a href="{% url 'noticias:detalle-noticia' video.id video.uri %}" ><img src="{{video.url}}" alt="" ></a>
                </div>
                
                <div class="large-6 medium-12 columns txtv">
                <h6 id="txtvideo"><a href="{% url 'noticias:detalle-noticia' video.id video.uri %}" id="more">{{video.noticia|truncatewords:8}}</a></h6>
            </div>
            <hr>
            {% endfor %}
            </div>
        </div>
        <div class="large-12 medium-12 columns">
            <p>{{nota.texto|safe }}</p>
        </div>
        
    </div>
{% else %}
        <div class="row detalle-noticia">
        {% if nota.foto %}
            {% thumbnail nota.foto "300x200" crop="10%" as img %}
            <figure>
                <img src="/media/{{img}}">
                <!-- {% if nota.url %}
                <p style="padding:1em 1em 0 1em !important">{{ nota.url}}</p>
                {% endif %} -->
                <figcaption>{{nota.credito}}</figcaption>
            </figure>
            {% endthumbnail %} 
        {% endif %}

        <p>
            {{nota.texto|safe }}
        </p>  
        </div>
{% endif %}


<!-- area de temas y descargas de ficheros adjuntos -->

<div class="row">
    <hr>
    <div class="medium-6 columns tmatica"> <span>Temáticas:</span> <div class="tematica">{%for tema in nota.idtematica.all%}{{tema}}, <br> {%endfor%}</div></div>
    <div class="medium-6 columns">
        <div class="descargas right">
            {% if nota.archivo1 %}
                <i class="fa fa-download fa-2x"></i> <span><a href="/media/{{nota.archivo1}}">Descargar adjunto1,</a></span> <br>
            {% endif %}
            {% if nota.archivo2 %}
                <span class="adjunto1"><a href="/media/{{nota.archivo2}}">Descargar adjunto2,</a></span> <br>
            {% endif %}
            {% if nota.archivo3 %}
                <span class="adjunto1"><a href="/media/{{nota.archivo3}}">Descargar adjunto3</a></span>
            {% endif %}
            
        </div> 
    </div>
    <hr>
</div>


{% if nota.tipo != 2 %}
<!-- area de noticias relacionadas -->
<div class="row relaciones">
    <h3> Tambien puede interesarle</h3>
    {% for relacion in noticias_relacionadas %}
        <div class="medium-4 columns">
        {% if relacion.foto %}
            <div class="interes_img">
            {% thumbnail relacion.foto "305x185" crop="10%" as img %}
                <img src="/media/{{img}}" alt="" />
            {%endthumbnail%}
        </div>
        {% else%}
            <div class="interes_img">
            <img src="http://placehold.it/305x185" alt="" />
        </div>
        {% endif %}
        
        <p>{{relacion.noticia}}</p>
        <hr>
        <span>{{relacion.fecha|date:"m.d.y"}} / <a href="{% url 'noticias:detalle-noticia' relacion.id relacion.uri %}">LEER MÁS >></a></span>
    </div>
    {% endfor %}
</div>

<div class="row">
    <hr>   
    <div id="disqus_thread"></div>
</div>
{% endif %}
<hr>
{% include "footer.html" %}

<!-- facebook -->
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '200691280061950',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/es_ES/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

 
</script>


<!-- twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% endblock contenido %}