{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Header Breadcrumbs-->
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                {{publi.publicacion}}
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="{% url "publicaciones:publicaciones" %}">
                        Publicaciones
                    </a>
                </li>
                <li>
                    <a href="#">
                        {{publi.publicacion}}
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <section class="single-project small-section">
            <div class="container">
                <div class="single-project--overview">
                    <div class="overview--info-wrapper">
                        <div class="info-wrappper--info">
                            <i class="fas fa-clock"></i>
                            <p>{{publi.fecha|date:"d F Y"}}</p>
                        </div>
                        <div class="info-wrappper--info">
                            <i class="fa fa-user"></i>
                            <a href="">Editorial: {{publi.editorial}}</a>
                        </div>
                        <div class="info-wrappper--info">
                            <i class="fas fa-tag"></i>
                            <p><a href="">{% for obj in object.idcategoria.all %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- About item-->
    <section class="about-item-section">
        <div class="container">
            <div class="row about-item-section--inner-wrapper">
                <div class="col-xl-4 inner-wrapper--image-wrapper bg-size-cover bg-position-center overlay" style="{% thumbnail publi.portada "1280" crop="center" as im %}background-image: url('{{im.url}}'){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                </div>
                <div class="col-xl-8 padding-left">
                    <div class="inner-wrapper--content">
                        <h4>{{publi.publicacion}}</h4>
                        {{publi.resumen|safe}}

                        <div class="container">
                            <div class="row">
                                {% if publi.archivo1 %}
                                <div class="button-wrapper col-xl-4">
                                    <a class="button btn-type-2" href="/media/{{publi.archivo1}}" download>Descargar archivo 1</a>
                                </div>
                                {% endif %}

                                {% if publi.archivo2 %}
                                <div class="button-wrapper col-xl-4">
                                    <a class="button btn-type-2" href="/media/{{publi.archivo2}}" download>Descargar archivo 2</a>
                                </div>
                                {% endif %}

                                {% if publi.archivo3 %}
                                <div class="button-wrapper col-xl-4">
                                    <a class="button btn-type-2" href="/media/{{publi.archivo3}}" download>Descargar archivo 3</a>
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="row">
                                {% if publi.archivo4 %}
                                <div class="button-wrapper col-xl-4">
                                    <a class="button btn-type-2" href="/media/{{publi.archivo4}}" download>Descargar archivo 4</a>
                                </div>
                                {% endif %}
                                {% if publi.archivo5 %}
                                <div class="button-wrapper col-xl-4">
                                    <a class="button btn-type-2" href="/media/{{publi.archivo5}}" download>Descargar archivo 5</a>
                                </div>
                                {% endif %}
                                {% if publi.archivo6 %}
                                <div class="button-wrapper col-xl-4">
                                    <a class="button btn-type-2" href="/media/{{publi.archivo6}}" download>Descargar archivo 6</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $("blockquote").wrapAll('<div class="blockquote-wrapper"></div>');
  $(".blockquote-wrapper").wrapAll('<div class="blockquote-type-2"></div>');
  $("blockquote p").each(function() {
    $("<h5>" + $(this).html() + "</h5>").replaceAll(this);
});
</script>
{% endblock extra_js %}
