{% extends 'base.html' %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<style>
    .content--title-subtitle h3 {
        font-size: 18px !important;
    }
</style>
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Header Breadcrumbs-->
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                Publicaciones
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Publicaciones
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- Portfolio -->
    <section class="portfolio-metro small-section">
        <div class="container">
          <div class="row">
            <div class="buttons-sort col-md-6">
                <a href="{% url 'publicaciones:publicaciones' %}" class="buttons-sort--button active-button" data-filter="*">Todos</a>
                {% for obj in tematicas %}
                    <a href="{% url 'publicaciones:filtro-publicaciones' obj.0 %}" class="buttons-sort--button">{{obj.1}}</a>
                {% endfor %}
            </div>
            <div class="buttons-sort col-md-3">
                <div class="button-wrapper" style="margin-right:10px">
                    <a class="button btn-type-1" href="{% url 'publicaciones:cidoc' %}">CIDOC</a>
                </div>
                <div class="button-wrapper">
                    <a class="button btn-type-1" href="{% url 'publicaciones:simas' %}">SIMAS</a>
                </div>
            </div>
            <div class="col-xl-3 sticky-sidebar">
                <div class="sidebar-wrapper right-sidebar">
                    <aside class="sidebar-wrapper--sidebar">
                        <div class="sidebar--sidebar-widget">
                            <div class="sidebar-widget--search">
                                <form class="search-form" action="/publicaciones/busqueda/" method="GET">
                                  {{search.q}}
                                  <button type="submit"><i class="fa fa-search double-flash"></i></button>
                                </form>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
          </div>
        </div>
        <div class="three-column-container">
            <div class="grid" data-grid-layout-mode="masonry" data-grid-transition="0.6" data-grid-stagger="80">
                {% paginate 16 object_list %}
                {% for obj in object_list %}
                <div class="grid--grid-item grid--grid-item-25">
                    <div class="scale-3d--wrapper">
                        <!--<div class="grid-item--grid-inner scale-3d-hover-effect tilt-wrapper"
                                data-tilt-value="5" data-tilt-speed="1200"
                                data-tilt-scale="1" data-tilt-perspective="600">
                            {% thumbnail obj.portada "360x500" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" class="img-fluid">
                            {% empty %}
                            <img src="http://via.placeholder.com/360x500" alt="" class="img-fluid">
                            {% endthumbnail %}
                            <a class="grid-inner--description-wrapper" href="{% url 'publicaciones:detalle-publicacion' obj.id obj.uri %}">
                                <div class="description-wrapper--content">
                                    <div class="content--tag">
                                        <p>{{obj.idcategoria.first}}</p>
                                    </div>
                                    <div class="content--title-subtitle">
                                        <h3>{{obj.publicacion}}</h3>
                                    </div>
                                    <div class="content--date">
                                        <p>{{obj.fecha|date:"d F Y"}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>-->
                        
                        <div class="grid-hover">
                          <figure class="effect-layla">
                            {% thumbnail obj.portada "500x600" crop="center" as im %}
                            <img src="{{ im.url }}" alt="" class="img-fluid">
                            {% empty %}
                            <img src="http://via.placeholder.com/500x600" alt="" class="img-fluid">
                            {% endthumbnail %}
                            <figcaption>
                              <div class="scale-3d--wrapper">
                                <div class="description-wrapper--content">
                                    <div class="content--tag">
                                        <p>{{obj.idcategoria.first}}</p>
                                    </div>
                                    <br>
                                    <div class="content--title-subtitle">
                                        <p>{{obj.publicacion|truncatewords:6}}</p>
                                    </div>
                                    <br>
                                    <div class="content--date">
                                        <p>{{obj.fecha|date:"d F Y"}}</p>
                                    </div>
                                </div>

                              </div>
                                <a href="{% url 'publicaciones:detalle-publicacion' obj.id obj.uri %}">View more</a>
                            </figcaption>
                          </figure>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
              {% show_pages %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $("#id_q").attr("placeholder", "Buscar...");
	$("#id_q").val("{{request.GET.q}}");
</script>
{% endblock extra_js %}
