{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Actualidad</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/noticias/">Actualidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<Article class="area-noticia padding-page bg-gris ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="noticia">
                    {% if nota.url %}
                    <div class="video-noticia">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/sz13mYFugIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% else %}
                    <div class="img-noticia">
                        <figure class="figure">
                            {% thumbnail nota.foto "800x480" crop="center" as img %}
                                <img class="img-responsive figure-img" src="/media/{{img}}" alt="" >
                            {% endthumbnail %} 
                            <figcaption class="figure-caption">
                                <span class='fa fa-image'></span> {{nota.credito}}
                            </figcaption>
                        </figure>
                        
                    </div>
                    {% endif %}
                
                    <div class="info-noticia box-shadow">
                        <div class="info-title">
                            <div class="date">
                                <span>{{nota.fecha|date:"d"}}</span> 
                                <span>{{nota.fecha|date:"M"}}</span>
                                <span>{{nota.fecha|date:"y"}}</span>
                            </div>
                            <div class="title">
                                <h3>{{nota.noticia}}</h3>
                                <div class="meta">
                                    <div class="position-relative">
                                        {% comment %} <span class="round-avatar">
                                            {% thumbnail nota.idautor.imagen "42x42" crop="center" as im %}
                                            <img src="{{ im.url }}" class="img-responsive" alt="{{nota.idautor}}">
                                            {% empty %}
                                            <img src="https://place-hold.it/42x42" class="img-responsive" alt="{{nota.idautor}}">
                                            {% endthumbnail %}
                                        </span> {% endcomment %}
                                        <p class>
                                        {{nota.idautor}}
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-texto">
                            {{nota.texto|safe }}
                        </div>
                    </div>
                </div>
                <div class="noticia-tags">
                    <span>Temáticas: </span>
                    {%for tema in nota.idtematica.all%}
                    <a href="#">{{tema}}</a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</Article>
<section class="list-blog bg-gris pdb-100">

    <div class="container">
		<div class="row">
			<div class="col">
				<div class="seccion-heading-style-two mrb-30">
					<h2 class="text-color-base">Noticias Relacionadas</h2>
				</div>
			</div>
		</div>
        <div class="row">
            {% if nota.tipo != 2 %}
            {% for relacion in noticias_relacionadas %}
            <div class="col-md-4">
                <div class="card box-shadow">
                
                    <div class="entry-thumbnail">
                    {% if relacion.foto %}
                        {% thumbnail relacion.foto "348x209" crop="10%" as img %}  
                        <a href="{% url 'noticias:detalle-noticia' relacion.id relacion.uri %}">
                            <img class="img-responsive figure-img" src="/media/{{img}}" alt="" >
                        </a>
                        {% endthumbnail %}
                    {% else%}
                        <a href="{% url 'noticias:detalle-noticia' relacion.id relacion.uri %}">
                            <img class="img-responsive figure-img" src="https://place-hold.it/348x209" alt="" >
                        </a>
                    {% endif %}
                        <div class="card-author">
                            <span class="xs-round-avatar">
                                {% thumbnail relacion.idautor.imagen "42x42" crop="center" as im %}
                                <img src="{{ im.url }}" class="img-responsive" alt="{{relacion.idautor}}">
                                {% empty %}
                                <img src="https://place-hold.it/42x42" class="img-responsive" alt="{{relacion.idautor}}">
                                {% endthumbnail %}
                            </span>
                            <span class="author-name">
                                <a href="#">{{relacion.idautor}}</a>
                            </span>
                        </div>
                        <span class="badge badge-main" style="background-color:#3DB4D9;">Tecnología</span>
                    </div>
                    <div class="card-body mrt-10">
						<div class="card-tags">
							
							<span class="date">{{relacion.fecha|date:"d M Y"}}</span>
						</div>
                      	<h5 class="card-title">
						  <a href="{% url 'noticias:detalle-noticia' relacion.id relacion.uri %}">{{relacion.noticia}}</a>
                        </h5>
                    </div>
                
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>
    
</section>
{% comment %} <div class="">
    <img src="" alt="">
    <h1 class="" data-wow-duration="2s">{{foto_noticia.titulo}}</h1>
</div>
<h1>{{nota.noticia}}</h1>
<p class="">{{nota.fecha|date:"m.d.y"}} / <strong></strong></p>
{% if nota.tipo == 2 %}
    <p align="center">{{nota.descripcion}}</p>
    <p id="video" align="center">{{ nota.url}}</p>
{% else %}
{% if nota.foto %}
{% thumbnail nota.foto "300x200" crop="10%" as img %}
<figure>
<img src="/media/{{img}}">

<figcaption></figcaption>
</figure>
{% endthumbnail %} 
{% endif %}
<p>

</p> 
{% endif %} {% endcomment %}



<!-- ----------------------------------------------------------------------- -->
<!--                                Descargar                                -->
<!-- ----------------------------------------------------------------------- -->

{% if nota.archivo1 %}
<i class="fa fa-download fa-2x"></i> <span><a href="/media/{{nota.archivo1}}">Descargar adjunto1,</a></span> <br>
{% endif %}
{% if nota.archivo2 %}
<span class="adjunto1"><a href="/media/{{nota.archivo2}}">Descargar adjunto2,</a></span> <br>
{% endif %}
{% if nota.archivo3 %}
<span class="adjunto1"><a href="/media/{{nota.archivo3}}">Descargar adjunto3</a></span>
{% endif %}




<div class="si-sticky" style="margin-top: -210px;">
    <a href="#" class="social-icon si-facebook brand bounceInLeft animated" data-animate="bounceInLeft">
        <i class="fa fa-facebook-f"></i>
    </a>
    <a href="#" class="social-icon si-twitter brand bounceInLeft animated" data-animate="bounceInLeft" data-delay="100">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="social-icon si-whatsapp brand bounceInLeft animated" data-animate="bounceInLeft" data-delay="200">
        <i class="fa fa-whatsapp"></i>
    </a>
    <a href="#" class="social-icon si-envelope bounceInLeft animated" data-animate="bounceInLeft" data-delay="300">
        <i class="fa fa-envelope"></i>
    </a>
    
</div>

<div class="socialshare-xs">
    <ul>
        <li class="label-social">
           <a class="">Compartir:</a>
        </li>
        <li>
            <a href="#" class="social-icon si-facebook brand bounceInLeft animated" data-animate="bounceInLeft">
                <i class="fa fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="#" class="social-icon si-twitter brand bounceInLeft animated" data-animate="bounceInLeft" data-delay="100">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#" class="social-icon si-whatsapp brand bounceInLeft animated" data-animate="bounceInLeft" data-delay="200">
                <i class="fa fa-whatsapp"></i>
            </a>
        </li>
        <li>
            <a href="#" class="social-icon si-envelope bounceInLeft animated" data-animate="bounceInLeft" data-delay="300">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
    </ul>
</div>

{% endblock content %}

{% block extra_js %}

<script>
    $(".menu-3").addClass("active");
    $(".info-texto figure").addClass("figure");
    $(".info-texto figure img").addClass("figure-img img-fluid rounded");
    $(".info-texto figure figcaption").addClass("figure-caption text-center");
    $(".info-texto img").addClass("img-fluid");
    $(".info-texto figure figcaption").prepend("<span class='fa fa-image'></span> ");
</script>
{% endblock extra_js %}