{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load embed_video_tags %}
{% load el_pagination_tags %}

{% block content %}
<!-- Header Breadcrumbs-->
<header class="breadcrumbs-type-1">
    <div class="container breadcrumbs--breadcrumbs-inner">
        <h1 class="breadcrumbs-inner--page-title">
            Cambiando Vidas
        </h1>
        <ul class="breadcrumbs-inner--breadcrumbs-list">
            <li>
                <a href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#">
                    Cambiando Vidas
                </a>
            </li>
        </ul>
    </div>
</header>
<!-- Blog Metro -->
<section class="blog-metro">
    <div class="container">
      <div class="row">
        <div class="buttons-sort col-xl-9">
            <a href="{% url 'noticias:noticias' %}" class="buttons-sort--button active-button" data-filter="*">Todos</a>
            {% for obj in categorias %}
                <a href="{% url 'noticias:list-noticia-cat' obj.0 %}" class="buttons-sort--button">{{obj.1}}</a>
            {% endfor %}
        </div>
        <div class="col-xl-3 sticky-sidebar">
            <div class="sidebar-wrapper right-sidebar">
                <aside class="sidebar-wrapper--sidebar">
                    <div class="sidebar--sidebar-widget">
                        <div class="sidebar-widget--search">
                            <form class="search-form" action="/publicaciones/busqueda/" method="GET">
                              {{search.q}}
                              <button type="submit"><i class="fa fa-search double-flash"></i></button>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
      </div>
    </div>
    <div class="four-column-container">
        <div class="grid" data-grid-layout-mode="packery" data-grid-transition="0.6" data-grid-stagger="80">
            {% for result in page.object_list %}
            <div class="grid--grid-item {% if forloop.first or forloop.counter == 2 %}grid--grid-item-50{% else %}grid--grid-item-25{% endif %}">
                <div class="blog-hover-effect-wrapper">
                    <div class="grid-item--grid-inner">
                        {% thumbnail result.object.foto "1920x1280" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="img-fluid">
                        {% empty %}
                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                        {% endthumbnail %}
                        <div class="grid-inner--post-content">
                            <div class="post-content--tag">
                                <span>{{result.object.idcatblog}}</span>
                            </div>
                            <div class="post-content--meta">
                                <div class="meta--date">
                                    <p>{{result.object.fecha|date:"M d, Y"}}</p>
                                </div>
                                <div class="meta-separator"><p>|</p></div>
                                <a href="{% url 'blogs:detalle-blog' result.object.id result.object.uri %}" class="meta--author"><p>{{result.object.idautor}}</p></a>
                            </div>
                            <div class="post-content--title">
                                <a href="{% url 'blogs:detalle-blog' result.object.id result.object.uri %}"><h5>{{result.object.blog}}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
					{% if page.has_previous or page.has_next %}

					 {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="endless_page_link">{% endif %}{% if page.has_previous %}< </a>{% endif %}
					 <span class="endless_page_current">{{ page.number }} de {{ page.paginator.num_pages }}</span>

					 {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="endless_page_link">{% endif %} {% if page.has_next %}> </a>{% endif %}

					 {% endif %}
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
	$("#id_q").val("{{request.GET.q}}");
</script>
{% endblock extra_js %}
