{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}
{% block extra_js %}
<link rel="stylesheet" href="/static/css/mixitup.css">

 <script>
    $(function(){
        $('#Container').mixItUp();
      });
    $('.menu a.menu2').addClass('activate');
 </script>
  
{% endblock extra_js %}

{% block contenido %}

<div class="quienesfondo">
  <img src="/media/{{foto_publi.foto}}" alt="">
  <div class="row"><h1 class="text-center texto">{{foto_publi.titulo}}</h1></div>
</div>
<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">
      <div class="large-7 medium-7 columns">
          <section class="search" role="search">
            <form id="search-form" action="/search/", method="GET">
                <input id="search-input" type="text" role="search" value="Buscar..." name="q" id="q" onblur="if (this.value == '') { this.value = 'Buscar...';}" onfocus="if (this.value == 'Buscar...'){this.value = '';}" placeholder="Buscar...">
                <label for="search-input" class="ui-search"></label>
            </form>
          </section>
      </div>
      <div class="large-5 medium-5 columns">
        <div class="filtros right">
          <p>Filtrar por:</p>
          <li class="buton"><a href="/publicaciones/">Todos</a></li>
          <li class="buton"><a href="/publicaciones/cidoc/">CIDOC</a></li>
          <li class="buton"><a href="/publicaciones/simas/">SIMAS</a></li>
        </div>
      </div>
  </div>
</div>
<!-- finaliza el buscador y la red social -->

<div class="row section">
  <div id="Container">
  {% if query %}
    <div class="resultespacio">
    Se encontraron: {{page.paginator.count}} resultados de su busqueda: {{query}}
    </div>
  {% else %}
    No se encontro coincidencia en su búsqueda
  {% endif %}
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
    {% for obj in page.object_list %}
    <li>
      
          {% if obj.object.portada %}
            {% thumbnail obj.object.portada "192x177" crop="10%" as img %} 
              <div class="pbn">
                <div class="ih-item square effect14 left_to_right"><a href="{% url 'detalle-publicacion' obj.object.id obj.object.uri %}">
                <div class="img"><img src="/media/{{img}}" alt="{{obj.publicacion}}"></div>
                <div class="info">
                  <h3>{{obj.publicacion|truncatechars:68}}</h3>
                  <p>{{obj.claves|truncatewords:5}}</p>
                </div></a>
                </div>
              </div>
            {% endthumbnail %}
          {%else%}
           <article class="pbn2">
            <figure>
            <div class="fpbn2">
                <a href="{% url "detalle-publicacion" obj.object.id obj.object.uri %}">
                  <div class="mask2">
                      <div class="img2"><img src="/static/img/hojita.png" alt="{{publi.publicacion}}" width="40" height="40"></div>
                      <h3>{{obj.publicacion|truncatewords:7}}</h3>
                  </div>
                </a>
            </div>
            </figure>  
        </article>
          {%endif%}
      
    </li>
    {%endfor%}
    </ul>
  </div>
</div>

<div class="pagination-centered">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ page.number }} de {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">Próximo >></a>
        {% endif %}
    </span>
</div>


<hr>
{% include "footer.html" %}

{% endblock contenido %}