{% extends 'base.html' %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}
<style media="screen">
  .text-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    color:white;
    background-color: var(--primary-color-2)
  }
</style>
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Header Breadcrumbs-->
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                {% if object.titulo %}{{object.titulo}}{% else %}{{object.video}}{% endif %}
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="{% url 'multimedia:list-galeria' %}">
                        Galerías
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% if object.titulo %}{{object.titulo}}{% else %}{{object.video}}{% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- Single Project 1 -->
    <section class="single-project small-section">
        <div class="container">
            <div class="single-project--overview">
                <div class="overview--title">
                    <h2>{% if object.titulo %}{{object.titulo}}{% else %}{{object.video}}{% endif %}</h2>
                </div>
                <div class="overview--info-wrapper">
                  {% if object.fecha %}
                    <div class="info-wrappper--info">
                        <i class="fas fa-clock"></i>
                        <p>{{object.fecha|date:"d F Y"}}</p>
                    </div>
                  {% endif %}
                    <div class="info-wrappper--info">
                        <i class="fas fa-tag"></i>
                        <p><a href="">{% for obj in object.categoria.all %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if object.descripcion %}
    <!-- About item text -->
    <section class="about-item-text-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="inner-wrapper--content">
                        {{object.descripcion|safe}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% elif object.texto %}
    <section class="about-item-text-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="inner-wrapper--content">
                        <p>{{object.texto|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- Accordion gallery-->
    {% if object.fotosgaleria_set.all %}
    <section class="accordion-gallery-section">
        <div class="accordion-gallery">
            <div class="accordion-gallery--inner-wrapper">
                <div class="inner-wrapper--items-wrapper">
                    {% for obj in object.fotosgaleria_set.all %}
                    <div class="items-wrapper--item">
                        <div class="item--image-wrapper">
                            <div class="image-wrapper--image-inner">
                                <div class="image-inner--image">
                                    <div class="image--background"
                                        style="{% thumbnail obj.archivo "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
                                        <div class="text-img">
                                          <span>{{obj.nombre}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="items-wrapper--item-sizer"></div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
      <section class="about-item-text-section">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="inner-wrapper--content">
                          {% video object.youtube "100%x600" %}
                      </div>
                  </div>
              </div>
          </div>
      </section>

    {% endif %}


</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $("blockquote").wrapAll('<div class="blockquote-wrapper"></div>');
  $(".blockquote-wrapper").wrapAll('<div class="blockquote-type-2"></div>');
  $("blockquote p").each(function() {
    $("<h5>" + $(this).html() + "</h5>").replaceAll(this);
});
</script>
{% endblock extra_js %}
