{% extends 'base.html' %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% load embed_video_tags %}

{% block content %}
<style media="screen">
h3 {
  font-size: 26px !important;
}
</style>
<!-- Page Content -->
<div class="content-page-wrapper">
    <!-- Header Breadcrumbs-->
    <header class="breadcrumbs-type-1">
        <div class="container breadcrumbs--breadcrumbs-inner">
            <h1 class="breadcrumbs-inner--page-title">
                Galerías
            </h1>
            <ul class="breadcrumbs-inner--breadcrumbs-list">
                <li>
                    <a href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="#">
                        Galerías
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- Portfolio -->
    <section class="portfolio-metro small-section">
        <div class="container">
          <div class="row">
            <div class="buttons-sort col-md-9">
                <a href="{% url 'multimedia:list-galeria' %}" class="buttons-sort--button active-button" data-filter="*">Todos</a>
                {% for obj in tematicas %}
                    <a href="{% url 'multimedia:filtro-galeria' obj.0 %}" class="buttons-sort--button">{{obj.1}}</a>
                {% endfor %}
            </div>
            <div class="buttons-sort col-md-3">
                <a href="{% url 'multimedia:imagenes' %}" class="buttons-sort--button">Imágenes</a>
                <a href="{% url 'multimedia:videos' %}" class="buttons-sort--button">Videos</a>
            </div>
          </div>

        </div>
        <div class="three-column-container">
            <div class="grid" data-grid-layout-mode="masonry" data-grid-transition="0.6" data-grid-stagger="80">
                {% paginate 15 object_list %}
                {% for obj in object_list %}
                <div class="grid--grid-item grid--grid-item-33 web creative">
                    <!--<div class="scale-3d--wrapper">
                        <div class="grid-item--grid-inner scale-3d-hover-effect tilt-wrapper"
                                data-tilt-value="5" data-tilt-speed="1200"
                                data-tilt-scale="1" data-tilt-perspective="600">
                                {% if obj.portada %}
                                {% thumbnail obj.portada "1920x1280" crop="center" as im %}
                                <img src="{{ im.url }}" alt="" class="img-fluid">
                                {% endthumbnail %}
                                {% else %}
                                {% video obj.youtube as my_video %}
                                  {% thumbnail my_video.thumbnail "1920x1280" crop="center" as im %}
                                  <img src="{{ im.url }}" alt="" class="img-fluid">
                                  {% endthumbnail %}
                                {% endvideo %}
                                {% endif %}


                            <a class="grid-inner--description-wrapper" href="{% if obj.youtube %}{% url 'multimedia:videos-detalle' obj.id %}{%else%}{% url 'multimedia:detalle-galeria' obj.slug %}{% endif %}
                            ">
                                <div class="description-wrapper--content">
                                    <div class="content--tag">
                                        <p>{{obj.categoria.first}}</p>
                                    </div>
                                    <div class="content--title-subtitle">
                                        <h3>{% if obj.titulo %}{{obj.titulo}}{% else %}{{obj.video}}{% endif %}
                                        </h3>
                                    </div>
                                    <div class="content--date">
                                        <p>{{obj.fecha|date:"d F Y"}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>-->
                    <div class="grid-hover">
                      <figure class="effect-layla">
                        {% thumbnail obj.portada "1920x1280" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" class="">
                        {% empty %}
                        <img src="http://via.placeholder.com/1920x1280" alt="" class="">
                        {% endthumbnail %}
                        <figcaption>
                          <div class="scale-3d--wrapper">
                            <div class="description-wrapper--content">
                                <div class="content--tag">
                                    <p>{{obj.idcategoria.first}}</p>
                                </div>
                                <br>
                                <div class="content--title-subtitle">
                                    <p>{% if obj.titulo %}{{obj.titulo}}{% else %}{{obj.video}}{% endif %}</p>
                                </div>
                                <br>
                                <div class="content--date">
                                    <p>{{obj.fecha|date:"d F Y"}}</p>
                                </div>
                            </div>

                          </div>

                        </figcaption>
                      </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="pagination">
              {% show_pages %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}
