{% load thumbnail %}
{% load embed_video_tags %}
{% load solo_tags %}
{% get_solo 'otras.ImgIndex' as site_config %}
<!doctype html>
<html lang="zxx">
<head>
    <!-- HEAD START -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="SIMAS- Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
    <meta name="author" content="SIMAS">
    
    {% block title %}
        <title>SIMAS- Servicio de Información Mesoamericano sobre Agricultura Sostenible</title>
    {% endblock title %}
    <link rel="icon" type="image/png" href="/static/img/favicon/64x64.png" sizes="64x64">

     <!-- Metas GEO -->
         <meta name="copyright" content="Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
        <meta name="geo.region" content="NI-MN" />
        <meta name="DC.title" content="Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
        <meta name="geo.placename" content="Managua" />
        <meta name="geo.position" content="12.1432845, -86.28631" />
        <meta name="ICBM" content="12.1432845, -86.28631" /> 
        <!-- Metas DC -->
         <meta name="author" content="Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
        <meta name="publisher" content="Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
        <meta name="DC.creator" content="Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
        <meta name="DC.publisher" content="Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
        <meta name="DC.language" scheme="RFC1766" content="es" />

        <!-- robots -->
        <meta name="robots" content="index,follow" />
        <meta name="robots" content="noodp,noydir"/> 
        <!-- /robots -->

         {% block meta_keywords %}
        <meta name="keywords" content="desarrollo, humano, equidad de genero, conservación, gobernanza, recursos, naturales, soberanía, seguridad, alimentaria, empresas, rurales, servicios locales,  información, comunicación" />
        {% endblock meta_keywords %}

        {% block meta_keywords_google %}
        <meta name="keywords" content="desarrollo, humano, equidad de genero, conservación, gobernanza, recursos, naturales, soberanía, seguridad, alimentaria, empresas, rurales, servicios locales,  información, comunicación" />
        {% endblock meta_keywords_google %}

        {% block meta_description %}
        <meta name="description" content="Trabajamos por el respeto a la diversidad de la vida, el manejo transparente de nuestros recursos y relaciones internas y externas, la promoción de la equidad genérica y social y la re-valorización del conocimiento campesino e indígena como elementos fundamentales para la construcción de una nueva ciudadanía." />
        {% endblock meta_description %}

        {% block canonical %}
        <link rel="canonical" href='https://www.simas.org.ni'>
        {% endblock canonical %} 
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <!-- Magnific popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.min.css">
    <!-- Plur-->
    <link rel="stylesheet" href="/static/css/plyr.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="/static/css/aos.min.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Jquery Ui-->
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- img hover -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/hover/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/hover/css/demo.css" /> -->
		<link rel="stylesheet" type="text/css" href="/static/hover/css/set1.css" />
    <!-- HEAD END -->
    {% block extra_css %}{% endblock extra_css %}
    {% block extra_head %}{% endblock extra_head %}
    <style media="screen">
      #logo {
        width: 50px;
        padding-bottom: 1em;
      }
      .buttons-sort .buttons-sort--button:not(:last-child) {
        margin-bottom: 20px;
      }
      .sidebar-wrapper .sidebar-wrapper--sidebar .sidebar--sidebar-widget .sidebar-widget--search .search-form button i {
        color: #060606;
      }
      .single-post--text-wrapper ul, .single-post--text-wrapper ol{
          margin-bottom: 1rem;
          padding-left: 40px;
      }
      .single-post--text-wrapper ul li {
          list-style: circle;
          color: var(--primary-font-color);
      }
      .single-post--text-wrapper ol li {
          list-style: decimal;
          color: var(--primary-font-color);
      }
      .single-post--text-wrapper p {
           margin-top: 20px;
      }
      .single-post--text-wrapper .img-fluid {
          padding: 20px 0;
      }
      article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
        display: block;
        color: var(--primary-font-color);
        }

    </style>
</head>
<body>


<!-- PAGE START -->
<main class="page-wrapper">
    <!-- Page Loader -->
    <div class="page-loader">
        <p class="animate">SIMAS</p>
    </div>
    <!-- Cursor -->
    <div class="cursor">
        <div class="cursor--inner cursor--inner-circle"></div>
        <div class="cursor--inner cursor--inner-text"></div>
    </div>
    <!-- Navbar -->
    <nav class="navigation-menu">
        <!-- LOGO -->
        <div class="inner-wrapper">
            <div class="navigation-menu--logo-wrapper navigation-button">
                <a href="/">
                    <div class="logo-wrapper--image-wrapper">
                        <img src="/static/img/logo.png" alt="" class="img-fluid" id="logo">
                    </div>
                </a>
            </div>
            <div class="right-side">
                <!-- Toggle-->
                <div class="navigation-menu--toggle-btn navigation-button">
                    <div class="toggle-btn--menu">Menú</div>
                    <div class="toggle-btn--wrapper-toggles">
                        <div class="wrapper-toggles--one"></div>
                        <div class="wrapper-toggles--two"></div>
                        <div class="wrapper-toggles--three"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Menu-->
        <div class="navigation-menu--inner-wrapper bg-size-cover bg-position-center bg-attachment-fixed overlay black-overlay" style="{% thumbnail site_config.menu_principal "1920x1280" crop="center" as im %}background-image: url({{ im.url }}){% empty %}background-image: url('http://via.placeholder.com/1920x1280'){% endthumbnail %}">
            <div class="inner-wrapper--menu-wrapper">
                <ul class="menu-wrapper--menu-list active-window">
                    <li class="menu-item"><a href="/">Inicio</a></li>
                    <li class="menu-item"><a href="/quienes-somos/">Somos SIMAS</a></li>
                    <li class="menu-item"><a href="{% url 'noticias:noticias' %}">Actualidad</a></li>
                    <li class="menu-item"><a href="{% url 'blogs:blogs' %}">Cambiando Vidas</a></li>
                    <li class="menu-item"><a href="{% url 'publicaciones:publicaciones' %}">Publicaciones</a></li>
                    <li class="menu-item"><a href="{% url 'list-proyectos' %}">Proyectos</a></li>
                    <li class="menu-item"><a href="{% url 'multimedia:list-galeria' %}">Multimedia</a></li>
                    <!-- <li class="menu-item"><a href="rtl-index.html">Servicios</a></li> -->
                    <!--<li class="menu-item"><a href="rtl-index.html">Contáctenos</a></li>-->
                </ul>
            </div>
        </div>
        <div class="navigation--sidebar-panel">
            <div class="sidebar-panel-toggle-close">
                <i class="fa fa-times"></i>
            </div>
            <div class="sidebar-panel--inner-wrapper">
                <h5>Your cart is empty</h5>
                <div class="button-wrapper">
                    <a href="shop.html" class="button btn-type-2">Go Shopping</a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock content %}
    <footer class="footer">
    <div class="container">
        <div class="row footer-head">
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <img src="/static/img/logo.png" alt="" >
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="sidebar-widget">
                    <h6 class="sidebar-widget--sidebar-title">Contacto</h6>
                    <div class="sidebar-widget--contacts">
                        <ul class="contacts--contact-info">
                            <li><i class="fa fa-map-marker"></i>
                                <!-- <p>Lugo Rent a Car 1c al lago, esquina sur oeste parque El Carmen. Reparto El Carmen, Managua, Nicaragua.</p> -->
                                <p>Esquina Noreste de la Escuela Normal María Mazzarello, 110 varas abajo. Altagracia</p>
                            </li>
                            <li><i class="fa fa-envelope"></i><p>Apartado postal A-136</p></li>
                            <li><i class="fa fa-phone"></i><p>PBX y Fax: (+505) 22682302</p></li>
                            <li><i class="fas fa-at"></i><p>simas@simas.org.ni</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="sidebar-widget">
                    <h6 class="sidebar-widget--sidebar-title">Últimas noticias</h6>
                    <ul class="sidebar-widget--post-list">
                        {% for obj in latest_news_footer %}
                        <li class="post-list--post">
                            <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}">
                                <div class="post--img-wrapper">
                                    {% if obj.foto %}
                                        {% thumbnail obj.foto "1920x1280" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="" class="img-fluid">
                                        {% endthumbnail %}
                                    {%elif obj.url %}
                                        {% video obj.url as my_video %}
                                        {% thumbnail my_video.thumbnail "1920x1280" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="" class="img-fluid">
                                        {% endthumbnail %}
                                        {% endvideo %}
                                    {% else %}
                                        <img src="http://via.placeholder.com/1920x1280" class="img-fluid" alt="">
                                    {% endif %}
                                </div>
                            </a>
                            <div class="post--post-body">
                                <a href="{% url 'noticias:detalle-noticia' obj.id obj.uri %}">
                                    <h6>{{obj.noticia|truncatechars:30}}</h6>
                                </a>
                                <div class="post-body--description-box">
                                    <p class="description-box--date">{{obj.fecha|date:"M d, Y"}}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <h6 class="sidebar-widget--sidebar-title">Redes Sociales</h6>
                <div class="wrapper--socials">
                    <div class="social-icons-type-2">
                        <a href="index.html" class="social-box facebook-h">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <!--<a href="index.html" class="social-box linkedin-h">
                            <i class="fab fa-linkedin-in"></i>
                        </a>-->
                        <a href="index.html" class="social-box twitter-h">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!--<a href="index.html" class="social-box instagram-h">
                            <i class="fab fa-instagram"></i>
                        </a>-->
                        <a href="index.html" class="social-box google-plus-h">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--<div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="sidebar-widget">
                    <h6 class="sidebar-widget--sidebar-title">Tag Cloud</h6>
                    <div class="sidebar-widget--tag-cloud">
                        <a href="index.html" class="tag-cloud--tag">Solution</a>
                        <a href="index.html" class="tag-cloud--tag">Design</a>
                        <a href="index.html" class="tag-cloud--tag">Visual</a>
                        <a href="index.html" class="tag-cloud--tag">Gallery</a>
                        <a href="index.html" class="tag-cloud--tag">Scss</a>
                        <a href="index.html" class="tag-cloud--tag">Creative</a>
                        <a href="index.html" class="tag-cloud--tag">Famous</a>
                        <a href="index.html" class="tag-cloud--tag">People</a>
                        <a href="index.html" class="tag-cloud--tag">Food</a>
                        <a href="index.html" class="tag-cloud--tag">Science</a>
                        <a href="index.html" class="tag-cloud--tag">HTML</a> <a href="index.html"
                                                                                class="tag-cloud--tag">Photo</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="footer-body">
        <div class="footer-body--wrapper">
            <p>Copyright © <script>document.write(new Date().getFullYear())</script> SIMAS. Todos los derechos reservados</p>
        </div>
    </div>
</footer>
</main>
<!-- PAGE END -->

<!-- INCLUDE SCRIPTS START -->

<!--Jquery-->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<!--TweenMax-->
<script src="/static/js/TweenMax.min.js"></script>
<!-- ImageLoaded -->
<script src="/static/js/imagesloaded.pkgd.min.js"></script>
<!-- Magnific Popup-->
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<!-- Isotope -->
<script src="/static/js/isotope.pkgd.min.js"></script>
<!-- Plyr -->
<script src="/static/js/plyr.min.js"></script>
<!-- Tilt -->
<script src="/static/js/tilt.jquery.min.js"></script>
<!-- Sticky sidebar -->
<script src="/static/js/sticky-sidebar.min.js"></script>
<!-- Packery -->
<script src="/static/js/packery.pkgd.js"></script>
<!-- Waypoints -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- AOS-->
<script src="/static/js/aos.min.js"></script>
<!-- Swiper -->
<script src="/static/js/swiper.min.js"></script>
<!-- Jquery Ui-->
<script src="/static/js/jquery-ui.min.js"></script>
<!-- Main JS-file -->
<script src="/static/js/main.js"></script>
<!-- INCLUDE SCRIPTS END -->
<script type="text/javascript">
$(function() {
  var header = $(".navigation-menu");

  $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      var height = $('header').height();
      if (scroll > height) {
          header.addClass("overlay dark-overlay");
      } else {
          header.removeClass("overlay dark-overlay");
      }
  });

});
$('.single-post--text-wrapper img').css({'height' : 'auto'});
</script>

{% block extra_js %}{% endblock extra_js %}

</body>
</html>
