{% extends 'base.html' %}

{% block content %}
<!-- Header Breadcrumbs-->
<header class="breadcrumbs-type-1">
    <div class="container breadcrumbs--breadcrumbs-inner">
        <h1 class="breadcrumbs-inner--page-title">
            Servicios
        </h1>
        <ul class="breadcrumbs-inner--breadcrumbs-list">
            <li>
                <a href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#">
                    Servicios
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="blog-single-post small-section">
    <div class="default-container">
        <div class="row">
            <div class="col">
                {% for obj in object_list %}
                <div class="single-post--title">
                    <h3>
                        {{obj.servicio}}
                    </h3>
                </div>
                <div class="single-post--text-wrapper">
                    {{obj.descripcion|safe }}
                </div>
                <div class="single-project--item-description">
                    <div class="container">
                        <div class="row item-description--project-information">
                            <div class="col-md-4 project-information--info-wrapper"
                                 data-aos="fade-up"
                                 data-aos-anchor-placement="top-bottom"
                                 data-aos-easing="ease-in-out"
                                 data-aos-duration="800">
                                <p class="info-wrapper--subtitle">Contacto: </p>
                                <h6 class="info-wrapper--info-title">{{obj.nombre_contacto}}</h6>
                            </div>
                            <div class="col-md-4 project-information--info-wrapper"
                                 data-aos="fade-up"
                                 data-aos-delay="100"
                                 data-aos-anchor-placement="top-bottom"
                                 data-aos-easing="ease-in-out"
                                 data-aos-duration="800">
                                <p class="info-wrapper--subtitle">Correo: </p>
                                <h6 class="info-wrapper--info-title">{{obj.correo_contacto}}</h6>
                            </div>
                            <div class="col-md-4 project-information--info-wrapper"
                                 data-aos="fade-up"
                                 data-aos-delay="200"
                                 data-aos-anchor-placement="top-bottom"
                                 data-aos-easing="ease-in-out"
                                 data-aos-duration="800">
                                <p class="info-wrapper--subtitle">Teléfono: </p>
                                <h6 class="info-wrapper--info-title">{{obj.telefono_contacto}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
