{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load leaflet_tags %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/animate.min.css"/>
{% leaflet_js %}
{% leaflet_css %}
{% endblock extra_css %}

{% block content %}
<style>
.map-bg{
	background-image: linear-gradient(to right, rgba(8, 156, 123, .85), rgba(8, 156, 123, .85)), url(/static/img/prueba/fun-bg.jpg);
}
.slider1 p{
    background-color:#3DB4D9;
}
.slider1 a{
    background-color:#3DB4D9;
}

</style>
<style type="text/css">
    .departamento:hover{
        fill:#089c7b;
        cursor:pointer;
        stroke:#1b3039;
    }
    
    .departamento{fill:#CCCCCC;stroke:#1b3039;stroke-width:1;}
    .fill-color-base{
        fill:#089c7b;
    }
</style>
<section class="main-slider">
    <div id="carouselId" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for portada in latest_portada %}
                <li data-target="#carouselId" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active {% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
          

          {% for portada in latest_portada %}
                <div class="carousel-item {% if forloop.first %} active {% endif %} slider1">
                    {% thumbnail portada.foto "1260x400" crop="center" as im %}
                        <img class="d-block w-100" src="{{ im.url }}" alt="portada.texto1">
                    {% empty %}
                        <img src="https://place-hold.it/1260x400" class="card-img-top" alt="...">
                    {% endthumbnail %}
                    <div class="carousel-caption text-left">
                        <p class="badge badge-main mrb-10 wow animate__animated animate__bounceInDown" data-wow-duration="1s" >
                            {{portada.texto1|upper}}
                        </p>
                        <h2 class="wow animate__animated animate__bounceInUp" data-wow-duration="2s">
                            {{portada.texto2|upper}}
                            <!--TECNOLOGÍA PARA LA EDUCACIÓN
                            <br>Y LA IGUALDAD EN BOSAWAS-->
                        </h2>
                        {% if portada.url %}
                            <a class="btn btn-slide wow animate__animated animate__bounceInLeft"  data-wow-duration="2.3s"  href="{{portada.url}}" >
                                Leer más <span class="fa fa-chevron-right"></span>
                            </a>
                        {% endif %}
                        
                        
                    </div>
                </div>
          {% endfor %}
            <div class="slide-overlay"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</section>

<section class="list-noticias padding-seccion">

    <div class="container">
		<div class="row mrb-30">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="seccion-heading-style-two">
					<h2 class="text-color-base">Actualidad</h2>
                </div>
                
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a class="btn btn-style-two box-shadow float-right" href="/noticias">Todas las noticias</a>
            </div>
		</div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                {% for nota in latest_news|slice:":2" %}
                    <div class="card mb-2 box-shadow " >
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="{% url 'noticias:detalle-noticia' nota.id nota.uri %}">
                                    {% thumbnail nota.foto "800x480" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{nota.noticia}}">
                                    {% empty %}
                                        <img src="https://place-hold.it/800x480" class="card-img-top" alt="{{nota.noticia}}">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="card-body ">
                                    <div class="card-tags">
                                        <span class="badge badge-main" style="background-color:#3DB4D9;">{{nota.categoria.first}}</span>
                                        <span class="date">{{nota.fecha|date:"d F, Y"}}</span>
                                    </div>
                                    <h5 class="card-title">
                                        <a href="{% url 'noticias:detalle-noticia' nota.id nota.uri %}">{{nota.noticia}}</a>
                                    </h5>
                                    <p class="card-text">{{nota.descripcion|safe|truncatechars:128}}</p>
                                    <a href="{% url 'noticias:detalle-noticia' nota.id nota.uri %}" class="card-button text-color-base">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 v-notice" >
                {% for nota in latest_news|slice:"2:3" %}
                <div class="card box-shadow no-gutters" >
                    <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                        <a href="{% url 'noticias:detalle-noticia' nota.id nota.uri %}">
                            {% thumbnail nota.foto "800x480" crop="center" as im %}
                                <img src="{{ im.url }}" alt="{{nota.noticia}}">
                            {% empty %}
                                <img src="https://place-hold.it/800x480" class="card-img-top" alt="{{nota.noticia}}">
                            {% endthumbnail %}
                            
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                        <div class="card-body">
                            <div class="card-tags">
                                <span class="badge badge-main" style="background-color:#3DB4D9;">{{nota.categoria.first}}</span>
                                <span class="date">{{nota.fecha|date:"d F, Y"}}</span>
                            </div>
                            <h5 class="card-title">
                            <a href="{% url 'noticias:detalle-noticia' nota.id nota.uri %}">{{nota.noticia}}</a>
                            </h5>
                            <p class="card-text">{{nota.descripcion|safe|truncatechars:94}}</p>
                            <a href="{% url 'noticias:detalle-noticia' nota.id nota.uri %}" class="card-button text-color-base">Leer más</a>
                        </div>
                    </div>
                </div>
                {%endfor %}
            </div>
        </div>
    </div>
    
</section>
<!-- <h1 class="wow animate__animated animate__backInLeft " data-wow-duration="1s">An animated element</h1> -->

<section class="project-map padding-seccion">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <div class="seccion-heading-style-one">
                    <h2 class="text-color-base  mrb-40">Proyectos</h2>
                </div>
            </div>
        </div>
            <style>
                #mapid { height: 580px; }
            </style>
            {% leaflet_map "mapid" %}
        
        <!--<div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 text-center map-bg">
				<div class="fun-left">
					<h2 class="color-white">PROYECTOS</h2>
					<div class="row" id="list-proyectos">
                        {% for obj in proyectos %}
                        <div class="col-sm-6 col-md-3 col-lg-3 mrb-30 proyecto">
                            <div class="fun-image">
                                {% thumbnail obj.foto "104x104" crop="center" as im %}
                                    <img class="img-fluid" src="{{ im.url }}" alt="" >
                                {% empty %}
                                    <img src="https://place-hold.it/104x104" class="img-fluid" alt="...">
                                {% endthumbnail %}
                                <h5><a href="{% url 'detalle-proyecto' obj.slug %}" class="color-white" id="prueba">{{obj.nombre}}</a></h5>
                            </div>
                        </div>
                        {% endfor %}

					</div>
				</div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 align-self-center map-right-bg">
                <div class="position-absolute data">
                    <h1 class="color-white">Nicaragua</h1>
                    <p class="color-white data" id="beneficiario">
                        {{beneficiarios|default:"0"}} <br>
                        Personas Beneficiadas
                    </p>
                </div>
                <div class="map-indicador">
                    <svg version="1.1" id="Capa_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" xmlns:amcharts="http://amcharts.com/ammap"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 549.7 537.9"
                        style="enable-background:new 0 0 549.7 537.9;" xml:space="preserve">
                        <switch>
                            <foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
                                <i:aipgfRef  xlink:href="#adobe_illustrator_pgf">
                                </i:aipgfRef>
                            </foreignObject>
                            <g i:extraneous="self">
                                <defs>
                                    <amcharts:ammap  bottomLatitude="10.707073" leftLongitude="-87.690700" projection="mercator" rightLongitude="-82.737853" topLatitude="15.026288">
                                    </amcharts:ammap>
                                </defs>
                                <g>
                                    <path id="NI-AN" class="departamento raan" d="M498,175.1l-0.9,0.2l-0.3-0.4l0.9-1l-0.5-1l2-1.5l0.3,0.2v1.2L498,175.1z M547.3,11.9l-1.7,0.4
                                        l-1.8-0.2l-0.2-0.3l0.2-0.2l1.9,0.4l1.8-0.5L547.3,11.9z M549.2,8.3l-1,2l-0.4-0.2l0.2-0.9L547.8,9l-0.3,0.8l-0.6-0.1l0.1-1.1
                                        l2.5-1.3l0.2,0.6L549.2,8.3z M524.2,6.6l0.5,0.5l0.7-0.2l0.3-1.5l0.3-0.1l1.7,0.4l3.3,1.6l2.7-0.5L534,7l-0.1,0.7l-1.6,1.4
                                        l1.1,0.8h0.4l0.8-1.2l2.5-0.1l2,0.5l3.3-1.5l2.2,0.4l2.2,1.5l-0.1,1.4l-1,0.3l-0.2-0.2l0.8-0.6l-0.2-0.2l-0.6,0.4l-0.4-0.7
                                        l-0.9,0.1L543,8.9h-0.4l-1.1,1.9l0.5,0.1l0.4-0.6h0.3l0.1,0.4l-0.5,0.8l-3.2,3.6l-0.7,0.3l-3.4,4l-1.1,2.7l-0.4,3.7l-3.4,7.9
                                        l-2.8,0.2l-0.4-0.4l1-0.5l-0.1-0.9l1.4-1.2l-0.1-0.6l-1.2,0.8l-0.3-0.2l-0.2-1.6l0.7-1.1l0.7-0.3l0.5,0.5l1.4,0.3l0.8,0.8
                                        l0.3-0.3l-0.3-1.6l-1.5-3l-0.5-4.3l-0.4-1l-0.7-0.5l-2.8,0.2l-2,1.2l-1.1,1.3l-2.6,5.1l-0.7,0.1l-1.8-1.1l-0.6,0.1l1.3,1.3
                                        l0.1,2.4l-0.5,0.7l-1.5,0.5l-0.5,0.9l0.1,0.6l0.8,0.1l0.8-1.3h0.3l0.3,1.4l1.3-0.6l0.4,2.6l1.2,2v1.2l3.5,2.9l2.9-0.2l0.3-1.5
                                        l-1-1.6l-3.4-0.7l0.1-0.7l3.1,0.2l1.1,1l0.7,1.2l0.7,0.2v-0.5l-0.8-1l0.4-0.6l-0.3-0.9l0.7-1l0.5,0.1l2.6,13.9l1.4,4.7l0.5,3.6
                                        l3.9,12.3l0.7,0.9l0.4,2.5l-0.8-1.5l-2.2,0.2l-1.5-1.2l-0.1-0.6l0.4-0.5l-0.6-1.9l-2.3-3.6h-0.9l0.3,0.9l-0.3,0.5l0.1,0.3
                                        l1.3,0.4l-0.3,2.3l0.2,0.1l0.6-0.9l0.5,0.2l-0.3,1l1,3.3l-0.2,1.9l0.7,0.1l1.1-0.9h0.9l0.5-1.1h0.4l0.5,1l0.7,0.3l0.6,1.6
                                        l0.4,0.3L540,74l0.4,0.1l0.3,0.8l-0.2,1.5l2.1,12.8l-2.4,7.6L536,106l-3.1,5.6l0.1-0.9l1.3-2.1l0.1-1.4l1.1-1.6v-2.5l0.8-1.3
                                        l1.7-4.7v-1.7l-1.5-2.5l-1.6-1.4l0.3-0.7l1.2,1.2l0.2-0.8l-2.1-4.5L532,83l-1.1-0.3l-1,2.1l1.5,1l1.5,2.7l-1-0.4l-1.2-1.3
                                        l-1.8-0.3l-0.7-0.9h-0.7l2,4.3l-1.8,0.3l-0.4-1.3l-0.7,0.5l-0.9,0.1l-0.3,1.2l0.8,0.4l0.9,1.6l0.8-1.4l0.9-0.2L529,93l-0.7,2.4
                                        l0.9,1.3l0.3,1.5L531,99l0.2-0.2l-0.5-1l0.5-0.2l0.9,0.4l1.6,1.3l-0.1-1.4l0.9,0.4l0.2,1.3l-0.6,0.3l-0.3,0.8l1.9,1.4l-0.7,0.8
                                        l0.2,1.7l-1.4,3.1l-1.3-0.7l-0.8,1.5l-1,0.3l-0.2,0.3l0.9,0.2l1.7-1.4l0.7,0.3l-1.4,2.3l-0.1,2.6l-0.6,0.4l-0.7,1.8l-2.4,2
                                        l-3.1,3.7l-1.1,2.7l-2.2,2.2l-1.1,1.6l-1.2,0.1l-2.5,2.3l-1.2,1.8l-0.4,1.4l-1,0.9l0.3,0.9l-1.2,2.4l-0.3-1.1l-1.3-1.5l0.1-1.8
                                        l0.3-0.7l2.2-1.4l0.5-2.1l-2.2,1.8l-1-1.8l-2.6-2.5l1.1-2.8l-1.8-1.3l0.2-1.6l-2.3-0.3l-0.2-0.4h0.7l0.1-0.4l-0.2-1.7l-0.7-1.1
                                        l0.1-1.5l-0.5-0.5l-2.5-0.2l-1.5-0.8l-0.3-1.8l-1.1-0.8l0.1-1.9l-0.6-1.8l0.6,0.5l0.3-0.3l1.1,0.1l-0.6-0.6l1.2-3l-4.7-3.5
                                        l-0.4-0.9l0.4-1.5l-1.5-0.3l-1.3-2.9l-0.2-1.6l-1.3-0.2l-1.1,1.1l-0.7-0.6l-2.1-0.6l-1.8,0.9l-0.9-0.1l-2.6-1.5l-2.2-0.6l-3-1.7
                                        l0.4,0.9l0.7,0.4l3.3,0.9l3.9,2.4h0.9l0.8-0.9l1.5,0.3l1.2,1l1.8-1.1l0.7,0.7l0.1,1.5l1,2.3l0.8,0.5h0.8l-0.3,1.3l0.5,0.9
                                        l3.2,2.2l1.3,1.5l-1.1,2.1h-0.8l-0.4,0.3l0.4,1.8v2.3l1.1,1.1l0.5,1.7l4.1,1.3l1.1,2.8l-0.8,1.2l0.1,1l0.4,0.4l1.6,0.1l-0.2,1.4
                                        l1.7,1.3l-0.1,0.7l-0.9,1.3l0.1,0.5l1.5,1.9l2.3,2l-0.1,0.9l-0.5,0.6l-1.6,0.6l-0.2-1.3l-0.4-0.3l-3.2-1.6H506l-0.8,1l-0.9,2.2
                                        l-0.1,1.1l0.4,0.4l3.3-0.8l0.9,0.6l0.1,0.7l-1.3,1.8v1l0.6,0.8l1.3,0.1l1.6-0.6l1.1,0.2l0.4,0.4l-0.5,2.5l0.2,1.4l-0.7,2v0.9
                                        l0.6,0.9l-1.5,2.3l-1.8,4.2l-2.3,10.4l-2.9,20l-0.8-0.6l-0.7-3.6l0.1-1.7l1.4-4l-0.7-2.2l0.6-1.3l1.6-1.9l0.2-0.7l-1.4-2.9
                                        l-0.8-0.2l0.4,0.7l-2.9,0.3l-0.6,0.6l0.7,1.4l1.4,0.5l-0.3,0.8l-1.7,0.8l-3.1-0.6l-2,0.7l-0.4,0.6l0.1,1.6l-0.4,0.5l-1.7-1.6
                                        l-1.4-2.3l-0.3-1.1l0.1-1.7l-0.5-1l-0.9-0.8l-2-0.3l-2.7-3.2l-0.4-2.5l-0.6,0.6l0.1,1.5l1.1,2.8l4.7,2.8l0.3,2.1l0.7,1.6l2.8,3.4
                                        v0.3l-1.4-0.2l-0.2,0.4l1.1,0.5l0.5-0.3l0.7,0.4l1.8,2.3l1.2,2.9l1.8,0.6l-0.4,0.7l0.2,0.3l1-0.1l0.7,0.4l0.7-0.6l0.3,0.3
                                        l0.4,1.8l-0.9,0.6l-0.4-0.9l-0.5-0.3v1.2l0.4,0.5l1.5-0.1l1.5,1.3l-0.1,1.3l-0.8-0.4l-0.9-0.1l-0.2,0.3l1.9,1.4l0.4,0.6l-0.8,1.1
                                        l-0.2,1.2l-1.6,3.6l-0.1,1.1l-1.3-1.8l-1-0.7l-1.7-0.8l-1.4,0.3l1.1,1.2l2.7,1.5l-1,1l0.1,0.5l0.3,0.2l1.3-1.3l-0.9,6.4l-0.7,0.8
                                        l-0.3-0.1l0.6-2.1l-1.7,0.3l-1.6,1.8l-0.6,1.3l-1.2-0.4l-0.9,0.4l-0.9,2.8l-1.8-0.4l-1,1l-3.9,2.4l-0.9-0.3l-0.5-1.8l0.4-0.7
                                        l-0.3-0.6l-3.3-0.6l-1.4-0.8l-2.5,0.6l-1-0.1l-0.8-1l-0.5-2l-1.9-1.5l-1.2-1.7l-2.3-0.8l-0.3-0.5l0.1-2.5l-3.7-4.2l-0.1-1.4
                                        l2.2-2.1l-1.1-4l-2.6-2.9l-1.5-0.2l-2.9-1.4l-1.3,0.4l-1.5,1.4l-2.4-0.2l0.7,1h1.1l1.5-0.7l1.4-1.4l1.2,0.4l0.7,0.9l1.7,0.6
                                        l1.1-0.1l2.2,3.2l0.1,1.9l0.4,0.9l-0.1,0.6l-1.4,0.8l0.1,0.9l-0.5,1.4l1.6,1.8l0.3,0.9l1.1,0.2L467,193l1.1,0.2l0.2,0.5l0.1,3.1
                                        l-0.5,0.8l-2.2,0.6l-2.9,2.6l-1.3-0.1l-1.4,0.5l-1.6-1.7l-1-0.3l-2.1,0.2l-3.8-0.3l-1.1,0.8h-0.9l-1.5-0.7l-0.2-0.6l-0.8-0.6
                                        l-2.5-0.5l-0.4-0.9l-1.3-0.5l0.7-1.2l-2.2-0.4l-0.8,0.7l-0.3-0.1l-0.1-0.9l-2.2-0.8l-0.8,0.8l-1.1-0.2l-1.1,0.4l-1.1-1.4
                                        l-2.1,1.4l-2.3,0.3l-6.4-2.6l-1.2-0.2l-0.4,0.7l-1.4,0.9l-0.6,1.9l0.7,0.3l0.5-0.2l0.1-1.6l1.5-0.9l5.9,2.6l3.5-0.1l1.8-1.3
                                        l0.7,1l0.7,0.2l0.9-0.5l2.4-0.5l1.7,1.5l1.9-0.7l0.1,1.2l1.7,1l0.8,0.9l2.4,0.7l3.3,1.8l2-0.7l2.9-0.2l2.6,0.6l2.6,1.7l1.3-0.6
                                        h0.9l2.9-2l2.8-0.9l0.6-0.8h0.5l1.5,0.6l2.6,2.6l1.1,2.8l2,0.6l2.2-0.7l2.4,1h1.9l0.5,2.6l1.5,1.2l1.3-0.2l1.4-0.8l1.4-1.5
                                        l1.6-0.7l1,0.4l0.9-0.4l0.6-0.9l-0.1-1.4l0.6-0.5l0.7,0.3l2.4,3.2l1.6-1.9l0.9-2.5h0.3l0.2,0.6l-0.5,1.6l-1.2,14.9l1.4,15.6
                                        l2.1,14.3l0,0l-5-0.7l-7,0.2L468.4,234l-0.7-0.9l0.1-0.7l1.3-3l2.5-4.4l-0.2-0.9l-0.7-0.4l-1.5-0.4l-1.7,0.1l-3-2.3h-5.2
                                        l-11.8-2.4l-7.8-0.9l-3.6-1.4l-8.5,0.5l-1.5,0.6l-2.5,0.1l-3.3,2.5l-1,0.3l-1.1-0.2l-0.8-1.7l-0.6-0.4l-1,0.6l-1-0.1l-0.6,0.4
                                        l-0.9-0.6h-0.7l-1.1,0.6l-2.5,2.7l-25.4,0.7l-25.3,3.6l-6.8,9.5l-1.4,0.6l-5.2,0.9l-2.2,1.1l-2.1,3.5l-1.7,1.5l-10.7-0.7
                                        l-5.5-1.3l-6,4.1l0,0l-0.8-1.4l-1.3-1.1l-0.5-1.2v-1l0.8-1.7l3.8-1.9l0.6-0.9l-0.4-1l1.6-2.5l0.1-1l-0.5-0.7l-2.5-0.2l-2.6,0.8
                                        l-1.3,1.1l-0.4,2l-0.8-0.4l-0.9-1.5l-2.6,0.2l-0.3,2.6l-0.3,0.4l-1.9-2.6l-1.6,1.7l-1.5-0.2l-1.2,1.7H300l-0.5,0.3l-0.8,1.6
                                        l-0.8,0.1l-1.2-0.9l-1-0.1l-0.7-1.2l-1.4-0.3l-1-2.3l-1.9-0.4l-0.9-1.3l-1.3-0.8l-0.8-1.1l-0.5-0.2l-1.1,0.8l-1.8,0.2l-2.8-1.9
                                        l-1.8-2.3l-0.9-2.1l-2.9-1.5l-1.7-3.2l-1.8-1.2l-3.6-4.5l-1.2-2.8l-0.4-2.2l-0.8-1.6l0,0l-0.7-2.2l0.1-1.2l0.8-1.3l1.5-1.5
                                        l2.7-1.6l3.7-3.3l3.5-1.2l1.5-2.5l-0.1-3.1l1.2-2.6l0.7-3.4l-0.6-1.4l-2.1-1.7l-1.2-1.6l-0.2-0.8l0.6-1.7l2.9-1.7l0.8-0.9
                                        l1.4-6.7l9.2-0.2l16.5-10.7l11.8,5.9l24.8-40.3l-1.5-7.2l4.7-24l-14.2-0.8l-0.6-1.5l-1.3-0.2l-0.9-2l-1.5-0.9l-0.6-2l-1.3-0.7
                                        l-0.3-0.8l0.2-0.7l1.1-0.3l0.9-0.8l-0.1-3.3l-0.7-0.9l0.5-1.8l0.5-0.2l1.3-1.4l0.1-1.2l-1.2-2l-1.8-0.2l-1.7-2l0.8-1.7l-0.9-0.8
                                        v-0.9l0.8-1.5l0.2-1.3l1-1.6l-0.4-1.5l-1.9-0.9l-0.6-0.9l-1.5,0.1l0,0l-1.5-0.2l-0.2-0.4l1.6-1.7l0.3-0.8l-0.5-1.1l-2.2-1.5
                                        l-0.3-0.9l0.2-0.7l0.8-0.6l1.4,0.1l1-1.9l-0.6-0.5l0.1-1.1l2-2l1.6-1l1.2-1.5l1.3-0.3l1.9-1.7l3.9-0.8l0.3-1.7l1.2-1.7L338,32
                                        l1.6-1.5l2.2-0.1l2.5,0.4l2.6-1.6l2.3-0.4l1.1,0.7h0.9l0.5,0.8l0.7,0.2l0.4,1.9l0.9,1.2l3.3,2.1l0.3,1.1l-0.5,0.7l-1.1-0.2
                                        L355,38l0.6,0.8l0.7,0.2l1.4-0.7l0.4,0.9l-0.6,1.5l0.5,1.7l2.9,2.5l1.3,0.3l0.9,3.3l1.1,0.1l1.8-3.2l0.7,0.2l-0.1,0.7l0.7,0.8
                                        l1.3,0.7l2.6-0.6l0.6,1.3l2.1,0.1l2,0.8l1-0.4l1,0.9l1.5-0.4l1,0.9l0.8-0.5l3.5-0.4l0.1,0.4l-0.6,0.7l-1.1,0.3l0.3,1.6l1.6-0.2
                                        l1.2-0.5l0.5,0.1l0.1,0.8l0.9,0.7l3.5,0.8l0.4-0.1l1-1.8l3-0.2l2.8-1.4l0.2-1.3l3-2.9l0.7-1.7l1.2-1.4l-0.1-0.8l0.4-0.4l1.3,0.9
                                        l1.3,0.3l-0.9,2v0.8l0.3,0.4l0.9,0.5l1.7,0.2l0.7-0.2l0.5-0.8l0.9-0.3l0.7,0.6l0.4,1.5l0.5,0.5l2.1,0.7l2.9-2.4l-1-0.9l0.4-2
                                        l-1.2-2.6l0.2-1.6l0.5-0.7l3-2.1l1.1,0.1l0.8,0.6l-0.8,2.1l1.2,0.5l1.5,1.4l3.1,1L430,42l0.8-1l1.3-0.6l3.6,0.4l-0.1-1.9
                                        l-0.9-0.7l-1.4-3.3l0.1-1l0.5-0.7l1.7-0.2l1.4,0.4l0.3,0.4v2.8l0.3,0.3l0.6,0.1l3.1-1.5l0.4,0.1l0.6,2.7l2,0.5l2.9-1.3l2.8,1.2
                                        l3.1-1.3h0.6l1.2,0.9l1,0.1l0.2-0.5l-1-2.3l0.3-0.3l1.5,0.1l0.7-0.6l2.3,1.6L461,36l-0.3-0.6l0.4-1.6l0.4-0.1l0.6,0.5l0.5,1.8
                                        l1.6-0.7l1.4,0.1l1.9-2.1l4.7-0.4l-2.7-1.7l-0.1-0.4l0.5-0.3l2.4,1l0.8-0.5v-1.2l0.3-0.3l1.3,1.3L476,31l0.3-0.6l-0.2-1.1
                                        l0.7-0.9l2.5,1l-0.1-0.9l-0.7-0.9l0.4-0.2l1.3,0.2l1-0.3l1.1,0.8h0.7l-0.1-0.6l0.4-0.9l-1.7-0.7l0.4-0.6l1-0.1l0.7-0.6l-0.1-1.6
                                        l0.4-0.1l0.9,0.8l2.2-1.3l1.4,0.1l0.6-0.6h0.8l1.6,0.3l0.4,0.4l-0.1,1.2l0.7,0.6l0.4-0.2l-0.4-1.3l1.2-1.6l-0.6-0.7v-0.5l2.5-0.7
                                        l-0.4-1.5l1.2-0.1l1,0.6l1.1-0.6l1.1,0.4l0.3-3.2l0.5-0.3l1.4,0.3l0.3-0.5l-0.9-1.5l0.3-0.2l1.5,0.8l0.3-0.2l-0.8-1l-0.5-1.9
                                        l0.5-0.8l1.4,1l0.5-0.1L504,10l-0.2-1.3l0.4-0.4l1.3,1.2l0.5-1.3l0.8-1l1.8-0.6l1,0.5v1.6l1.9,1.5l1.5-0.3l1.9-1.3l1.8-0.1l2-1.8
                                        l0.2-3.2l0.9,0.2l1,1.2h1.4l1.3,0.5L524.2,6.6z"/>
                                    <path id="NI-AS" class="departamento raas" d="M481.4,391.6l0.1,0.6l-0.8-0.9l-2.1-1.1l-0.9-3.6l0.6-2.6l-0.6-2.2l0.1-1l1.4-1.5l0.2-2.2
                                        l1.4-1.4l0.9,0.1l-2.1,4l-0.4,4.4l0.5,4l0.6,1.4l1,1.2L481.4,391.6z M316.6,244.8l6-4.1l5.5,1.3l10.7,0.7l1.7-1.5l2.1-3.5
                                        l2.2-1.1l5.2-0.9l1.4-0.6l6.8-9.5l25.3-3.6l25.4-0.7l2.5-2.7l1.1-0.6h0.7l0.9,0.6l0.6-0.4l1,0.1l1-0.6l0.6,0.4l0.8,1.7l1.1,0.2
                                        l1-0.3l3.3-2.5l2.5-0.1l1.5-0.6l8.5-0.5l3.6,1.4l7.8,0.9l11.8,2.4h5.2l3,2.3l1.7-0.1l1.5,0.4l0.7,0.4l0.2,0.9L469,229l-1.3,3
                                        l-0.1,0.7l0.7,0.9l21.5,14.3l7-0.2l5,0.7l0,0l2.3,8.8l0.4,3.2l1,2.5l-0.2,0.9l-0.9,0.8l-0.6,0.1l-0.5-0.5l-0.1-1.7l0.7-2l-0.1-1
                                        l-0.4-0.4h-0.5l-0.4,0.5l0.9,0.5l-0.9,2.1l0.4,0.8l0.2,2.1l-1.1-0.4h-2.1l-3-1.6l-1.5,0.2l-0.4,0.3l0.2,0.6l1.8,1.1v0.4l-0.6,0.1
                                        l-1.2-0.3l-2.8-1.7l-0.7,0.1l-1,0.8l-1-0.8l-4.3-1l0.6-0.8l-0.2-1.1l-3.5-1.5l-0.9,0.7l-1-1.4l-0.6,0.1l-0.6,1l-0.4,0.1l-0.5-1.5
                                        l-2.3-1.6l-0.6-2.3l-4.3-1.5l-4-2l-0.3-0.8l-0.1-2.4l-3.2-3.8l1.4-1.3l-1.1-2.2l-0.7-2.4l-0.6-0.4l-1.6-0.1l-0.1-0.3l0.9-0.4
                                        l0.2-0.5l-0.7-1.1l0.3-1.1l-0.7-0.5h-1l-0.4-0.3l-0.6-1.3l-1.6-1.3l0.4-3.1l-3-2.2L453,225l-2.3-2.1l-1.9-0.7l-0.2,0.6l0.7,1.6
                                        l-0.4,0.5l-1.9-0.1l-1.1,0.6l-1.1-0.2l-2.8,2l-0.9-0.4l-1.2-1.5h-1l-0.5,0.5l0.4,1l-0.3,0.8l-5.9,1.4l-0.8,1.8v1.1l1,1.1l2.3,0.5
                                        l0.3,0.5l-0.5,0.4l-0.9-0.3l-0.4,0.4l-1.5,2.9l-1.2,0.6h-4l-4.9,0.6l-2.8,2l-5.4,2.3l-4.2,6.2l-4,2.9l-2.1,0.4l-1.2,1.8l-1.2-0.8
                                        l-1.5-2.9l-5.8-1.6l-2.3-2.3l-4.3,0.2l-2.5-0.5l-0.9,0.6l-0.5,1.4l1.5-1.4l3.1,0.6l1.5-0.4h1.3l1.2,0.7l1.6,1.7h1.2l2.5,1.1
                                        l1.7,0.1l1.8,3.3l1,0.8h1.3l1.3-1.6l2.3-0.7l4.1-3.1l3.4-5.6l3.7-1.3l4-2.8l0.9-0.3l8.4-0.7l1.9-1.1l1.1-2.5l1.6,0.3l0.4-1.9
                                        l-2.4-0.7l-1-0.8l-0.1-0.7l0.7-1.9l3.5-0.8h2.8l-0.6-2l0.4-0.5h0.7l0.6,1.2l0.8,0.6l2.4-1l1.3-1.2l1.4,0.9l0.4-0.9l0.4-0.2
                                        l2.2,0.1l0.3-0.6l-0.7-1.6l0.4-0.4l1.5,1.5l2.8,1.3l1.3,1.3l1.5,0.7l0.4,0.6l-0.4,1.5l0.1,1.4l2.7,3.2h1.4l0.1,0.3l-1,1.1
                                        l0.4,0.4h0.6l0.1,0.6l-1.2,1.2l0.2,0.3l2.2,0.3l0.5,1.4l0.9,1l0.6,1.6l-1.3,0.9l-0.3,0.7l1.6,1.3l1.7,2.4l-0.1,2.1l0.8,1.8l1,0.8
                                        l2.3,1h1.4l3.6,1.3l0.4,2.4l2.2,2l1.2,1.9l0.6-0.1l0.2-0.7l0.3-0.1l1.7,1.4l0.9-1l2.5,1.3l-0.5,1.5l0.9,0.8l3.5,0.4l1,0.8
                                        l2.5-0.2l3.5,1.3h1.8l0.2-0.9l-2.1-1.6l0.8-0.1l4.8,2.2h2.5l0.3,2.2l1-0.2l0.5-2.7l0.7-0.5l0.3,0.7l-1.4,4l-2.7,17.7l-0.7,5.6
                                        l-0.4,6.7l0.5,5.4l2.6,8.7l2.5,2.8l1.2,2.3l0.2,3.8l-0.6,5.4l-0.7,0.9h-0.7l-3.7-0.9l-2.2-0.1l-6,1.6l-1,1.4l-0.8,0.4l-1-0.6
                                        l-0.3-0.7l3.1-4.3l0.5-1.3l-2.4-5.4l-1.3-1.4l-0.5-1l-0.3-5.5l0.5-3.9l0.8-1.4l0.3,0.4l-0.3,1.2l0.2,0.5l2.3-0.4l2.9,0.5l0.9-0.5
                                        l0.4-1.4l1.3-1.5l0.3-4.4l-0.8-7.2l1.1-2.4l0.3-2.2l0.8-1.5v-0.5h-0.4l-1.1,0.7l-0.5-0.3l0.6-1.4l1.4-1.1l0.5-0.9l0.2-3.1
                                        l-0.7-2.1l-3.2-1l-2.4-1.3l-2.4-0.5l-0.6,0.3l-1,1.6h-1.5l-0.5,1.1l-1-0.3l0.2-4l-0.9-4.3l-2.8-1.8l-1.1-0.3l-0.7,0.3l-0.9,3.2
                                        l0.3,0.9l1.2,1.5l2.3,0.3l-0.5,0.9l-1.5,0.3l-1.8-0.1l-7.9-3.8l-1.7-0.3l-1.4,0.3l-3.5,1.6l-0.4,3.2l-2.9-0.1l-1.4,2.3l-1.5-0.6
                                        l-1.6,0.6l-0.6-0.6l-1.5-0.5l-1.9-1.3l-0.6-1.3l-0.6-0.5l-0.7,0.1l-0.3,1l-2.1-0.2L452,274l-1.7-1.6l0.2-1.2l-1.6-0.1l-2.5-2
                                        l-2.1-0.1l-2.6-0.9l-0.7,0.4l0.1,0.9l-0.5,0.6l-1,0.4l-1-0.1l0.8,0.6l1.2-0.4l0.7-0.5l0.7-1.5l0.8,0.1l0.7,0.7l2.4,0.1l1.2,1.2
                                        l1,0.1l0.7,0.6l1.2,0.2l-0.1,1.5l0.9,0.4l1.2,2l2.6,0.6l1-1.2l0.8,1.3l1.7,1.4l1.5,0.4l1.6,1l2-0.7l0.7,0.9l0.5-0.3l1.3-2.4
                                        l1.6,0.4l1.7-0.5l0.2-0.3l-0.3-1.3l0.5-1l-0.2-0.8l3.6-1.5l2,0.3l6.4,3.3l2.8,0.7l3.3-0.4l1.3,1.2l-0.1,1l-4.4-0.5l-4.4-2.1
                                        l-2.3-0.5l-0.9-1.2l-0.8,0.1l-1.5,1.1l0.2,2.1l0.7,0.1l1.8-1.2l2-0.2l0.4,0.5l-0.7,1.8l-1,0.2l-0.2,0.5l2.2,0.9l0.2,0.6l-0.6,1.1
                                        h3.7l0.9-2.1l0.6-0.6l1.9-0.4l2.2,1.3l1.3,0.3l0.4,0.6l0.2,1.6l-0.7,2l0.1,0.6l2.1,0.5l0.6-0.7l0.6,0.5l0.8,2.5l-0.7,0.9v1.1
                                        l2,1.7l1,1.9l-0.7,4.1l0.8,1.3l-0.2,1l0.2,1.4l-1.1-0.5l-0.5,0.2l-1.7,2.4l-2.1-0.2l0.2,1.3l-0.3,0.5l-3.3,2.6l-1.9,0.5l-1.6,1.5
                                        l-1.1,0.3l-2.3-0.3l-2.4,0.7l-3,2.5l-0.2,3.9l0.3,2.8l0.9,0.3l1.4-1.7l0.7-0.2l0.4,0.8l1.2-0.2l0.8,2.6l0.1,3.8l1,3.1l-1.4,3.3
                                        l0.2,2.5l0.6,1.5l2,1.8l1-0.1l1-0.9l1.5-0.3l1.3-0.8l0.6,0.5L488,337l-1,2.8l-0.1,2.6l0.7-0.1l0.1-2.1l1-1.9v-1.8l0.4-1.2
                                        l1.9-2.4l0.9-0.6l0.5-0.1l0.7,0.9l-1,1.8L490,337l-0.7,1.4l-3.8,9.8l-0.2,5.3l-0.5,0.4l-0.1,0.6v2.2l-0.5,2.4l-0.1,4l0.9,4.6
                                        l-0.3,4l0.3,2.3l-0.2,0.2l-1.3-1.5l-1.7-1.1l-1.6-2.9l-0.3-2.1l-0.7,0.3l0.3-1.2l1.8-1.4l0.1,0.9h1.4l0.8,0.5l-0.2-1.6l0.5-0.5
                                        l-1.1-1.2v-0.8l0.6,0.7h0.4v-0.4l-2-4.5l-3-2.7h-0.5l-0.2,0.6l0.9,1.4l1,0.1l0.8,0.7l0.1,0.6l1.4,1.9v0.6l-1.4,2.2l-0.5,2.1
                                        l-1,0.9l-0.6,1.9l-0.5-0.6l-0.2-1.1v-4.6l-0.4-1.1l-1.6-2.1l0.1-0.3l1.9-0.5l0.2-0.6l-0.5-0.5l-0.6,0.9l-1.9,0.5l-4.9-1.2
                                        l-4.5,0.5l-0.3-0.5v-1.7l-0.5,0.2v1.4l-0.4,0.6l-0.8-0.1l-1.5-1.4l0.1,0.5l1.4,1.3l1.5,0.2L465,358l-1.5,1l-2.5,0.4l-0.6,0.4
                                        l-0.4,2.3l-2.7-0.2l-1.6,0.4l-1,1.8l-0.6,0.2l-0.3,0.8l-0.8,0.1l-0.5,1.2H452l-2.2-2.1h-1.1l-0.4-0.4l-0.5,0.1l-0.2,0.8h-0.7
                                        l-0.4,0.4h-0.8l-1.3-1.5l-0.6,0.8l-1.5-0.1l-0.7,0.6l-2.1-2.5l-1-0.6h-1.1l-0.9-1l-2.3,0.3l-1.6,0.9l-0.5-0.5l-0.7-2.3l-0.9-1.5
                                        l-2.5-1.1l-1.8,0.6l-0.3-0.8l-0.5-0.3l-3.7,0.5l-1.4-0.2l-2-2.5l-1.7-0.1l-1.7-1.3l-2.1-3.4L412,346l-0.9-0.8l1.5-1l0.6-1
                                        l0.7-0.5l0.2-1.4l-1.4-3.3l-0.8-0.8l-0.2-1.8l-1.1-2l-0.8-0.6l-2.8,0.1l-0.9-0.5l1.1,1.2l1.5-0.2l1.3,0.4l1.3,2.3l0.3,1.7l1,0.7
                                        l0.7,3.2l-2.9,4.2l1,1.2l0.2,1.5l1.7,3.9l1.9,1.4l0.1,0.6l-0.5,0.3l-3.9,0.2l-4.1,3.3l-5,0.8l-1.8,1l-2.6,0.7l1.1,0.3l3.1-1.3
                                        l6.2-1l1.8-1l2.2-2l5-1h1.1l1.6,2.2l1.3,0.4l-0.3,1.3l0.4,1.1l-0.2,0.7l1.1,1.5l-1.4,1.9l-0.1,1.4l-1.3,1.9l0.1,1.8l-1.4,1.2v0.5
                                        l2.2-1.9l1.1-4.4l1.5-2v-1l-1.1-1.2v-2.5l3.3-1l1.5,1.1l1.4-0.6l2.4,0.9l0.7,1.1l0.9,3l1,0.8l0.9-0.3l1.4-1.3h1.6l0.5,0.9
                                        l2.1,0.5l2.8,3.4h0.3l0.2-0.8l1.3,0.1l0.7-0.6l1.4,1l1.5-0.1l1-0.8l0.7,0.6l0.3-0.5l0.4,0.1l1.2,1.5l1.7,0.8l0.7-0.4l0.2-0.9
                                        l1.1-0.6l0.1-0.7l0.8-0.6l0.2-1.1l0.5-0.5l1.5,0.3l3.4-0.6l0.3-0.6l-0.7-0.9l0.2-0.5l3.1-0.4l5.3-2.4l2.8,0.1l3.3,1.3l1.1,1.1
                                        l1.1,3.2l-0.3,2.9l0.5,1.8l0.3,3.4l-0.6,0.4l-0.6-1l-0.4,0.9l-0.6,0.1l-2-2l-1.9-0.6l-1.5,0.2l0.3,0.4l2.6,0.1l3,3.1l0.3,2.2
                                        l-0.4,1v1.5l-1.1,1.1l-0.2,2.1l0.8,1l-2.3,2.8l-1.6,0.6l-0.2,2.2l-0.5,0.8l-2.9,1.6l-1.4,1.3l-0.1,0.9l0.3,0.7l2.6,0.7l-0.4,2
                                        l0.2,0.8l1.4,1.8l2.5,1l0.1,1.2l0.5,0.4l1.8-0.5l2.5,0.2l0.3-0.3l-0.1-1l-1-1.9l1.3-5.4h0.6l0.3,0.6l2.8,1.4l0.7,4l2.8,7.7
                                        l0.4,4.7l0.9,3.3l-1.1-0.7l-0.1-0.8l-1,0.1v0.3l1.5,1.3l1,0.3l0.4,0.7l-0.2,2l1,4.2l-0.2,0.5l0.6,0.5h0.6l-0.2,1l0.3,0.5
                                        l-0.7,1.6l-1.2-0.7l-0.8,0.1l-0.9-0.8l-1.5,0.5l-1.1,1.6l-0.8,0.4l-1.5,2.3l-1-0.3l-3.6,0.8l-2.5,5.7l-2.8-0.4l-0.1,0.4h0.7
                                        l0.4,0.7l1.3-0.4l0.1,1.9l-0.8,2.6l-0.5-0.1l-1.7,4l-0.4-0.4h-2.9l-0.2,0.8l-1.6,1.2l-0.5,1.4l-1,0.9v0.8l-1,1.4l-0.3,1.8
                                        l-0.5,6.3l0.2,3.3l-0.3,0.9l0.6,1.6l0.6,4.2l1.6,4l0.7,3.9l-0.1,1.3l1.6,3.9l2.4,7.5l2.4,5.1l6,8.5l2.1,2.2l-0.1,0.2L479,504
                                        l-2.5-2.1l-3.4-5.6l-3.6-4.8l-1.2-0.4l-1,0.5l0,0l-3.5-0.7l-1.1,0.4l-1,0.9l-0.7-0.4l-0.5-0.9v-1.7l-1.3-1.9l0.4-2.6l-0.9-1.4
                                        l-0.9-0.1l-1.4,1.2l-1.2-0.7l-1.3,0.3v0.9l-2.2,0.6l-0.3-0.5l-1.1,0.2l-0.3-0.6h-0.4l-1.3,1.5l-1-0.1l-0.8,0.7l-2,0.4l-0.9,0.6
                                        l-1-0.5l-1.2-1.8l-0.6-2.2l0.7-0.4l-0.1-0.7l-1.2,0.2l-0.5-0.6l-1.1,0.7l-1.9,0.5L433,482l-1.3,0.3l-1.3-0.8l-0.5,0.3l-0.9-0.5
                                        l-0.6,0.1l-0.6-0.7h-1l-1.7-0.8l-4.8-8l-1.5-1.4l-7.7-3.9l-4.8-1.7l-0.9-0.8l-1-1.7l-0.1-2.2l0.5-3.1v-0.7l-0.7-1.3l-6.8-2.8
                                        l-4.2-2.6l-3.9-2.9l-6.9-1.8l-1.7-1.2l-0.5-1.4l-0.1-4.3l-1-4.5v-3.7l0.9-3.5l2.9-4.8l0.3-2.6l-0.6-1.5l-3-3.7l-0.4-1.1l0.1-2.3
                                        l1.2-3.6v-1.2l-0.7-0.6l-1.5,0.1l-0.6-0.7l-2.2-6.1l-1-4.6l0,0l6.9-0.2l0.5-1.9l-2.4-2.9l-0.6-2.8l-5.5-2.7l-10.8-4.2l-1.8-1.4
                                        l-1-1.3l-1.5-12.5l-3.3-5.4l-1.7-5.2l-0.3-2.7l-1-2.7l-0.1-1.3l1.7-2.9v-1.1l-2.8-3.9l-1.9-4l-2-1.4l-1.4-2.1l-1.5-2.9l-0.9-3
                                        v-1.4l1.6-2.6l1.2-1.1l-0.1-1.8l1.4-0.9l-1.6-1L344,316l-1.1-1l-2-4.2l-0.6-3l-1.2-0.6l-0.5-2.7l-4.2-3.5l-1.6-2.5l-0.7-1.9
                                        l-0.5-0.1l0,0l-1.4-0.5l-0.5-0.7l0.1-4.3l-1.8-5.5l-1-1.3l-1.7-1.1l-1.7-2.1l-1.9-1.2l-1-0.2l-4.6,2l-0.4,0.5l0,0l-2.4-2.4
                                        l-2.5-0.1l-2.8,0.6v-2.8l-0.3-1.3l-1-1.3l-0.7-2.6l0.7-1.4l0.5-3.8l-0.4-1.6l-1.9-2.5l-0.8-1.8l1.7-2.6l0.8-2.5l1.1-2l1.3-0.1
                                        l1.5,3.4l0.8-2l0.3-3.6l1.2-1.1l1.8-1l2.8-3.3L316.6,244.8z"/>
                                    <path id="NI-BO" class="departamento boaco" d="M315.2,281.5l0.4-0.5l4.6-2.1l1,0.2l1.9,1.2l1.7,2.1l1.7,1.1l1,1.3l1.8,5.5l-0.1,4.3l0.5,0.7
                                        l1.4,0.5l0,0l-5.2,8.8l-2,2.7l-0.7,2.4l0.1,3.9l-0.4,1.9l-5.1,7l-3.2,0.7l-1.9,1.6l-0.8-0.1l-1.9-1.4l-4.1,1.5l-2.4,1.5l-3.8,4.3
                                        l-6.5,4l-1.2-0.3l-0.9-0.9l-2,1.6l-10.7,1.7l-3.7,0.2l-1-1.1l-0.8-0.1l-2.1,1.2l-2.2-0.9l-2.1,0.5l-3.1-0.1l-1.5,0.2l-2.8,1.2
                                        l-1.8,2.1l-1,2.1l-1.1,7.7l-4,2.3l-0.7,1.2l-0.4,2.1l0.4,1.6l-0.1,0.9l-2.5,4.2l-0.6,1.7l-1.2,1.6l0.9,4.7l0,0l-3.2-0.9l-1.1-1.9
                                        v-1.1l-2.2,0.4l-2.1-0.4L236,365l-1.6-2h-0.7l-0.1,0.7l-0.4,0.1l-0.3-0.5l0,0l-0.1-1.6l-0.4-0.5l-1.6-0.4l-1.9-1.2l-1.7,0.1
                                        l-1.1-0.5l-0.4-0.8v-2.9l0.7-0.8l-1-1.3l0,0l-0.3-2l0.2-0.6l1-0.5l-0.8-1.2l2.5-4l-9.4-7.6l-2.9-3.4l0.9-3.5l1.3-1.2l-1.1-1
                                        l-0.3-1.5l-2.2-1.2l-2.6-4.2l-1.4-1l-0.4-1.5l0.7-0.6l-1.5-2.8v-0.4l0.9-0.3l-0.4-0.8l1.1-1.5l0,0l0.9-0.5l1.5-1.9l2.1-1.5
                                        l4.1-1.5l1.7-1.3l0.6-1.1l0.2-1.5l-0.5-3.2l1-0.4l5.3-0.7l7.5-0.1l3.7-0.6l3.2-1.4l2-0.4l1.5,0.2l1.5,0.8h1.1l0.8,0.6h0.5
                                        l0.5-0.5l1.4,0.5l0.4-0.9l1.7-0.4l0.7-0.6l0.5-0.2l1.3,0.6l0.4-0.7l1.1-0.6h2.4l0.7-0.7l0.9-2.2l1.2-0.7l2.2-0.4l1.4,0.4l1.5-1
                                        l3.4,0.7l1.9,1.6l1,0.3l1.4-1.8l1.6-0.6l1.1-1.4l1.6-0.5l2.3,1.5l1.8,0.7l1.1,2.8l1.2-1.1l2.7,0.3l0.5,0.2l0.9,1.4l4.5,1l0.4,0.6
                                        l-1,1.9l0.4,0.3l2.5,0.2l0.7-1.1l0.4,0.1l1.5,1.6l2,3.6l0.6,0.2l1-0.9l0.7-0.1l3.1,0.3l0.7-0.8l0.1-0.8l-0.1-2.3l0.3-0.3l1.4,0.6
                                        h0.8l0.7-0.9l0.1-1.1l-0.9-3l1-1l0.7-1.6l2.2-2v-1.2l-1-1.1l-0.2-0.7l1.2-0.7l-0.3-1.5L315.2,281.5z"/>
                                    <path id="NI-CA" class="departamento carazo" d="M173.2,380.6l4,2.1l6.4,1.9l1.2,2.7l3.3,1.5l0.2,0.2l-1.2,1.6l0.2,1.4l-0.7,0.8l1.5,0.3l-0.5,1.3
                                        l3.2,0.1l1.4,0.7l2.3,0.3l0.6-0.4l0.6,0.2l0.8,1.3l0,0l-0.5,0.7l-0.7-0.1l0.2,2.3l-0.9,0.7l1,1.5l-0.3,0.8l0.9,1.9l-0.6,1.5
                                        l-0.5,0.3l0.5,2l-0.3,1.3l-0.9,0.8l-2.8,0.3l-0.5,0.9l0.6,3.7l-0.7,3.3l1.5,1.9l1.1,2.4l0,0l-4,4.1l-0.5,1.9l-0.8,0.6l0.2,1
                                        l-0.7,0.8v0.9l-1.9,1.4l0,0l-2.7-2.2l-1.4-1.6l-3.6-1.9l-1.4-1.6l-3.3-1.2l-8-4.8l-0.4-1l-1.1-0.8l-2.8-3.7l-3.7-3.4l-1.8-0.9
                                        l-1.5-1.2l0,0l1.5-1l0.2-0.7l-1.5-3.5l0.6-1.2l2.1-1.8l2.8-1l2.4-2.8l1-2.9L173.2,380.6z"/>
                                    <path id="NI-CI" class="departamento chinandega" d="M66.6,318.2l1.4,1.4l0.3,1.1l1.2,0.2l1.6,1.2l5.1,2.2l0.4-0.4l0,0l0.2,0.7l1.7,1.2l2.1,2.6l0,0
                                        l-2.3-0.8l-7.9-5.6l-2-0.8l-2.9-1.9l0.4-0.5l0.5,0.3l-0.4-0.8l0.2-0.3L66.6,318.2z M46.6,261l-5.2-0.2l-1.3-0.6l-0.3-0.9l4-2.8
                                        l3.3-1.1l1.5-0.9l5.6,0.8l2,1.4l-0.3,0.4l-2.6,0.8l-1.8,1l-1.4,1.8L46.6,261z M115.8,219.6l1.5,0.1l0,0l1.3,0.5l1.9-0.6l0.7,0.4
                                        l1.1,3.9l-1.2,3.3l0.2,0.6l0,0l-1.7,1.7l-1.9,4.2v3.9l1.1,3.2l0,0l0.8,2.7l1.4,2.3l0.5,4l2,2.1l3.4,5.9l-0.7,2.5v3.2l2.2,8.7
                                        l-0.6,3.5l-1.5,3.3l-1.1,1.3l-2.6,1.6l-4-0.1l-3.8,0.4l-2.3,0.8l-2.2-0.1l-0.9,0.5l-0.6,1l0.2,3l-0.7,1.5l-1.5,0.9l-1.8,1.8
                                        l-2.9,0.9l-4.4,6.5l-3.4,2.3l-0.2,7.5L93,311l-5.1,3.2l-5.3,2.1l-2.7,2.3l-3.7,0.7l-1-0.3l-2.4,0.9l0,0l-0.9,0.3l-0.8-0.2
                                        l-0.5,0.3l-1.4-1.1v-0.3l1.1-0.5l-1.7-0.7l-0.4-0.5l-1.2-2.6v-1.1l-0.4-1.8h-0.5l-0.1,1l-1.6-0.5l-0.4,0.2l1.7,1.5l0.7,1.6l0.1,1
                                        l-0.3,0.6h-0.4l-0.6-0.5l-2.6-3.9l-1.8-1.8l-0.9-1.9l-3.7-3.1l-3.7-1.8l3.2,0.1l0.6-1.2l-3.6,0.2l-1-1.5l-0.3,0.3l-0.8-0.2
                                        l-1.2-0.7l-0.4,0.3l0.2,0.2l2.1,1.4l0.1,0.3l-0.5,0.3l-4.4-3.4l1.8,0.3l0.3-0.4v-0.9l-0.9-1v-1l1.3-0.6l1-1l-0.2-0.3l-0.6,0.4
                                        l-0.1-0.3l-0.3-1.8l0.3-1.1l-0.7,0.5l0.1,1.9l-0.3,0.7l-1.8,1.8l-0.4,2.4l-2.6-1.9l-0.2-0.4l0.4-0.6L43,296l-0.8-2.3l-2-2.6
                                        l-1.6-1.2l-3.1-1.6v-0.4l0.8-0.1l-0.1-0.5l-6.6-4.9l0.7-0.4l1.9,0.9l0.5,0.8l2.4,0.5l0.7-0.3l-0.4-0.4l-1.6-0.5l-1.1-1.2v-1.2
                                        l1.2-1.3l-0.1-0.5l-2.5,1.1l-1-1.6l-0.7-0.4l0.1-1l-1,0.6l-0.3-0.2l-1.4-2.8l0.8-1l-1-0.2l0.1-0.8l0.9-1.5l-0.3-0.9h-0.4
                                        l-0.4,0.5l-0.4-0.4l-0.4,0.5l-1.3,0.1l-1.2,0.7H22l-0.8,1.1l0.5,0.4l0.9-0.8l1.9,1.6l-0.2,2.2l2,0.7l1.1,1.9l1.7,1.5l0.4,1.2
                                        l-0.4,0.7l-4.4-3.8l-15.3-9.4l-4.7-4.1l-0.4-2.1l0.6-0.4l-0.3-0.9l1.3-3.7l1.3-1.4l0.6-1.7l4-1.7l2.2-2.2l1.5-2.6l1-3.5l0.7-1.2
                                        l0.7-0.5l0.4,0.5l-0.3,0.9l-0.6,0.3l-0.1,1.1l-0.7,1.6l1.7-0.5l2.1,0.4l4.8,3.4l3.7,3.8l1.4,2.9l-1.3-0.3l-0.3,0.3l-0.2,1.3
                                        l2.4,2.9l1.7,0.3l3,1.4l3,0.7l1.1-0.5l2.1-0.2l1.7,3.9l0.3-0.5v-1l-0.9-2.5l2.6-0.1l0.9,0.5l0.1,0.9l2.4,1.2l-0.1,0.8l1,1.8
                                        l0.7-0.1l-0.8-1.4l0.2-0.6l-0.5-0.6l0.1-0.6l-2.5-1.2l0.9-1.4l1.5-0.5h1.1l3.3,3.4l2.2-0.3l1.6-1l2.2-0.1l1.1,2l1.1,0.2l1.5-0.5
                                        l1,0.3l2.2,3.6l3.9,2.1l2.2,0.8l0.7-0.8l0.1-2.1l0.3-0.4l4,0.5l0.3-0.1l-0.2-0.5l-0.8-0.6l-1.8,0.4l-1.3-0.2l-0.6,0.4l-0.7,1.8
                                        l-1.2,0.5l-4.4-2.1l-0.7-1.6l-1.6-2.2l-3.5-0.3l-1.2-2.2l0.6-1.9l0.5-0.5l1.2,0.3l1.3,1.1l2.3,0.5l1.2-0.4l0.5-0.8l-0.1-0.3
                                        l-1.8,0.6l-0.8-0.1l-2.3-1.2l-1.9-0.4l-0.8,0.3l-0.3,2.3l-0.6,0.7l-4.2,1.8l-1.3-0.1l-0.5-1.3l-1.9-1.8l-0.2-0.9l0.8-1l4.2-1.6
                                        l0.8-1.1l-3.3-2.1l19-1.6h4.5l2.2,0.2l2.2,1.5l2.5-0.5l0.7-2.1l1.2,0.4l2.6-1.9l1.6,0.3v-0.5l2.2-1.5l0.8-3.3l4.1-3.7l-1.8-3.9
                                        l1.2-1.5l-0.3-1l0.9-0.5l-1.2-3.1l-0.1-1.4l1.5-2.5v-1.5l0.7-0.8l0.7-2.9l-0.3-1.2l3.7-2.3l0.8-1.7l0.7-0.7l5.4-1.5l2.8,1.6
                                        L115.8,219.6z"/>
                                    <path id="NI-CO" class="departamento chontales" d="M314,419.8l-0.5,0.6l0.2,1.1h-0.4l-1.6-4.5l-2.5-1.4v-2.4l-1.4-1.7l-0.5-0.2l-0.9,0.7l-0.6-0.9
                                        l-0.6-0.1v-1.4l-1-0.9L304,407l-0.9-1.2L302,405l-1-0.2l-1.9,0.1l-1.9-1.4l-2.3-0.6l-2.7-2.9l-2.5-3.8l-1.8-1.8l-3.1-1.8
                                        l-1.4-1.2l0,0l-0.9-0.5h-1.7l0,0l-1.8-0.2l-3.1-1.3l-0.5,0.2l-0.3,1.4l-0.4,0.3l-2.7-2.2h-1.5l-1.1-1.2l-5.7-9.3l-5-5.5l0,0
                                        l-1.9-1.2l0,0l-2.4-0.5l-1.8,1l0,0l-1,0.3l0,0l-1.1-0.2l-0.8,0.6l-1.8-1.1l1-0.4l0.1-0.6l-2-0.8l0,0l-0.9-4.7l1.2-1.6l0.6-1.7
                                        l2.5-4.2l0.1-0.9l-0.4-1.6l0.4-2.1l0.7-1.2l4-2.3l1.1-7.7l1-2.1l1.8-2.1l2.8-1.2l1.5-0.2l3.1,0.1l2.1-0.5l2.2,0.9l2.1-1.1
                                        l0.8,0.1l1,1.1l3.8-0.2l10.7-1.7l2-1.6l0.9,0.9l1.2,0.3l6.5-4l3.8-4.3l2.4-1.5l4.1-1.5l1.9,1.4l0.8,0.1l1.9-1.6l3.2-0.7l5.1-7
                                        l0.4-1.9l-0.1-3.9l0.7-2.4l2-2.7l5.2-8.8l0,0l0.5,0.1l0.7,1.9l1.6,2.5l4.2,3.5l0.5,2.7l1.2,0.6l0.6,3l2,4.2l1.1,1l1.8,0.5l1.6,1
                                        l-1.4,0.9l0.1,1.8l-1.2,1.1l-1.6,2.6v1.4l0.9,3l1.5,2.9l1.4,2.1l2,1.4l1.9,4l2.8,3.9v1.1l-1.7,2.9l0.1,1.3l1,2.7l0.3,2.7l1.7,5.2
                                        l3.3,5.4l1.5,12.5l1,1.3l1.8,1.4l10.8,4.2l5.5,2.7l0.6,2.8l2.4,2.9l-0.5,1.9l-6.9,0.2l0,0l-4.1-0.1l-5.1-1.2l-2.4,0.4l-1.1-0.4
                                        L359,392l-3.6,1.3h-3l-3.2,1.1l-7.1,3.8l-2,2.6l-1.1,0.1l-0.9,0.6l-1-0.2l-0.9,1l-4.2,1.3l-0.6,1.9l-1.3,0.7l0.5,2l-1,0.8
                                        l-0.2,0.6l-2,0.3l-1.5,2.6l-1.1,0.2l-0.5,1l-1.3-0.9l-1.4-0.2v0.6l-0.6,0.1v1l-2,1.6l-2.9,0.5l-0.3,1.5l-1,0.7l0.1,0.8L314,419.8
                                        z"/>
                                    <path id="NI-ES" class="departamento esteli" d="M121.3,227.8l1.3-0.8l9.8-9.9l3.2-7.2l4.4-7.7l1.2-1.5l1.1-0.6l2.7-0.1l5.9,1.9l2.8,1.3l1.3,0.1
                                        l16.1-3.6l4.9,0.3l2.4,0.9l2.2,4.4l0,0l-0.1,1.1l-1.4,1.6l0.4,1l-0.7,0.6l0.5,1.2l-1,1.7l0.9,5.2l-0.1,2.8l0.6,1.6l-1.9,0.8
                                        l0.8,1.5l-0.1,0.6l-2.8,4.6l-0.1,0.7l1.4,1.8l2.2,1.4l0.3,1.1l1.3,2l4.1,4.1l4.3,2.2l4.1,1.6l0.7,1.5l-0.1,2.3l0,0l-0.5,0.5
                                        l-1.5,0.3l-0.8,1.4l-1.4,0.6l0.7,1.5l-2.2,5.3l-1.1,1.3L185,260l-3.3,0.5l-6.2,3.5l-1,6.5l0,0l-2.4,0.1l-7.3-1.6l-7.8-3.4
                                        l-1.6-1.5l-0.6-1l-0.3-1.8l2.6-5.6l0.9-4.9l-1.7-2.7l-2.8-3.2l-2.1-4.8l-1.5-1.5l-7.7-0.9l-1.7,0.2l-4.7,1.3l-4,2.6l-2.4,0.8
                                        l-1.8-0.3l-2.4-1.9l-1.3-0.5l-2.3-0.2l-2,0.6l-1.1-0.1l0,0l-1-3.2v-3.9l1.9-4.2L121.3,227.8z"/>
                                    <path id="NI-GR" class="departamento granada" d="M225.6,405.1l0.5,0.6l1,0.3l3.1,0.1l0.2-1l1,0.3l0.7,1.1v1.8l0.9,1.4l-0.3,2.2l-1.7,0.6l-5.6-0.8
                                        l-2.1,1.1h-0.9l-0.4-0.4l0.3-1.3h0.3l0.3,0.8l0.6-0.2v-0.4l-0.7-1.1l-1.5-1.2l0.7-0.5l0.1-0.5l1.2-1.2l-0.3-1.3h1l0.6-0.6
                                        L225.6,405.1z M211.2,368.2l1.3-2.4l-0.4-1.5l0.4-0.8l5,0.2l2.6-0.8l0.4,0.1l-0.4,1.1h1.4l0.5,0.4l0.1,0.9l-4.2,6.9l-2.8,6.5
                                        l-0.3,2.6l-0.1,3.1l0.8,2.4l0.6,0.5l1.4-0.4l2,0.8l1.4,2.5l-0.4,0.8l-0.6-0.1l-1.3-1.4l-1.4-0.7l-0.7,0.2l-0.2,0.5l0.4,3.1
                                        l0.3,0.3l0.4-0.4l0.6,0.5l1.3,2.6l0.5,2.2l1.1,1.3l0.3,1.5l-1.1,1.3l0.8,2.5l-0.1,0.9l-0.8,0.7l-0.5,1.1l-1.2-0.2l-0.2,0.6
                                        l-1.7,1.5l0.7,1l-0.3,1.6l1.1,1.6l1.4,0.2l0.2,0.4l-0.4,0.6l0,0l-2.2,1.5l-3.1,0.4l-2,0.6l-0.3,0.7l-1.9-0.1l-1.7-0.8l-1.2,0.2
                                        l-1.5,1.1l-0.9,2.5l-1,0.7l-4.3,0.5l-2.1,1.5l-1.8-0.6l-1.6,0.2l0,0l-1.1-2.4l-1.5-1.9l0.7-3.3l-0.6-3.7l0.5-0.9l2.8-0.3l0.9-0.8
                                        l0.3-1.3l-0.6-2l0.5-0.3l0.6-1.5l-0.9-1.9l0.3-0.7l-1-1.5l0.9-0.7l-0.2-2.3l0.7,0.1l0.4-0.7l0,0l2.1-6.2l2.8-4.1l0.4-2.7l1-0.6
                                        l1.8-0.3l0.8-1.8l5.5-7.2L211.2,368.2z M206.4,358.7h2.3l2.5-1.1l5.3-1.6l1.5-1.1l0.6-0.8l0.2-1.3l1.6-1.3l0.5,0.4h1.8l0.6,0.8
                                        l2.1,0.7l0,0l1,1.3l-0.7,0.8v2.9l0.4,0.8l1.1,0.5l1.7-0.1l1.9,1.2l1.6,0.4l0.4,0.5l0.1,1.6l0,0l-2.1,0.6l-0.8,1h-0.5l-0.7-0.5
                                        l-0.2,0.3l0.5,0.8l-0.6,0.6l-2.5,0.7l-2.5-0.6l-0.4-0.5v-1l-2-2L216,363l-3.2-0.3l-2.3-0.7l-2.3-1.2l0,0L206.4,358.7z"/>
                                    <path id="NI-JI" class="departamento jinotega" d="M324,55.2l1.6-0.1l0.6,0.9l1.9,0.9l0.4,1.5l-1,1.6l-0.2,1.3l-0.8,1.5v0.9l0.9,0.8l-0.8,1.7l1.7,2
                                        l1.8,0.2l1.2,2l-0.1,1.2L330,73l-0.5,0.2L329,75l0.7,0.9l0.1,3.3l-0.9,0.8l-1.1,0.3l-0.2,0.7l0.3,0.8l1.3,0.7l0.6,2l1.6,0.9
                                        l0.9,2l1.3,0.2l0.6,1.5l14.2,0.8l-4.7,24l1.5,7.2l-24.8,40.3l-11.8-5.8l-16.5,10.7l-9.2,0.2l-1.4,6.7l-0.8,0.9l-2.9,1.7l-0.6,1.7
                                        l0.2,0.8l1.2,1.6l2.1,1.7l0.6,1.4l-0.7,3.4l-1.2,2.6l0.1,3.1l-1.5,2.5l-3.5,1.2l-3.7,3.3l-2.7,1.6l-1.5,1.5l-0.8,1.3l-0.1,1.2
                                        l0.7,2.2l0,0l-6.8,5.4l-5,0.7l-2.7,1.4l-4.6,8.4l-2.6,3.1l-5.7,5.3l-3.5,5.8l-0.9,0.6l-2.2,0.1l-1.1,0.5l-9.7,8.6l-4.7,4.9
                                        l-2.3,0.8l-4.4-0.4l-2-0.6l-0.5,0.4v2.5l-4.5-0.2l-0.9-3.3l-1.2-1.3l-1.3-0.5l-1.8-0.2l-0.5,0.6l-1.2-0.5l-1,0.2l-1.3-0.4l0,0
                                        l0.1-2.3l-0.7-1.5l-4.1-1.6L185,241l-4.1-4.1l-1.3-2l-0.3-1.1l-2.2-1.4l-1.4-1.8l0.1-0.7l2.8-4.6l0.1-0.6l-0.8-1.5l1.9-0.8
                                        l-0.6-1.6l0.1-2.8l-0.9-5.2l1-1.7l-0.5-1.2l0.7-0.6l-0.4-1l1.4-1.6l0.1-1.1l0,0l2.6-4.2l2.3-1.9l6.9,0.1l4.4-2.6l0.4-1.5l0.6-0.7
                                        l0.4-1.9l1.3-0.9l0,0l0.7,0.4l3.8-0.4l0.6-0.5l0.4-1.3l0.7-0.4l1.4,0.7l2.4-0.1l4.8,3.2l1.1,1.7l0.4,0.2l1.1-0.2l1.1,0.9l0.7-0.9
                                        l0.1-1.8l2.1-1.4l0.7-0.6l0.1-0.6l1.2,0.3l0.7-0.3h1.4l1.1-1.2l1.1-0.4l1.2,0.8l0.5-1l-1.1-1.7l0.5-0.9l1.3-0.6l0.4-1l-0.4-0.5
                                        l-0.8,0.2l-0.9-0.3l0.3-1.9l0.5-0.4l0.2-0.8l-0.1-0.7l-1.1-1.7l0.1-0.9l1.5-1.8v-4.7l2.9-5.6l0.3-1.3l-0.4-1.8l1.4-2.4l-1.3-3.6
                                        l0.1-0.8l1-1.3l1.4-0.7l2-3.4l0,0l1.4-1l0.6-1.8l-0.5-1.6l-2.6-1.8l0.9-3.9l-0.1-5.6l0.6-0.8l1.5-0.1l1-0.5l1.6-1.8l0.9-0.5
                                        l1.6,0.2l2,1l1.8-1.5l0.7-2.8l1-0.3l2.5,0.4l1.3-1.2l1.7-0.5l1.3-2l1.1-0.1l0.7-0.4l0.7-2.1l1.8-0.3l-0.1,1.6l0.6,0.5l4,0.2
                                        l0.4-1.7l0.9-0.2l0.4-2.4l0.5-0.6l0.6,0.9l0.7,0.1l0.3-1.9l1.3,1.5l0.4-1.5l1,0.2l0.3-1.1l1.1-0.5l0.3-0.8l0.6-0.1l1,1.1l0.7-0.4
                                        l1,0.2l0.4-1.1h0.9l0.4-0.7l1.1-0.5l0.3-0.9l0.7-0.5l-0.4-2.4l2.5-2.4l0.2-0.5l-0.4-1.1l0.6-0.8l0.1-1.7l-0.8-1l0.3-0.7l1.1-0.2
                                        l0.3,1.2l1.3,0.2l1.9-2.3l0.3-1.5l1.2-0.3l1.3-0.9h1.2l1.3,0.7l2.2-1.1l3.8-0.1l1.7,0.6l1.3-0.4l1.4,0.5l1.6-0.5l0.6,1.1l0.6,0.1
                                        l0.4-0.4l3.1-5.3l-0.7-0.9l-1.5-0.3l-0.2-0.3l-0.3-2.7l-1.1,0.3l-1.3-1.4l-0.3-2.5l-1.9-0.4l-0.7-0.9l2.3-2.8l1.4-3.6l0.9-1.3
                                        l1.1-3.9l3.3-3.5l0.7-2.1l0.7-0.8v-1.9l-0.6-1.3l0.4-1.3l-1.3-2.3l0.3-0.5l1.4-0.1l1.3-1.1l1.5,0.7l2.3,3l0.6,0.1l1-0.8l1.5,0.1
                                        l1-1.4l1.8-0.9l2.4-3.6L324,55.2z"/>
                                    <path id="NI-LE" class="departamento leon" d="M149.7,333.1l-0.3,0.1l0,0l-0.6-1.2l0,0l-0.1-0.9l0,0l0.8-0.4l1.3,0.3l0.3,0.7l-0.8,0.7l0,0
                                        L149.7,333.1z M118.7,240.8l1.1,0.1l2-0.6l2.3,0.2l1.3,0.5l2.4,1.9l1.8,0.3l2.4-0.8l4-2.6l4.7-1.3l1.7-0.2l7.7,0.9l1.5,1.5
                                        l2.1,4.8l2.8,3.2l1.7,2.6l-0.9,4.9l-2.6,5.5l0.3,1.8l0.6,1l1.6,1.5l7.8,3.4l7.3,1.6l2.4-0.1l0,0l-0.2,4.1l0.5,4.6l-0.8,6.2
                                        l0.2,0.6l-0.7,2.1l0.1,1.8l0.5,1.7l-1.1,3.3v2.3l0,0l-4.5,1.1l-1.6,2.3l-1.9,1.1l-1,2l-1.4,5l-0.5,0.7l0.6,1.1l-1,0.3v0.4l1,0.4
                                        l-0.6,0.8l0.7,1.1l0,0l0.3,0.3l0,0l1.5,0.4l0.4,0.5l-0.6,0.9l0.5,0.7l-0.8,0.7l0.3,0.6l-0.3,0.2l-2.3-0.9l-3.6,1.3l-0.3,0.4
                                        l-3.5,0.7l-2.3,1l-1.8,1.4l-0.9,1.3l-1.1,2.7l-1.9,1.7l-0.7,0.3l-3.4-0.2l-5.8-2.6l-0.5-0.4l0.1-0.3l0.8-0.1l0.1-0.4l-0.8-1
                                        l-1.8,0.7l-1.7,1.6l0.2,1l0.7,0.9L133,331l1.5,2.2l0.8,2.7l1.1,0.7l1.9,0.1l2.5,0.7l3,2l2.4,0.5l2.4,1l0,0l-4.1,3.4l0,0l-2.8,6.5
                                        l0.5,0.7l2.5,0.7l0.9,1v1l-0.8,1.6l0.3,1.8l-2.4,1.1l-1.1,1.7l-2.4,1l-2,1.4l-1.5,1.7l-4.3-0.8l-2.1,1.1l-1.6,0.3l-0.6,1.3
                                        l1.4,3.5v1.5l-3.3,2.6l0,0l-2.9-5.6l-3.2-4.6l-0.3-0.6l0.3-0.8l-1-1.4v-1l-0.8-2l-1-0.8l0.1-1.3l-1.5-2.6l0.7-0.1l-0.8-2.3h-0.9
                                        l-0.8-0.9l-2.6-1.4l-2.4-1.9l-13.7-8.5l-8.9-6l-0.4-0.3l0.1-0.4l-0.8-0.3l-3.6-2.9l0,0l-2.1-2.6l-1.7-1.2l-0.2-0.7l0,0l-3.2-3.1
                                        l-0.3-1l0,0l2.4-0.9l1,0.3l3.7-0.7l2.7-2.3l5.3-2.1l5.1-3.2l1.1-2.2l0.2-7.5l3.4-2.3l4.4-6.5l2.9-0.9l1.8-1.8l1.5-0.9l0.7-1.5
                                        l-0.2-3l0.6-1l0.9-0.5l2.2,0.1l2.3-0.8l3.8-0.4l4,0.1l2.6-1.6l1.1-1.3l1.5-3.3l0.6-3.5l-2.2-8.7v-3.2l0.7-2.5l-3.4-5.9l-2-2.1
                                        l-0.5-4l-1.4-2.3L118.7,240.8z"/>
                                    <path id="NI-MD" class="departamento madriz" d="M115.8,173.4l2.9-1.4l3.1,0.6l4.7,0.2l2.7,0.9l1.9,1.6l0.2,3.4l0.9,1.1l3.3,1.7l1.7-0.3l1.4,1.3
                                        l1.4-0.3l1.6-1.3l2.6-1l2.3-0.5h2.3l12.3,2.3l1.2,0.9l1.9-1l2.4-0.1l1.4-0.5l4-3l1.7-0.8l4,0.1l2.8,0.7l0.7,0.8l1-0.6l2.2,0.2
                                        l1.6-0.9l3.5,3.1l4.2,3.1l1.1,1.5l0.3,2.7l3.4,2.5l1.3,1.3l0,0l-1.3,0.9l-0.4,1.9l-0.6,0.7l-0.4,1.5l-4.4,2.6l-6.9-0.1l-2.3,1.9
                                        l-2.6,4.2l0,0l-2.2-4.4l-2.4-0.9l-4.9-0.3l-16.1,3.6l-1.3-0.1l-2.8-1.3l-5.9-1.9l-2.7,0.1l-1.1,0.6l-1.2,1.5l-4.4,7.7l-3.2,7.2
                                        l-9.8,9.9l-1.3,0.8l0,0l-0.2-0.6l1.2-3.3l-1.1-3.9l-0.7-0.4l-1.9,0.5l-1.3-0.5l0,0l1-0.4l4.1-3l0.5-1.6v-2.1l-0.9-5.5l-0.3-0.4
                                        l-2.8-0.9l-0.8-1.6l0.3-1.2l2.1-2.8V199l-0.4-2.2l-1.4-3.2l-1-8.9l-0.6-1.5l-1.9-0.9l-0.2-0.4l0.1-1.4l1.9-6.4L115.8,173.4z"/>
                                    <path id="NI-MN" class="departamento managua" d="M148.5,341.1l2.2,0.6l3.4,2.6l2.6,1.1l2.6-3l3-1.9l3.4-0.4l3.4,0.4l2.6,4.9l1.1,0.8l-0.4,3
                                        l-1.9,1.9l-1.5,0.8l-1.1,3.7l8.6,0.4l3.7-2.2h11.2l0.4-9.7l1.5-2.6v-2.2l0.8-2.6l-3-0.8l-2.6-1.5l-2.2,0.8l-2.3,3.4l-0.7,0.4
                                        l-0.8,1.1l-2.6,0.4v-5.6l-2.2-3.4l-1.5-3.4l-3-4.1l-1.1-6.4l-2.3-3.7l-6.6,0.5l0,0l-0.2-0.3l0,0l-0.7-1.1l0.6-0.8l-1-0.4v-0.4
                                        l1-0.3l-0.6-1.1l0.5-0.7l1.4-5.1l1-2l1.9-1.1l1.6-2.3l4.5-1.1l0,0l2.3,0.8l4-0.3l4.1,1l2,1.1l2.8,2.5h0.9l1.5-0.7l2.1,0.5
                                        l2.5,1.7l3.9,4l2.3,0.8l4.4,2.3l4.5,1.4l0,0l-1.1,1.5l0.4,0.8l-0.9,0.3v0.4l1.5,2.8l-0.7,0.6l0.4,1.5l1.4,1l2.6,4.2l2.2,1.2
                                        l0.3,1.5l1.1,1l-1.3,1.2l-0.9,3.5l2.9,3.4l9.4,7.6l-2.5,4l0.8,1.2l-1,0.5l-0.2,0.6l0.3,2l0,0l-2.1-0.7l-0.6-0.8h-1.8l-0.5-0.4
                                        l-1.6,1.3l-0.2,1.3l-0.6,0.8l-1.5,1.1l-5.4,1.6l-2.5,1.1h-2.3l0,0l0,0l0,0l-3.6-1.1l-1.4,0.3l-2.3,1.4l-1.3,0.3l-2.3-0.2L193,360
                                        l-2.4,3.2l-3.5,1.1l-3.8,5.3l4.1,4.5l-2.1,3.6L180,380l-4.1-3.7l-2.8,4.2l0,0l-9.8,13.9l-1,2.9l-2.4,2.8l-2.8,1l-2.1,1.8
                                        l-0.6,1.2l1.5,3.5l-0.2,0.7l-1.5,1l0,0l-5-3.5l-4.1-3.7l-0.4-2.2l-1.7-3.2l-4.5-5.5l-4.9-4l-0.7-1.7l-0.2-1.7l-1.9-3.3l-3.5-3.5
                                        l-0.1-0.6l-1.4-0.9l-0.6-1.4l0,0l3.3-2.6V370l-1.4-3.5l0.6-1.3l1.6-0.3l2.1-1.1l4.3,0.8l1.5-1.7l2-1.4l2.4-1l1.1-1.7l2.4-1.1
                                        l-0.3-1.8l0.8-1.6v-1l-0.9-1l-2.5-0.7l-0.5-0.7l2.8-6.5l0,0L148.5,341.1z"/>
                                    <path id="NI-MS" class="departamento masaya" d="M206.4,358.7l1.9,2.2l0,0l0.7,0.8l-0.1,0.5l0.6,1l-0.2,2.2l0.5,0.4l1.5-0.2l0.2,0.2l-1.5,1.7
                                        l0.2,0.9l0.9-0.2l0,0l-0.3,5.6l-5.5,7.2l-0.8,1.8l-1.8,0.3l-1,0.6l-0.4,2.7l-2.8,4.1l-2.1,6.2l0,0l-0.8-1.3l-0.6-0.2l-0.6,0.4
                                        l-2.3-0.3l-1.4-0.7l-3.2-0.1l0.5-1.3l-1.5-0.3l0.7-0.8l-0.2-1.4l1.2-1.6l-0.2-0.2l-3.3-1.5l-1.2-2.7l-6.4-1.9l-4-2.1l0,0l2.8-4.2
                                        l4.1,3.7l5.3-2.3l2.1-3.6l-4.1-4.5l3.8-5.3l3.5-1.1l2.4-3.2l2.4-0.7l2.3,0.2l1.3-0.3l2.3-1.4l1.4-0.3L206.4,358.7z"/>
                                    <path id="NI-MT" class="departamento matagalpa" d="M266.4,206.9l0.8,1.6l0.4,2.2l1.2,2.8l3.6,4.5l1.8,1.2l1.7,3.2l2.9,1.5l0.9,2.1l1.8,2.3l2.8,1.9
                                        l1.8-0.2l1.1-0.8l0.5,0.2l0.8,1.1l1.3,0.8l0.9,1.3l1.9,0.4l1,2.3l1.4,0.3l0.7,1.2l1,0.1l1.2,0.9l0.8-0.1l0.8-1.6l0.5-0.3h2.2
                                        l1.2-1.7l1.5,0.2l1.6-1.7l1.9,2.6l0.3-0.4l0.3-2.6l2.6-0.2l0.9,1.5l0.8,0.4l0.4-2l1.3-1.1l2.6-0.8l2.5,0.2l0.5,0.7l-0.1,1
                                        l-1.6,2.5l0.4,1l-0.6,0.9l-3.8,1.9l-0.8,1.7v1l0.5,1.2l1.3,1.1l0.8,1.4l0,0l0.1,0.8l-2.8,3.3l-1.8,1l-1.2,1.1l-0.3,3.6l-0.8,2
                                        l-1.5-3.4l-1.3,0.1l-1.1,2l-0.8,2.6l-1.7,2.6l0.8,1.8l1.9,2.6l0.4,1.6l-0.5,3.8l-0.7,1.4l0.7,2.6l1,1.3l0.3,1.3l0.1,2.8l2.8-0.6
                                        l2.5,0.1l2.4,2.4l0,0l-1.5,2.7l0.3,1.5l-1.2,0.7l0.2,0.7l0.9,1.1v1.2l-2.2,2l-0.7,1.6l-1,1l0.9,3l-0.1,1.1l-0.7,0.9h-0.8
                                        l-1.4-0.6l-0.3,0.3l0.1,2.3l-0.1,0.8l-0.7,0.8l-3.1-0.3l-0.7,0.1l-1,0.9l-0.6-0.2l-2-3.6l-1.5-1.6l-0.4-0.1l-0.7,1.1l-2.5-0.2
                                        l-0.4-0.3l1-1.9l-0.4-0.6l-4.5-1l-0.9-1.4l-0.5-0.2l-2.7-0.3l-1.2,1.1l-1.1-2.8l-1.8-0.7l-2.3-1.5l-1.6,0.5l-1.1,1.4l-1.6,0.6
                                        l-1.4,1.8l-1-0.3l-1.9-1.6l-3.4-0.7l-1.5,1l-1.4-0.4l-2.2,0.4l-1.2,0.7l-0.9,2.2l-0.7,0.7h-2.4l-1.1,0.6l-0.4,0.7l-1.3-0.6
                                        l-0.5,0.2l-0.7,0.6l-1.7,0.4l-0.4,0.9l-1.4-0.5l-0.5,0.5h-0.5l-0.8-0.6h-1.1l-1.5-0.8l-1.5-0.2l-2,0.4l-3.2,1.4l-3.7,0.6
                                        l-7.5,0.1l-5.3,0.7l-1,0.4l0.5,3.2l-0.2,1.5l-0.6,1.1l-1.7,1.3l-4.1,1.5l-2.1,1.5l-1.5,1.9l-0.9,0.5l0,0l-4.5-1.4l-4.4-2.3
                                        l-2.3-0.8l-3.9-4l-2.5-1.7l-2.1-0.5l-1.5,0.7h-0.9l-2.8-2.5l-2-1.1l-4.1-1l-4,0.3l-2.3-0.8l0,0v-2.3l1.1-3.3l-0.6-1.7l-0.1-1.8
                                        l0.6-2.1l-0.2-0.6l0.8-6.2l-0.5-4.6l0.2-4.1l0,0l1-6.5l6.2-3.5l3.3-0.5l2.1-0.8l1.1-1.3l2.2-5.3l-0.7-1.5l1.4-0.6l0.8-1.4
                                        l1.5-0.3l0.5-0.5l0,0l1.3,0.4l1-0.2l1.2,0.5l0.5-0.6l1.8,0.2l1.3,0.5l1.2,1.3l0.9,3.3l4.5,0.2v-2.5l0.5-0.4l2,0.6l4.4,0.4
                                        l2.3-0.8l4.7-4.9l9.7-8.6l1.1-0.5l2.2-0.1l0.9-0.6l3.5-5.8l5.7-5.3l2.6-3.1l4.6-8.4l2.7-1.4l5-0.7L266.4,206.9z"/>
                                    <path id="NI-NS" class="departamento nuevasegovia" d="M206.5,121.1l0.2,1.4l-0.6,1.8l-1.4,2.6l-0.3,1.9l0.9,2.2l8.1,6.3l2.3,2.2l1,1.6l2.3,1l0.6-0.4
                                        l0.2-1.3l0.8-0.9l2.9,0.3l1.5,0.8l0.9,1.3l-0.1,3.2l1.4,1.3l0.6,1.5l0.7,0.3l0.5,1l0.9,0.4l2.4,0.1l2.4-0.7l0.9,0.3l0.9,1.3l0,0
                                        l-2,3.4l-1.4,0.7l-1,1.3l-0.1,0.8l1.3,3.6l-1.4,2.4l0.4,1.8l-0.3,1.3l-2.9,5.6v4.7l-1.5,1.8l-0.1,0.9l1.1,1.7l0.1,0.7l-0.2,0.8
                                        l-0.5,0.4l-0.3,1.9l0.9,0.3l0.8-0.2l0.4,0.5l-0.4,1l-1.3,0.6l-0.5,0.9l1.1,1.7l-0.5,1l-1.2-0.8l-1.1,0.4l-1.1,1.2h-1.4l-0.7,0.3
                                        l-1.2-0.3l-0.1,0.6l-0.7,0.6l-2.1,1.4l-0.1,1.8l-0.7,0.9L217,195l-1.1,0.2l-0.4-0.2l-1.1-1.7l-4.8-3.2l-2.4,0.1l-1.4-0.7
                                        l-0.7,0.4l-0.4,1.3l-0.6,0.5l-3.8,0.4l-0.7-0.4l0,0l-1.3-1.3l-3.4-2.5l-0.3-2.7l-1.1-1.5l-4.2-3.1l-3.5-3.1l-1.6,0.9l-2.2-0.2
                                        l-1,0.6l-0.7-0.8l-2.8-0.7l-4-0.1l-1.7,0.8l-4,3l-1.4,0.5l-2.4,0.1l-1.9,1l-1.2-0.9l-12.3-2.3h-2.3l-2.3,0.5l-2.6,1l-1.6,1.3
                                        l-1.4,0.3l-1.4-1.3l-1.7,0.3l-3.3-1.7l-0.9-1.1l-0.2-3.4l-1.9-1.6l-2.7-0.9l-4.7-0.2l-3.1-0.6l-2.9,1.4l0,0l-2.5-1L113,171
                                        l2.7-6.1l0.1-0.8l-0.8-3.6l0.6-2.9l2.6-0.1l2.1-1.3l1.1-0.3l5.8,0.5l1.6,0.6l1.4-0.1l1.2-0.6l2.4,0.3l4.1-0.9l2-1.5h1.6l1.6,0.3
                                        l1.4,2.1l2.8,1.5l3-0.3l2.7-1.4l0.8,0.5l0.7,2.1l0.7,0.4l1.6-0.4l3.1,0.3l0.8-0.2l1.3-1.1l0.5,0.1l0.9,1l1.5,0.2l0.7-0.3l3-2.4
                                        l1-2.4l1.4-1.6l0.3-1.6l-0.5-1.8l0.3-0.5l2.4-1.2l0.5-1.7l2.8-1.9l1.2-2.2l1.5-1.1l0.9-2l2.4-1.2l0.8-1.6l1.1-0.6l-0.5-2.2
                                        l0.2-0.8l0.3-0.3l3.3-0.5l2.6-1.8l0.2-0.9l-1.9-1.5l0.2-1.5l3.4-1.4l2.3-1.9l1.2-0.6l2.5-0.2l1-0.5l3.5,0.1l2.7-1L206.5,121.1z"
                                        />
                                    <path id="NI-RI" class="departamento rivas" d="M269.8,439.1l0.2,1.3l1.3,1.4l0.4,1.6l0.2,1.9l-0.6,2.4l-1,1.1l-1.7,0.8l-2.2,0.8l-1.5,0.1
                                        l-1.6-0.3l-1.4-0.8l-1.1-1.5l-1.7-1.4l-1-2.9l0.6-2.4l-0.4-0.8l-2.4-1.9l-1.3-0.5l-2.6,0.1l-0.1,1.2L251,440l-0.7-0.8l-0.9-0.1
                                        l-2.3,1.5l-1.1,0.1l-2.8-1.6l-2.1-2l0.1-0.9l2.1-3.4l0.1-1.7l1.1-1l3.5-1.8l3.5-1h1.6l1.3-0.9l2.3-0.1l2.4,1.9l0.3,0.6l0,0v0.8
                                        l0,0l-0.6,2.1l0,0l0.5,4l0,0l0.5,1.8l1.5,1.5l1.8-0.2l0.9,0.4l2-0.6l2.2,0.8l0.5-0.4v-0.7l0.7,0.2l0,0L269.8,439.1z M219.1,414.7
                                        l0.1,0.5l1.8,1.5l1.3,1.8l0.4,0.1v-0.8l-0.8-1.2l-0.5-3.5l1.7,0.9l0.6,5l1.1,4.5l1.9,5.6l5.2,7.8l0.4,1.6l0.1,2.5l1.1,3.9
                                        l0.2,2.1l2,4.6l1.9,3l2.4,2.6l2,0.9l4,5.8l2.4,1.9l2.9,3.1l1.6,0.1l0.3-0.8l0.4-0.1l2,0.4l1.5,1.2l3.3,1.2l2.8,3.1l0.8,0.5h1.1
                                        l0.8,1.1l2,1.5l1,0.4l1.1-0.4l0.5,0.2l0,0l0.8,0.6l0,0l3.1,1.5l3.1-0.1l6.6,1.1l2.5,1.3l1.8-0.5l1.4,0.1l7.2,4.5l0.7,0.1l1.1-0.5
                                        l2.6,1.5l2.6,0.2l0.5-0.3l0,0l0.8,3.2l-0.4,1.5l0,0l-2-0.7l-18.1-9.1h-6.9l-12.7-4.7l-0.6-0.4l-3.9-5.1l-6.1-1l-1.1,0.4l-0.9,2.5
                                        l-8.7,14.5l-1.7-0.1l-1.5-1.4h-2.6l-0.6-0.9l-1.3-0.1l-0.7-1l-0.6,0.3l-0.8-0.5l-0.2,0.4l-1.4-1l-0.1-0.8l-0.9-0.9l0.1-1.2
                                        l-0.1-0.8l-0.4-0.3l0.1-0.6l-2-3.7l-2.4-2.8l-0.6,0.1l-0.7-1.7l-0.6-0.1l-1.3-1.6H223l-0.4-0.8l-0.7-0.3l-0.2-0.9l0.5-0.1
                                        l0.1-0.7l-1.6-0.3l-0.5-0.6l0.6-0.5l-0.1-0.4l-1.7-0.1l-0.3-1.7l-0.5-0.9l-0.8-0.3v-0.7l-0.6-0.5l-0.3-0.1l-0.3,0.4l-0.9-0.5
                                        l-0.1-0.7l-0.6-0.2l-1.5-1.9l-2.3-1.4l-0.6-0.2l-0.5,0.4l-0.7-0.7l-0.7,0.5l-0.3-0.2l-0.1-0.8l-1.4-1.3l-0.1-0.9l-1.3-0.7
                                        l-0.7,0.1l-1.5-1.1l0.6-0.6l-0.3-0.6l-1.6-1.5l-2.3-0.8l-2.2-3.4l-5.1-3.9l-3.4-1l-1.3-2l0.2-1.6l-0.9-1.3l0,0l1.9-1.4v-0.9
                                        l0.7-0.8l-0.2-1l0.8-0.6l0.5-1.9l4-4.1l0,0l1.6-0.2l1.8,0.6l2.1-1.5l4.3-0.5l1-0.7l0.9-2.5l1.5-1.1l1.2-0.2l1.7,0.8l1.9,0.1
                                        l0.3-0.7l2-0.6l3.1-0.4L219.1,414.7z"/>
                                    <path id="NI-SJ" class="departamento riosanjuan" d="M335,479.8L335,479.8l-0.4,1.4l1.5,0.8l-0.4,0.7l-1.3-0.1l-3.5-2.8l-0.6-1.3l2,1.3l0,0H335z
                                        M329.3,478.2l0.2,0.3l0,0l-0.2,0.2l0,0l-1.3-0.3l0,0l-0.6,0.3l-0.1-0.3l0.4-0.9l-0.3-1.4l1.2-0.3l0.5-0.5v2.3l0,0L329.3,478.2z
                                        M319.2,476.3l-0.5,1.4v1.6l-0.4,0.1l-0.9-1.5l0.6-1l0.1-1l1.2-0.8l0,0L319.2,476.3z M322.9,473.1l1,1.4h0.7l0.4,1.6l0.8,1.3
                                        l-0.6,0.4l-1.6,0.1l-2.7,1.9l-1.2-2.5l0.9-2l-0.5-1.6l0.5-0.3l1.9,0.4l0.1-0.6L322.9,473.1z M314,419.8l0.5-0.4l-0.1-0.8l1-0.7
                                        l0.3-1.5l2.9-0.5l2-1.6v-1l0.6-0.1v-0.6l1.4,0.2l1.3,0.9l0.5-1l1.1-0.2l1.5-2.6l2-0.3l0.2-0.6l1-0.8l-0.5-2l1.3-0.7l0.6-1.9
                                        l4.2-1.3l0.9-1l1,0.2l0.9-0.6l1.1-0.1l2-2.6l7.1-3.8l3.2-1.1h3l3.6-1.3l2.6,0.1l1.1,0.4l2.4-0.4l5.1,1.2l4.1,0.1l0,0l1,4.7
                                        l2.2,6.1l0.6,0.7l1.5-0.1l0.7,0.6v1.2l-1.2,3.6l-0.1,2.3l0.4,1.1l3,3.7l0.6,1.5l-0.3,2.6l-2.9,4.8l-0.9,3.5v3.7l1,4.5l0.1,4.3
                                        l0.5,1.4l1.7,1.2l6.9,1.8l3.9,2.9l4.2,2.6l6.8,2.8l0.7,1.3v0.7l-0.5,3.1l0.1,2.2l1,1.7l0.9,0.8l4.8,1.7l7.7,3.9l1.5,1.4l4.8,8
                                        l1.7,0.8h1l0.6,0.7l0.6-0.1l0.9,0.5l0.5-0.3l1.3,0.8l1.3-0.3l3.7,0.9l1.9-0.5l1.1-0.7l0.5,0.6l1.2-0.2l0.1,0.7l-0.7,0.4l0.6,2.2
                                        l1.2,1.8l1,0.5l0.9-0.6l2-0.4l0.8-0.7l1,0.1l1.3-1.5h0.4l0.3,0.6l1.1-0.1l0.3,0.5l2.2-0.6v-0.9l1.3-0.3l1.2,0.8l1.4-1.2l0.9,0.1
                                        l0.9,1.4L459,487l1.3,1.9v1.7l0.5,0.9l0.7,0.4l1-0.9l1.1-0.4l3.5,0.7l0,0l1,0.1l2.8,2.4l5.1,7.8l2.1,2l1.7,1l0.1,0.7l-0.3,0.5
                                        l0.4,0.4l2,0.1l-0.1-0.9l-1.6-1.4l1.1,0.1l0.9-0.4l2,0.4l-0.1,0.7l2,2.5l-0.5,1.9l1.1,1.4l0.1,0.9l-0.4,3.7l1.1,3.3l-0.3,1.3
                                        l-1.3,2l-1,0.5l-2.1,0.4l-1.8-0.4l-0.8,0.7l-1.5,0.1l-1.3,0.6l-1.9,1.2l-3.3-0.1l-2.7,2.8l-2-0.2l-1.4,0.5l-0.4,0.9l-2.4,2.1
                                        l-4.1-0.3l-0.8,0.7l-2.5,0.9l-0.9-0.1l-0.9-1.7l-3-0.9l-0.6-0.6l-0.4-1.4l-3.8-2.2l-2-3.1l-1.3,0.2l-0.4,1.5l-1.1-0.5h-1L440,524
                                        l-0.3,1.1l-0.7,0.2l-1.2-0.1l-2.7-1.3l-1.8,0.8l-1.1-0.2l-0.8-2.2l-5,0.5l-2-0.5l-1.3,1l-0.7-1.8l-1-0.7l-1.4-0.3l-0.3-0.7
                                        l-0.9-0.4l-0.2-0.7l2.2-0.9v-0.7l0.5-0.9l-0.5-1.7l0.3-0.7l-0.3-0.9l-0.5-0.6l-2-0.7l-0.9-0.9l-4-0.8l-1.8-2.5l-2.1-0.5l-1.2,0.1
                                        l-0.6-0.6l-1.2-2.7l-1.2-0.8l-0.1-0.6l0.9-2.6l-1.6-2.4h-0.6l-1.8,1.8l-3,0.9l-1.8,1.6l-0.9,0.3l-1.7-0.2l-1.7-1l-4-4.4l-2.3-1.3
                                        l-6.6-2.5l-1.2-2.2l-4.3,1.4l-8.4-4.9l-0.4-0.1l-28,16.8l-9-3.7l-24.1-8.7l0,0l0.4-1.5l-0.8-3.2l0,0l1.1-0.5l0.5-0.9l1.3,0.8
                                        l1.5,0.3l1.3,1.5l1,0.5l1.7-0.2l0.8-0.5l1.4,0.6l3.2-0.1l0.5,0.4l0.4,1.2l1.5-0.1l0.9,0.7l4.9-0.6l0.7,0.5l0.1,1.7l0.7,0.6
                                        l1.6-0.1l4-1.1l1.8,2l0.5,1l0.8,0.3l2-0.2l4.3-2l3.9,0.1l1.8-1l1.1-1.4l1.7-1l2,0.1l-1.3-0.8l1.4-3.5l-1-1.8l-1-0.6l-0.4-1.8
                                        l0.2-2.8l-0.5-4l0.6-1.3l-0.6-0.9l0.8-1.7l-1.2-1l-1-5.7l-2.2-1.2l-1.6-0.2l-1.7-1.7l-2.3-0.8v-0.5l1-0.2l-0.5-2.2l-2.3-1.3
                                        l-1.1-0.1l-0.8-1.9l0.1-1.1l-0.7-4.4l0.6-0.9l-0.8-1.7l-0.6-0.4l-1.1,1l-0.7,1.3H334l-1.5-2.1v-1.1l-1.1-1.4l0.2-1.6l-0.8-0.1
                                        l-1-1.4l-2.7-2.1l-3.1-4.8l-1-0.4l-1-1.3l-1.6-0.7l-1-1.5l-0.4-2.4l-2.3-2.6l-0.7-1.7l-1.7-0.3L314,419.8z"/>
                                </g>
                            </g>
                        </switch>
                    </svg>
                </div>
            </div>
        </div>-->
    </div>
</section>

<section class="service-list padding-seccion">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <div class="seccion-heading-style-one">
                    <h2 class="text-color-base  mrb-40">Servicios</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="development-box">
        <div class="container">
            <div class="img-carousel-content owl-carousel text-center text-white owl-none " data-wow-delay="0.4s">
                {% for obj in latest_service %}
                {% if not forloop.counter|divisibleby:"2" %}
                    <div class="item">
                        <div class="box-item-service text-center">
                            <div class="item-service-content mrb-100">
                                <h5>{{obj.servicio}}</h5>
                                <p class="mb-0">{{obj.descripcion|safe|striptags|truncatechars:110}}</p>
                            </div>
                            <div class="clearfix">
                                <span class="round-center"></span>
                            </div>
                            <div class="icon-bx-md radius border-1 box-center mrt-100 mrb-20"> 
                                <span class="icon-cell"><i class="fa fa-laptop-code"></i></span> 
                            </div>
                            <a href="{% url 'servicios' obj.uri %}" class="btn btn-style-one "><span class="font-weight-500">Leer más</span></a>
                        </div>
                    </div>
                {% else %}
                    <div class="item">
                        <div class="box-item-service text-center">
                            <div class="icon-bx-md radius border-1 box-center mrb-20"> 
                                <span class="icon-cell"><i class="fa fa-laptop-code"></i></span> 
                            </div>
                            <a href="{% url 'servicios' obj.uri %}" class="btn btn-style-one"><span class="font-weight-500">Leer más</span></a>
                            <div class="clearfix">
                                <span class="round-center"></span>
                            </div>
                            <div class="item-service-content mrt-100">
                                <h5>{{obj.servicio}}</h5>
                                <p class="mb-0">{{obj.descripcion|safe|striptags|truncatechars:110}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</section>

<section class="video-list ">
    <div class="main-video tab-content">
        {% for obj in latest_videos %}
            <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {% video obj.youtube as my_video %}
                            <iframe id="video1" width="100%" height="300" src="{{ my_video.url }}" frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endvideo %}
                        </div>
                        <div class="col-md-6">
                            <div class="info-video">
                                <span class="badge badge-main mrt-10" style="background-color:#3DB4D9;">{{obj.categoria}}</span>
                                <h5 class="mrt-20 mrb-20">{{obj.video}}</h5>
                                <p class="date">{{obj.fecha|date:"d/m/Y"}}</p>
                                <p class="color-white">{{obj.texto|truncatechars:200}}</p>
                                <p>{{obj.realizacion}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="slide-videos">
        <div class="container">
            <div class="carousel-video owl-carousel">
                {% for obj in latest_videos %}
                <div class="item">
                    <a href="#{{forloop.counter}}" aria-controls="{{forloop.counter}}" role="tab" data-toggle="tab" class="{% if forloop.counter == 1 %}active{% endif %}">
                        {% video obj.youtube as my_video %}
                        {% thumbnail my_video.thumbnail "215x120" crop="center" as im %}
                        <img src="{{ im.url }}" alt="" width="100%">
                        {% empty %}
                            <img src="https://place-hold.it/215x120"  alt="">
                        {% endthumbnail %}
                        {% endvideo %}
                    </a>
                </div>
                {% endfor %}
            </div>
        
        </div>
    </div>   
</section>

<section class="list-blog padding-seccion">

    <div class="container">
		<div class="row text-center">
			<div class="col">
				<div class="seccion-heading-style-one mrb-30">
					<h2 class="text-color-base">Cambiando vidas</h2>
				</div>
			</div>
		</div>
        <div class="row">
            {% for blog in latest_blogs %}
                <div class="col-sm-12 col-md-4">
                    <div class="card box-shadow mrb-20">
                        <div class="entry-thumbnail">
                            <a href="{% url 'blogs:detalle-blog' blog.id blog.uri %}">
                                {% thumbnail blog.foto "800x480" crop="center" as im %}
                                    <img src="{{ im.url }}" class="card-img-top" alt="{{blog.blog}}">
                                {% empty %}
                                    <img src="https://place-hold.it/800x480" class="card-img-top" alt="{{blog.blog}}">
                                {% endthumbnail %}
                            </a>
                            <div class="card-author">
                                <span class="author-name">
                                    <a href="#">por {{blog.idautor}}</a>
                                </span>
                            </div>
                            <span class="badge badge-main" style="background-color:#3DB4D9;">{{blog.idcatblog}}</span>
                        </div>
                        <div class="card-body">
                            <div class="card-tags">
                                
                                <span class="date">{{blog.fecha|date:"d F, Y"}}</span>
                            </div>
                            <h5 class="card-title text-limit line-2">
                              <a href="{% url 'blogs:detalle-blog' blog.id blog.uri %}">{{blog.blog}}</a>
                            </h5>
                        </div>
                        <div class="separador"></div>
                        <div class="card-meta">
                            <span class="comments-link">
                                <i class="fa fa-comments"></i>
                                <a href="">300 Comentarios</a>
                            </span><!-- .comments-link -->
                            <!--<span class="view-link">
                                <i class="fa fa-eye"></i>
                                <a href="">1000 Vistas</a>
                            </span>-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col text-center mrt-20">
                <a class="btn btn-style-two box-shadow" href="">Todas las entradas</a>
            </div>
        </div>
    </div>
    
</section>

<section class="list-publicaciones pdt-50 pdb-50 mrt-50 bg-gris">

    <div class="container">
		<div class="row mrb-30">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="seccion-heading-style-two mrb-30">
					<h2 class="text-color-base">Publicaciones</h2>
				</div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
				<a class="btn btn-style-two box-shadow float-right" href="/publicaciones">Todas las Publicaciones</a>
			</div>
		</div>
        <div class="carousel-publicaciones owl-carousel">
            {% for publicacion in latest_pub %}
                <div class="ìtem">
                    <figure class="item-box box-shadow">
                        {% thumbnail publicacion.portada "350x453" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% empty %}
                            <img src="https://place-hold.it/350x453" class="img-responsive" alt="...">
                        {% endthumbnail %}
                        <!--<img src="https://place-hold.it/350x453" class="img-responsive" alt="...">-->
                        
                        <figcaption class="item-hover">
                            <h6>{{publicacion.publicacion}}</h6>
                            <a href="{% url 'publicaciones:detalle-publicacion' publicacion.id publicacion.uri %}">Ver</a> 
                         </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
    
</section>

<section class="grid-gallery ">
    <div class="grid-sizer"></div>
    <div class="grid-item grid-item--height2">
        
        <div class="gallery-image">
            {% thumbnail galeria_vertical.portada "800x960" crop="center" as im %}
                <img src="{{ im.url }}" alt="" width="100%">
            {% empty %}
                <img src="https://place-hold.it/800x960" alt="" width="100%">
            {% endthumbnail %}
            <div class="gallery-overlay">
                <a href=""><span class="fa fa-plus"></span></a>
            </div>
        </div>
        
        <div class="gallery-desc">
            <h5 class="text-color"><a href="">{{galeria_vertical.titulo}}</a></h5>
            <span><a href="#">{% for tema in galeria_vertical.tematica.all %}
                {{tema}}{% if not forloop.last %},{% endif %}        
            {% endfor %}</a></span>
        </div>
    </div>

    <div class="grid-item grid-item--width2">
        <div class="gallery-image">
            {% thumbnail galeria_horizontal.portada "1600x480" crop="center" as im %}
                <img src="{{ im.url }}" alt="" width="100%">
            {% empty %}
                <img src="https://place-hold.it/1600x480" alt="" width="100%">
            {% endthumbnail %}
            <div class="gallery-overlay">
                <a href=""><span class="fa fa-plus"></span></a>
            </div>
        </div>
        
        <div class="gallery-desc">
            <h5 class="text-color"><a href="">{{galeria_horizontal.titulo}}</a></h5>
            <span><a href="#">{% for tema in galeria_horizontal.tematica.all %}
                {{tema}}{% if not forloop.last %},{% endif %}        
            {% endfor %}</a></span>
        </div>
    </div>
    
    {% for galeria in galeria_normal %}
        <div class="grid-item">
            <div class="gallery-image">
                {% thumbnail galeria.portada "800x480" crop="center" as im %}
                    <img src="{{ im.url }}" alt="" width="100%">
                {% empty %}
                    <img src="https://place-hold.it/800x480" alt="" width="100%">
                {% endthumbnail %}
                <div class="gallery-overlay">
                    <a href=""><span class="fa fa-plus"></span></a>
                </div>
            </div>
            
            <div class="gallery-desc">
                <h5 class="text-color"><a href="">{{galeria.titulo}}</a></h5>
                <span><a href="#">{% for tema in galeria.tematica.all %}
                {{tema}}{% if not forloop.last %},{% endif %}        
            {% endfor %}</a></span>
            </div>
        </div>
    {% endfor %}

</section>

<section class="section-subscribe padding-seccion bg-gris m-0">
    <div class="container clearfix">
        <div class="row text-center">
			<div class="col">
				<div class="seccion-heading-style-one mrb-30">
					<h2>Subscribete a nuestro <span class="text-color-base">boletín</span></h2>
				</div>
			</div>
		</div>


        <div class="subscribe-widget">
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form2" action="." method="post" class="nobottommargin">{% csrf_token %} 
                {% if form.errors %}
                    {{form.errors}}
                {% endif %}
                {% if mensaje %}
                    {{mensaje}}
                {% endif %}
                <div class="input-group input-group-lg box-center" style="max-width:600px;">
                    
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-paper-plane"></i></div>
                    </div>
                    <!--<input type="email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Correo electrónico">-->
                    {{form.email}}
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Suscribirse Ahora</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</section>
{% endblock content %}

{% block extra_js %}
<script src="/static/js/WOW.js"></script>
<!--Gallery-->
<script src="/static/js/isotope/isotope.pkgd.min.js"></script>
<script>
    $('.grid-prueba').isotope({
        itemSelector: '.grid-item',
        percentPosition: true,
        masonry: {
          columnWidth: '.grid-sizer'
        }
    });
</script>
<!--Sliders index-->
<script src="/static/js/owl-carousel/owl.carousel.min.js"></script>
<script>
    jQuery('.img-carousel-content').owlCarousel({
		loop:true,
		autoplay:false,
		margin:30,
		nav:true,
		dots: false,
		navText: ['<i class="flaticon-left-arrow"></i>', '<i class="flaticon-right-arrow"></i>'],
		responsive:{
			0:{
				items:1
			},
			480:{
				items:1
            },
            960:{
				items:2
			},			
			1024:{
				items:3
			},
			1200:{
				items:4
			}
		}
	});
</script>
<script>

    jQuery('.carousel-video').owlCarousel({
		loop: false,
        margin: 10,
        responsiveClass: true,
        dots: false,
        nav: true,
        lazyLoad:true,
		navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
		responsive:{
			0:{
				items:2
			},
			480:{
				items:3
            },
            			
			1024:{
				items:4
			},
			1200:{
				items:5,
			}
		}
    });

    $(".slide-videos a").click(function(){
        $(".slide-videos a").removeClass("active");
        $(this).addClass("active");
        var href = $(this).attr('href');
        $(".tab-pane").removeClass("active");
        $(href).addClass('active');
    });


</script>
<script>
    jQuery('.carousel-publicaciones').owlCarousel({
		loop: false,
        rewind: true,
        margin: 10,
        responsiveClass: true,
        nav: true,
        dots: false,
        lazyLoad:true,
		navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
		responsive:{
			0:{
				items:2
			},
			480:{
				items:2
			},			
			1024:{
				items:4
			},
			1200:{
				items:4
			}
		}
    });
</script>
<script>
    $(window).scroll(function() {    
        var scroll = $(window).scrollTop();
    
        if (scroll >= 250) {
            $(".navbar").removeClass("nav-transparent");
        }
        if (scroll <= 249) {
            $(".navbar").addClass("nav-transparent");
        }
    });


    //este evento de click en el div
    $(".departamento").click(function(){
        var id = $(this).attr('id');
        // alert(id);
        $('#beneficiario').empty();
        $.getJSON('/ajax/deptos/?id='+id, function(data){
            $('.departamento').removeClass('fill-color-base');
            $(this).addClass('fill-color-base');
            $('.proyecto').remove();
            
            if(data){
                var beneficiarios = 0
              $.each(data, function(i, item){
                var div = '<div class="col-sm-6 col-md-3 col-lg-3 mrb-30 proyecto"><div class="fun-image"><img class="img-fluid" src="'+item[2]+'" style="width: 104px; height:104px;" alt=""><h5><a href="/proyecto/'+item[1]+'" class="color-white" id="prueba">'+ item[0] +'</a></h5></div></div>'
                $('#list-proyectos').append(div);

                if (item[3] != null){
                    beneficiarios += item[3];
                }
                $('#beneficiario').empty();
                $('#beneficiario').append(beneficiarios+'<br>Personas Beneficiadas');
              });
            }
          });

        
    });
</script>

<script>
$("#id_email").addClass("form-control required email");
$("#id_email").attr("placeholder", "Correo electrónico");
</script>
<script>
    var map = L.map('mapid',{zoomControl: false,  scrollWheelZoom: false}).setView([12.8654156, -85.2072296], 7);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);

    {% for obj in proyectos %}
        {% if obj.ubicacion_proyecto %}
        {% for point in obj.ubicacion_proyecto %}
            var marker{{forloop.parentloop.counter}}_{{forloop.counter}} = L.marker([{{point.1}}, {{point.0}}]).addTo(map);
             var popup{{forloop.parentloop.counter}}_{{forloop.counter}} = marker{{forloop.parentloop.counter}}_{{forloop.counter}}.bindPopup('<b>{{obj.nombre}}</b><br/>Beneficiarios: {{obj.beneficiarios}} <br/> <a href="{% url 'detalle-proyecto' obj.slug %}">Ver detalle</a><br/>');
             
        {% endfor %}
            
        {% endif %}
    {% endfor %}
    

</script>
{% endblock extra_js %}