{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block content %}

<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 text-left">
              <h2 >Publicaciones</h2>
          </div>
          <div class="col-md-6 col-sm-6 text-right">
              <ul class="breadcrumb">
                  <li><a href="/">Inicio</a></li>
                  <li ><a href="/publicaciones/">Publicaciones</a></li>
              </ul>
          </div>
      </div>
    </div>
</div>
<article class="area-publicacion padding-page bg-gris ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-body bg-white box-shadow">

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="mrb-20">{{publi.publicacion}}</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="publicacion">
                                
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12 col-md-8 col-lg-7">
                                        <div class="d-flex align-items-end post-meta-list">
                                            <span class="post-cat">
                                                <i class="fa fa-calendar"></i> <a href="#">{{publi.fecha}}</a>
                                            </span>
                    
                                            <span class="tags-links">
                                                <i class="fa fa-user"></i>
                                                {{publi.autor}}
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-5">
                                        <p class="shared_social float-right mb-0">
                                            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=200691280061950" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;max-width: 200px;" allowTransparency="true">
                                            </iframe > <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                        </p>
                                    </div>
                                </div>
                                
                                <hr>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5 col-lg-4">
                            {% if publi.portada %}
                            <img class="img-responsive" src="/media/{{publi.portada}}"  alt="{{publi.publicacion}}" width="100%">
                            {% else %}
                            <img src="https://place-hold.it/350x453" alt="{{publi.publicacion}}" width="100%">
                            {% endif %}
                            
                        </div>
                        <div class="col-sm-12 col-md-7 col-lg-8">
                            <ul class="publicacion-detail mrb-20" >
                                <li>
                                    <strong class="text-color-base"><i class="fa fa-book"> </i> Editorial:</strong> {{publi.editorial}}
                                </li>
                                <li>
                                    <strong class="text-color-base"><i class="fa fa-qrcode"> </i> Code:</strong> {{publi.codigo}}
                                </li>
                                <li>
                                    <strong class="text-color-base"><i class="fa fa-book-reader"> </i> Disponibilidad:</strong> {{publi.iddisponibilidad}}
                                </li>
                                <li>
                                    <strong class="text-color-base"><i class="fa fa-tags"> </i> Categorías:</strong> {%for tema in publi.idcategoria.all%}{{tema}}, {%endfor%}
                                </li>
                            </ul>
                            <div class="info-texto">
                                {{publi.resumen|safe }}
                            </div>
                            <div class="noticias-publicacion mrb-20">
                                
                                {% if obj.notas %}
                                <h5>Nota:</h5>
                                <div class="info-texto">
                                    {{obj.notas|safe }}
                                </div>
                                {% endif %}
                            </div>
                            <div class="descargas">
                                {% if publi.archivo1 %}
                                <a class="btn btn-style-one" href="/media/{{publi.archivo1}}" target="_blank"><i class="fa fa-download"></i> Descargar adjunto 1</a>
                                {% endif %}
                                {% if publi.archivo2 %}
                                <a class="btn btn-style-one" href="/media/{{publi.archivo2}}" target="_blank"><i class="fa fa-download"></i> Descargar adjunto 2</a>
                                {% endif %}
                                {% if publi.archivo3 %}
                                <a class="btn btn-style-one" href="/media/{{publi.archivo3}}" target="_blank"><i class="fa fa-download"></i> Descargar adjunto 3</a>
                                {% endif %}
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="tags-detalle">
                    <span>Temáticas: </span>
                    {{publi.claves}}
                    
                </div>
            </div>
            
        </div>
    </div>
</article>

{% endblock content %}
{% block extra_js %}
<script>
	$(".menu-5").addClass("active");

</script>
{% endblock extra_js %}