{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.min.css">
{% endblock extra_css %}

{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center color-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Servicios</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Servicios</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="services-menu mrt-40">
    <div class="container">
       <ul>
        {% for obj in object_list %}
            <!--box  start-->
              <a href="{% url 'servicios' obj.uri %}">
                <li {% if obj.uri in request.path %}class="active"{% endif %}>
                 <div class="sinfo">
                    {% thumbnail obj.imagen "57x57" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% empty %}
                        <img src="https://place-hold.it/57x57" alt="...">
                    {% endthumbnail %}
                    <h6>{{obj.servicio}}</h6>
                 </div>
              </li>
              </a>
              
              <!--box  end--> 
        {% endfor %}
       </ul>
    </div>
 </section>

 <div class="clearfix"> </div>
 
<section class="area-services pdt-100 pdb-70 ">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                {% thumbnail servicio.imagen "800x480" crop="center" as im %}
                    <img src="{{ im.url }}" alt="">
                {% empty %}
                    <img src="https://place-hold.it/800x480" alt="...">
                {% endthumbnail %}
            </div>
            <div class="col-md-7">
                <div class="info-texto">
                    <h4>{{servicio.servicio}}</h4><br>
                    {{servicio.descripcion|safe}}

                    
                </div>

            </div>
        </div>
    </div>
</section>

{% if portafolio %}
<section class="area-portafolio pdt-100 pdb-70 bg-gris">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="seccion-heading-style-two mrb-30">
                    <h2 class="text-color-base">Projectos Recientes</h2>
                </div>
            </div>
        </div>
    </div>
    <section class="grid-gallery ">
        <div class="grid-sizer"></div>

        {% for obj in portafolio %}
        <div class="grid-item">
            <div class="gallery-image">
                {% if obj.fotos.all %}
                    {% for img in obj.fotos.all|slice:":1" %}
                
                    {% thumbnail img.imagen "800x480" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                
                    {% endfor %}
                {% else %}
                <img src="https://place-hold.it/800x480" alt="...">
                {% endif %}
                
                <a href="#" class="gallery-overlay btn-open" id="open-{{forloop.counter}}">
                    <div class="titulo-servicio">
                        <h5>{{obj.servicio}}</h5>
                        <h6>{% for org in obj.organizacion.all %}{{org}}{% if not forloop.last %},{% endif %}{% endfor %}</h6>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </section> 
</section>
{% endif %}


{% for obj in portafolio %}
<div class="detalle-album" style="display: none;" id="detalle-album-{{forloop.counter}}">
    <section class="pdb-20 pdt-20">
        <a class="btn-close" href="#"  title="Cerrar" id="close-{{forloop.counter}}"> 
            <span class="fa fa-times fa-lg"></span>
        </a>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="titulo-album">
                        <h5>{{obj.servicio}}</h5>
                        
                            {{obj.resumen|safe}}
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="list-imagenes owl-carousel">
                        {% for img in obj.fotos.all %}
                        <div class="item">
                            {% thumbnail img.imagen "800x480" crop="center" as im %}
                                <img src="{{ im.url }}" alt="" class="img-responsive">
                            {% endthumbnail %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div class="btn-navegacion"> 
            <a href="#"  title="Proyecto anterior" ><span class="fa fa-chevron-left"></span></a>
            <a href="#"  title="Proyecto siguiente" ><span class="fa fa-chevron-right"></span></a>
        </div>
        
    </section> 
</div>  
{% endfor %}

{% endblock content %}

{% block extra_js %}
<!--Gallery-->
<script src="/static/js/isotope/isotope.pkgd.min.js"></script>
<script src="/static/js/filter/filter.js"></script>
<script src="/static/js/owl-carousel/owl.carousel.min.js"></script>
<Script>
    jQuery('.list-imagenes').owlCarousel({
		loop: false,
        rewind: true,
        margin: 10,
        responsiveClass: true,
        nav: false,
        dots: true,
        lazyLoad:true,
		navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
		responsive:{
			0:{
				items:1
			},
			480:{
				items:1
            },
            768:{
				items:1
			},			
			1024:{
				items:1
			},
			1200:{
				items:1
			}
		}
	});

    {% for obj in portafolio %}
    //Aparecer el slide de fotos
    $(document).ready(function() {
        $('#open-{{forloop.counter}}').click(function() {
            $('#detalle-album-{{forloop.counter}}').slideDown( "slow" );
            $('body').css("overflow-y", "hidden");
        });
    });
    //Desaparecer el slide de fotos
    $(document).ready(function() {
        $('#close-{{forloop.counter}}').click(function() {
            $("#detalle-album-{{forloop.counter}}").slideUp( "slow" );
            $('body').css("overflow-y", "visible");
        });
    });
    {% endfor %}
    

</script>

<script>
    $(".menu-6").addClass("active");
    $(".info-texto figure").addClass("figure");
    $(".info-texto figure img").addClass("figure-img img-fluid rounded");
    $(".info-texto figure figcaption").addClass("figure-caption text-center");
    $(".info-texto img").addClass("img-fluid");
    $(".info-texto figure figcaption").prepend("<span class='fa fa-image'></span> ");
    $(function() {                       
        $(".btn-filter").click(function() {
            $(".btn-filter").removeClass("active");
            $(this).addClass("active");     //agregar la clase al filtro
        });
    });
</script>
{% endblock extra_js %}