{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load el_pagination_tags %}

{% block extra_css %}
<style>
.pagination>.active{
	background: #089c7b;
    color: #fff;
    border-color: #089c7b;
}
.page-link {
    color: #888;
    border: 2px solid rgba(74,156,124,0.38);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.page-link:hover {
    background: #089c7b;
    color: #fff;
    border-color: #089c7b;
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
</style>
{% endblock extra_css %}

{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center  color-white" >
  	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 text-left">
				<h2 >Publicaciones</h2>
			</div>
			<div class="col-md-6 col-sm-6 text-right">
				<ul class="breadcrumb">
					<li><a href="/">Inicio</a></li>
					<li class="active">Publicaciones</li>
				</ul>
			</div>
		</div>
  	</div>
</div>

<div class="area-publicaciones bg-gris pdb-70">
	<div class="buscador-publicacion">
		<div class="container">
			<div class="row">
				<div class="col-md-2"><a href="/publicaciones/" class="btn form-control"><i class="fa fa-arrow-left" aria-hidden="true"></i> Ver todos</a></div>
				<div class="col-md-4">
					<form id="search-form" action="/publicaciones/busqueda/" method="GET">
                        <div class="input-group">
                            {{search.q}}
                            <span class="input-group-btn">
                                <input value="Buscar" id="submit-button" class="btn form-control" type="submit">
                            </span>
                        </div>
                    </form>
				</div>
				<!--<div class="col-md-8">
					<div class="type-biblioteca text-right">
						{% if request.path == '/publicaciones/cidoc/' %}
							<a href="/publicaciones/cidoc/" class="active">
								CIDOC
							</a>
						{% else %}
							<a href="/publicaciones/cidoc/" class="center">
								CIDOC
							</a>
						{%endif%}
						{% if request.path == '/publicaciones/simas/' %}
							<a href="/publicaciones/simas/" class="active">
								SIMAS
							</a>
						{% else %}
							<a href="/publicaciones/simas/" class="center">
								SIMAS
							</a>
						{%endif%}
						
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<div class="list-publicaciones">
		<div class="container">
			<div class="row">
				{% if page.object_list %}
				{% for result in page.object_list %}
				<div class="col-md-3">
					<figure class="item-box box-shadow">
						{% if result.object.portada %}
						{% thumbnail result.object.portada "350x453" crop="10%" as img %} 
						<img src="{{img.url}}" class="img-responsive" alt="...">
						{% endthumbnail %}
						{%else%}
						<img src="https://place-hold.it/350x453" class="img-responsive" alt="...">
						{%endif%}
						<figcaption class="item-hover">
							<h6>{{result.object.publicacion|truncatechars:68}}</h6>
							<a href="{% url 'publicaciones:detalle-publicacion' result.object.id result.object.uri %}">Ver</a> 
						</figcaption>
					</figure>
				</div>
				{%endfor%}
			{% else %}
			No existen resultados
			{% endif %}
			</div>
			<nav class="paginador mrt-30">
				<ul class="pagination justify-content-center">
				  <!--<li class="page-item">
					<a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
				  </li>
				  <li class="page-item active"><a class="page-link" href="#">1</a></li>
				  <li class="page-item"><a class="page-link" href="#">2</a></li>
				  <li class="page-item disabled"><a class="page-link">...</a></li>
				  <li class="page-item"><a class="page-link" href="#">80</a></li>
				  <li class="page-item"><a class="page-link" href="#">81</a></li>
				  <li class="page-item">
					<a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
				  </li>-->
				   {% if page.has_previous or page.has_next %}

                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="endless_page_link">{% endif %}{% if page.has_previous %}< </a>{% endif %}
                    <span class="endless_page_current">{{ page.number }} de {{ page.paginator.num_pages }}</span>

                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="endless_page_link">{% endif %} {% if page.has_next %}> </a>{% endif %}

                    {% endif %}
				</ul>
			</nav>
		</div>
		
	</div>
</div>

{% endblock content %}
{% block extra_js %}
<script>
	$(".menu-5").addClass("active");
	$("#id_q").addClass("form-control");
	$("#id_q").val("{{request.GET.q}}");
    $(".endless_page_link").addClass("page-link page-item");
    $(".endless_page_current").addClass("page-link active page-item");
</script>
{% endblock extra_js %}
