{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% load embed_video_tags %}
{% load el_pagination_tags %}
{% block extra_css %}
<style>
.pagination>.active{
	background: #089c7b;
    color: #fff;
    border-color: #089c7b;
}
.page-link {
    color: #888;
    border: 2px solid rgba(74,156,124,0.38);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.page-link:hover {
    background: #089c7b;
    color: #fff;
    border-color: #089c7b;
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
</style>
{% endblock extra_css %}

{% block content %}
<div class="breadcrumb-area shadow dark bg-fixed text-center color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <h2 >Actualidad</h2>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Actualidad</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="area-noticia padding-page bg-gris ">
    <div class="buscador-publicacion">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href="/noticias/" class="btn form-control"><i class="fa fa-arrow-left" aria-hidden="true"></i> Ver todos</a></div>
                <div class="col-md-4">
                    <form id="search-form" action="/notas/busqueda/" method="GET">
                        <div class="input-group">
                            {{search.q}}
                            <span class="input-group-btn">
                                <input value="Buscar" id="submit-button" class="btn form-control" type="submit">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          {% for result in page.object_list %}
            <div class="col-md-6">
                <div class="noticia mrb-20">
                    {% if not result.object.url %}
                    <div class="img-noticia">
                        <figure class="figure">
                            {% thumbnail result.object.foto "348x209" crop="center" as img %}
                                <img class="img-responsive figure-img" src="{{img.url}}" alt="" >
                            {% empty %}
                                <img class="img-responsive figure-img" src="https://place-hold.it/348x209" alt="" >
                            {% endthumbnail %} 
                        </figure>
                    </div>
                    {%elif result.object.url %}
                    <div class="video-noticia">
                        <!--<iframe width="100%" height="315" src="{{obj.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                        {% video result.object.url '100% x 315px' %}
                    </div>
                    {% else %}
                    <div class="img-noticia">
                        <figure class="figure">
                            <img class="img-responsive figure-img" src="https://place-hold.it/348x209" alt="" >
                        </figure>
                    </div>
                        
                    {% endif %}
                    <div class="info-noticia box-shadow">
                        <div class="info-title no-border mb-0 pb-0">
                            <div class="date">
                                <span>{{result.object.fecha|date:"d"}}</span> 
                                <span>{{result.object.fecha|date:"M"}}</span>
                                <span>{{result.object.fecha|date:"Y"}}</span>
                            </div>
                            <div class="title">
                                <h5 class="mrb-20"><a href="{% url 'noticias:detalle-noticia' result.object.id result.object.uri %}">{{result.object.noticia}}</a></h5>
                                <div class="meta">
                                    <div class="position-relative">
                                        {% comment %} <span class="round-avatar">
                                            {% thumbnail obj.idautor.imagen "42x42" crop="center" as im %}
                                            <img src="{{ im.url }}" class="img-responsive" alt="{{obj.idautor}}">
                                            {% empty %}
                                            <img src="https://place-hold.it/42x42" class="img-responsive" alt="{{obj.idautor}}">
                                            {% endthumbnail %}
                                        </span> {% endcomment %}
                                        <p class>
                                        {{result.object.idautor}}
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <nav class="paginador mrt-30">
                <ul class="pagination justify-content-center">
                   {% if page.has_previous or page.has_next %}

                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="endless_page_link">{% endif %}{% if page.has_previous %}< </a>{% endif %}
                    <span class="endless_page_current">{{ page.number }} de {{ page.paginator.num_pages }}</span>

                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="endless_page_link">{% endif %} {% if page.has_next %}> </a>{% endif %}

                    {% endif %}
                </ul>
            </nav>
    </div>
</div>

{% endblock content %}
{% block extra_js %}
<script>
    $(".menu-3").addClass("active");
    $("#id_q").addClass("form-control");
    $("#id_q").val("{{request.GET.q}}");
    $(".endless_page_link").addClass("page-link page-item");
    $(".endless_page_current").addClass("page-link active page-item");
</script>
{% endblock extra_js %}