{% extends 'base.html' %}

{% block content %}
<!-- Header Breadcrumbs-->
<header class="breadcrumbs-type-1">
    <div class="container breadcrumbs--breadcrumbs-inner">
        <h1 class="breadcrumbs-inner--page-title">
            {{ flatpage.title }}
        </h1>
        <ul class="breadcrumbs-inner--breadcrumbs-list">
            <li>
                <a href="/">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#">
                    {{ flatpage.title }}
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="blog-single-post small-section">
    <div class="default-container">
        <div class="row">
            <div class="col">
                {{ flatpage.content }}
            </div>
        </div>
    </div>
</section>
{% endblock content %}