{% load endless %}
{% load thumbnail %}
<h2 align="center" id="tituloPortafolio">En SIMAS te brindamos el desarrollo de sistemas de información y sitios web, diseñado con tecnologias de software libre</h2>
{% paginate 4 portafolios %}
{% for portfolio in portafolios %}
<div class="{% cycle 'blanco' 'otrocolor' %}">
    <div class="row">
        {% if forloop.counter|divisibleby:2 %}
            <div class="medium-6 columns">
                <div class="descripcion">
                    <h3>{{portfolio.servicio}}</h3>
                    <p align="justify">{{portfolio.resumen}}</p>
                    <ul>
                        <li><i class="fa fa-calendar"></i> {{portfolio.fecha}}</li>
                        <li><i class="fa fa-link"></i> <a href="{{portfolio.link}}" target="_blank">{{portfolio.link}}</a></li>
                        <li><i class="fa fa-users"></i> {% for org in portfolio.organizacion.all %} {{org}} {%endfor%}</li>
                    </ul>    
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="notaa portafolio">
                    <ul class="bxslider">
                    {% if portfolio.fotos %}
                    {% for imagen in portfolio.fotos.all %}
                        {% thumbnail imagen.imagen "440x272" crop="10%" as img %} 
                           <li> <img src="/media/{{img}}" alt="{{portfolio.servicio}}" /></li>
                        {% endthumbnail %}
                    {% endfor %}
                    {%else%}
                        <li><img src="http://placehold.it/440x272" alt="" /></li>
                    {% endif %}
                 </ul>
                </div>
            </div>
        {% else %}
            <div class="medium-6 columns">
                <div class="nota porta">
                    <ul class="bxslider">
                    {% if portfolio.fotos %}
                    {% for imagen in portfolio.fotos.all %}
                        {% thumbnail imagen.imagen "440x272" crop="10%" as img %} 
                           <li><img src="/media/{{img}}" alt="{{portfolio.servicio}}" /></li>
                        {% endthumbnail %}
                    {% endfor %}
                    {%else%}
                        <li> <img src="http://placehold.it/440x272" alt="" /> </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="descripcion">
                    <h3>{{portfolio.servicio}}</h3>
                    <p align="justify">{{portfolio.resumen}}</p>
                    <ul>
                        <li><i class="fa fa-calendar"></i> {{portfolio.fecha}}</li>
                        <li><i class="fa fa-link"></i> <a href="{{portfolio.link}}" target="_blank">{{portfolio.link}}</a></li>
                        <li><i class="fa fa-users"></i> {% for org in portfolio.organizacion.all%} {{org}} {%endfor%}</li>
                    </ul>    
                </div>
            </div>
        {% endif %}
</div>
</div>   
{% endfor %}

<div id="bthmas">
  {% show_more "Cargar más proyectos" %}

</div>

      

