@import "estilos/mixins.styl"

/* -------------------------------------------------------------------------- */
/*                                   colores                                  */
/* -------------------------------------------------------------------------- */
$verde = #089C7B
$titulo = #222
$texto = #565656
$seminegro = #1D2119
$simas = #0E6C31
$oscuro = #1B3039
$v2verde = #008442
$amarillo = #FFE900
$vinculo = #888
$gris = #f9f9f9
/* -------------------------------------------------------------------------- */
/*                                   fuentes                                  */
/* -------------------------------------------------------------------------- */
$FONT-PATH = '../fonts/'
@font-face
    font-family: 'Montserrat'
    src: font-url('Montserrat.ttf')
@font-face
    font-family: 'Roboto'
    src: font-url('Roboto.ttf')

body
    font-family 'Roboto', sans-serif
    font-size 16px
    background-color #fff
    font-weight 400
    color $texto
    padding 0
    margin 0
    overflow-x hidden
	-webkit-font-smoothing antialiased
    font-smoothing antialiased
for i in (1..6)
    h{i}
        font-family: 'Montserrat', sans-serif
        font-weight: 600
        a
            color: $titulo
            &:hover
                color: $verde

/* -------------------------------------------------------------------------- */
/*                               configuraciones                              */
/* -------------------------------------------------------------------------- */
dl
dt
dd
ol
ul
li
    margin: 0
    padding: 0
::selection
::-moz-selection
::-webkit-selection
	background: #1ABC9C
	color: #FFF
	text-shadow: none
:active
:focus
    outline: none  !important
a
i
li
    color: $vinculo
a:hover
a:focus
a:visited
    text-decoration: none;
    outline: none;
    outline-offset: 0
a:hover
a:focus
    color: $verde
img
    max-width 100%
p
pre
ul
ol
dl
dd
blockquote
address
table
fieldset
form
    margin-bottom: 30px
.padding-xl
    padding-top: 120px
    padding-bottom: 120px
.padding-seccion
    position relative
    margin 50px 0
    padding 50px 0
    overflow hidden
.padding-page
    padding 75px 0
    overflow hidden
.bg-gris
    background-color $gris
p
    color: $texto
.box-center
    margin: 0 auto
.text-limit
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    &.line-2
        -webkit-line-clamp: 2
    &.line-3
        -webkit-line-clamp: 3
.no-border
    border none !important
.color-text
    color: $texto
.color-base
    background-color: $verde
.text-color-base
    color: $verde
    i 
        color: $verde
.color-white
    color white
.btn
    padding: .3rem .7rem
.btn-style-one
    background: transparent
    color: $v2verde
    border-color: $v2verde
    i 
        color: $v2verde
    &:hover
        background: $v2verde
        color: white
        i
            color: white

.btn-style-two
    background-color: $verde
    font-weight: 700
    border-radius: 50px
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
    padding: 15px 20px
    line-height: 1
    border: 0
    color: #FFFFFF
    position: relative
    overflow: hidden
    z-index: 1
    transition: all .4s ease
    &:after
    &:before
        content: ''
        width: 0
        height: 100%
        position: absolute
        top: 0
        z-index: -1
        -webkit-transition: all .6s
        transition: all .6s
    &:after
        right: 50%
    &:before
        left: 50%
    &:hover
        color: #FFFFFF
        background-color: $verde
    &:visited
        color white
.btn-style-two:hover:before
.btn-style-two:hover:after
    background-color: $v2verde
    width: 50%
.btn-style-three
    background: $v2verde
    color: white
    border-color: $v2verde
    i 
        color: white
    &:hover
        background: #014a26
        color: white
        i
            color: white
.box-shadow
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
.badge-main
    color: white
    font-size: 0.9rem
    padding: 5px 15px

.bg-fixed
    // background-attachment: fixed
    background-position: center center
    background-size: cover


.seccion-heading-style-one
.seccion-heading-style-two
    h2
        display: inline-block
        font-weight: 700
        padding-bottom: 10px
        position: relative
        &:after
            background: $verde none repeat scroll 0 0
            bottom: 0
            content: ""
            height: 2px
            margin-left: -25px
            position: absolute
            width: 40px
.seccion-heading-style-one h2:after
    left: 50%;
.seccion-heading-style-two h2:after
    left: 27px;

/* -------------------------------------------------------------------------- */
/*                                 Top button                                 */
/* -------------------------------------------------------------------------- */
#top-button
    display: inline-block;
    background-color: $v2verde;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .4s,opacity .5s,visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 998;
    box-shadow: 0 0 15px 0 rgba(167,167,167,.3);
    i
        font-size: 1.2em;
        line-height: 40px;
        color: #fff;
#top-button.show
    opacity: 1;
    visibility: visible;
/* -------------------------------------------------------------------------- */
/*                                    menu                                    */
/* -------------------------------------------------------------------------- */
.navbar-light.img-resize
    .navbar-brand
        img
            width: 35%
.navbar-light.nav-transparent
    background: transparent
    .navbar-nav
        .nav-link
            color: white
            i
                color: white
            &:hover
                color: white
        .nv-search:before
            border-color: white
    @media $sm
        background: white
        .navbar-brand img
            width: 28%
        .navbar-nav
            .nav-link
                color: $vinculo
    @media $xs
        background: white
        .navbar-brand img
            width: 28%
        .navbar-nav
            .nav-link
                color: $vinculo

    
.navbar-light
    background: white
    .navbar-nav
        .nav-item.active .nav-link
            color: $verde
        .nav-item .nav-link:focus
            color: $verde
        .nav-link
            color: $texto
            font-weight: 600
            &:hover
                color: $verde
        .nv-search:before
            border-color: $texto
    .navbar-brand img
        width: 28%
        transition: width .4s ease, opacity .3s ease
    @media $md
        background: white
        .navbar-brand img
            width: 28%
        .navbar-nav
            .nav-link
                color: $vinculo
        .container
            max-width: 100%
    @media $xs
        background: white
        .navbar-brand img
            width: 28%
        .navbar-nav
            .nav-link
                color: $vinculo
        .container
            max-width: 100%
.navbar-nav
    .nv-search:before
        content: ''
        padding-left: 5px
        border-left: 1px solid white
        position: absolute
        margin-top: 7px
        padding: 12px
    .dropdown
        padding: 0
        &:hover > .dropdown-menu
            display: block
        .dropdown-menu
            border-color: transparent
    .dropdown-item:hover
    .dropdown-item.active
        background: $verde
        color: white

.navbar-expand-md .navbar-nav .nav-link
    @media $xl
        padding-right: .6rem
        padding-left: .6rem
    @media $lg
        padding-right: .6rem
        padding-left: .6rem


.nav-link:before
    content: "";
    width: 0px;
    height: 3px;
    background: $verde;
    position: absolute;
    bottom: 30px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    @media $lg
        display: none
    @media $md
        display: none
    @media $sm
        display: none
    @media $xs
        display: none
.dropdown > .nav-link:before
    bottom: 2px !important;
.nav-item>a:hover:before
.nav-item.active>a:before
.nav-item:hover>a:before
    width: 30px

/* -------------------------------------------------------------------------- */
/*                                   Slider                                   */
/* -------------------------------------------------------------------------- */

.carousel-caption
    left 13%
    right 0
    bottom: 41%
    width: 75%
    @media $md
        h2
            font-size: 1.65rem
    @media $sm
        h2
            font-size: 1.4rem
    @media $xs
        h2
            font-size: 1rem
    .btn-slide
        border: 0
        padding: 0rem 0rem 0rem 0.7rem
        color: white
        font-weight: 500
        text-align: center
        margin: 15px 0
        span
            padding: 0.4rem 0.5rem
            margin-left: 0.3rem
            background: rgba(0,0,0,0.2)
.carousel-indicators li
    width: 13px
    height 13px
    background: white
    border-radius: 50px
    border none
    opacity 0.7
    &.active
        width: 25px
        opacity 1
.slide-overlay
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.2)
@media $sm
    .main-slider
        margin-top 82px
@media $xs
    .main-slider
        margin-top 82px
/* -------------------------------------------------------------------------- */
/*                                  noticias                                  */
/* -------------------------------------------------------------------------- */

.list-noticias
    .card
        border-color: #F1F1F1
        &:hover
            box-shadow 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
        .card-tags
            span
                display: inline-block
            .date
                float: right
        .card-title
                font-weight: 600
                margin: 15px 0
                a
                    display: inline
                    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%)
                    background-position: 0 1em;
                    background-repeat: no-repeat;
                    background-size: 0% 3px;
                    -webkit-transition: background-size 0.4s ease-in-out 0.2s;
                    transition: background-size 0.4s ease-in-out 0.2s;
                    background-position: 0 25px;
                    &:hover
                        background-size: 100% 3px;
                        transition-delay: 0s;
        .card-button
            text-transform: uppercase
            font-weight: 600
            position: relative
            padding-left: 20px
            &:before
                content: ""
                height: 2px
                width: 14px
                background: #2aba6e
                position: absolute
                top: 11px
                left: 0
                transition: all .3s ease-in-out
    .v-notice
        padding: 0 7px
        @media $xs
            padding: 0 15px
        @media $sm
            padding: 0 15px
.list-blog
    .card
        border-color: #F1F1F1
        &:hover
            box-shadow 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
        .badge-main
            position absolute
            top: 5px
            right: 2%
        .card-title
                font-weight: 600
                margin: 15px 0
                a
                    display: inline
                    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%)
                    background-position: 0 1em;
                    background-repeat: no-repeat;
                    background-size: 0% 3px;
                    -webkit-transition: background-size 0.4s ease-in-out 0.2s;
                    transition: background-size 0.4s ease-in-out 0.2s;
                    background-position: 0 25px;
                    &:hover
                        background-size: 100% 3px;
                        transition-delay: 0s;
        .card-button
            text-transform: uppercase
            font-weight: 600
            position: relative
            padding-left: 20px
            &:before
                content: ""
                height: 2px
                width: 14px
                background: #2aba6e
                position: absolute
                top: 11px
                left: 0
                transition: all .3s ease-in-out
.entry-thumbnail
    position relative
.card-author
    position: absolute
    bottom: 0px
    left: 0
    width: 100%
    padding: 0 10px
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    .xs-round-avatar
        position: relative
        width: 45px
        height: 45px
        overflow: visible
        z-index: 1
        margin-right: 30px
        &:before
            position: absolute
            content: ""
            top: 0
            left: 50%
            height: calc(100% + 20px)
            width: calc(100% + 50px)
            background-image: url(../img/fondos/avatar-background.png)
            background-repeat: no-repeat
            background-position: center center
            background-size: cover
            z-index: -1
            -webkit-transform: translateX(-50%)
            transform: translateX(-50%)
        img 
            border-radius: 100%
            margin-top: 7px
            margin-left: 1px
    .author-name a
        font-size: 0.85714em
        color: #FFFFFF
        font-weight: 500
.separador 
    margin-top: 0
    margin-bottom: 0
    background-color: #f3f3f3
    height: 1px
    width: 100%
.card-meta
    padding: 1.25rem;
    span
        color: #999999
        font-weight: 500
        display: inline-block
        line-height: 1
        margin-right: 30px
        i
            padding-right: 5px
        a
            color: #999999;
            line-height: 1;
            font-size: 0.9rem
            font-weight: 600

/* -------------------------------------------------------------------------- */
/*                                    Mapa                                    */
/* -------------------------------------------------------------------------- */
.map-bg
    background-repeat no-repeat
    background-size: cover
    .fun-left
        padding: 50px 30px
        @media $sm
            padding: 50px
    h2
        font-weight: bold
        padding: 40px 0
    .fun-image
        img
            border: 5px solid #fff
            border-radius: 50%
            max-width: 100%
        h5
            padding-top 10px
            font-size: 1.1rem
.map-right-bg
    background-color: $oscuro
    padding: 20px 40px
    margin: 40px 0
    @media $sm
        margin: 0px
    h1
        font-weight: bold
    .data
        font-weight 500
        font-size: 1.2rem
        float: left

/* -------------------------------------------------------------------------- */
/*                                  Servicios                                 */
/* -------------------------------------------------------------------------- */
/* box item service */
.item-service-content
    border: 1px solid rgba(0, 0, 0, 0.05)
    border-radius: 4px
    padding: 25px
    text-align: center
    p
        font-size: 15px
.box-item-service
    h5
        color: $texto
        font-weight: 600
    .icon-bx-md
        color: $texto
    .round-center
        background: #ffffff none repeat scroll 0 0
        border: 4px solid
        border-radius: 25px
        display: inline-block
        height: 25px
        left: 50%
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        width: 25px
        z-index: 1
        color: $v2verde
    .btn
        margin-top: 20px
.development-box
    position:relative
    &:after
        border-top: 2px dashed #e2e2e2
        content: ""
        display: block
        height: 2px
        margin-top: -1px
        position: absolute
        top: 47%
        width: 100%
.icon-bx-md
    width: 100px
    height: 100px
    text-align: center
    border-radius: 100%
    .icon-cell .fa
        font-size: 45px
        line-height: 100px
.border-1
    border 1px #b2b2b2 solid 
.box-item-service:hover 
    .item-service-content
    .icon-bx-md
        background-color: $v2verde
    h5
    p
    .fa
        color white

section.services-menu 
    ul
        margin: 0px
        padding: 0px
        list-style: none
        width: 100%
        float: left
        background: #fff
        border-radius: 5px
        box-shadow: 0 12px 26px rgba(0,0,0,.08)
        li
            width: 20%
            float: left
            text-align: center
            position: relative
            padding-top: 20px 0
            &:after
                position: absolute;
                top: -20px;
                left: 0;
                width: 100%;
                height: 0;
                background: $verde;
                content: "";
                border-radius: 5px;
                opacity: 0;
        &:last-child .sinfo
            border: 0px
    .container
        @media $md
            max-width: 100%
        @media $sm
            max-width: 100%
    h6
        font-weight: 600
        margin: 22px 0 7px
        color: $vinculo
        @media $md
            font-size: 0.9rem
        @media $sm
            font-size: 0.75rem
    






    .sinfo
        position: relative
        z-index: 99
        border-right: 1px solid #c8e6c9
        padding: 20px 0

section.services-menu ul li:hover:after
    height: 210px
    opacity: 1
    @media $md
        height: 200px
    @media $sm
        height: 200px
.services-menu ul li.active 
    p
    h6
        color: #fff;
.services-menu ul li:hover 
    p
    h6
        color: #fff;
@media $xs
    .services-menu
        display: none
    .area-services
        padding-top: 20px   


section.services-menu ul li.active:after 
    height: 210px;
    opacity: 1;
    color: #fff;
    @media $md
        height: 200px
    @media $sm
        height: 200px
.area-portafolio
    .nav-filter
        padding-top: 10px
        margin-bottom: 0
    .grid-gallery
        .gallery-overlay
            background-color: $verde
            .titulo-servicio
                position: absolute
                top: 40%
                left: auto
                right auto
                width: 100%
                font-size: 1.25rem
                line-height: 40px
                text-align: center
                color: white
                border-radius: 50%
                -webkit-backface-visibility: hidden
                h5:after
                    content: "\A ─";
                    white-space: pre;
        .grid-item:hover
            .gallery-image img
                transform: translateY(0px)
/* -------------------------------------------------------------------------- */
/*                                   Videos                                   */
/* -------------------------------------------------------------------------- */
.main-video
    background-color: #3C3C3C
    padding 50px 0
    .info-video
        color white
.slide-videos
    background-color: #262626
    .owl-carousel .owl-nav
        position: absolute
        width: 100%
        top 50%
        .fa
            color: white
        .owl-prev
            position: absolute
            left: -5%
            padding: 3px 10px !important
            background-color: black
        .owl-next
            position: absolute
            right: -5%
            padding: 3px 10px !important
            background-color: black
    .owl-item .item
        a
            display: block
            padding 30px 0
            border-top: 2px solid transparent
        a.active
            border-top-color $amarillo

/* -------------------------------------------------------------------------- */
/*                                Publicaciones                               */
/* -------------------------------------------------------------------------- */
.list-publicaciones
    .item-box
        border-radius 5px
        overflow hidden
        &:hover 
            h5
                opacity: 0
            .item-hover
                bottom: 10%
                opacity: 1
    .item-hover
        position: absolute
        left: 20px
        right: 20px
        background: #fff
        bottom: -100%
        z-index: 99
        padding: 20px
        border-radius: 5px
        opacity: 0
        transition: all ease-in-out 0.5s
        -webkit-transition: all ease-in-out 0.5s
        h6
            font-weight: 600
            color: #222
            margin: 0 0 10px
        p
            font-size: 14px
            margin: 0 0 5px

        a
            text-transform: uppercase
            font-weight: 600
            font-size: 0.8rem
            color: $verde
            position: relative
            padding-left: 15px
            &:before
                content: ""
                height: 2px
                width: 10px
                background: #2aba6e
                position: absolute
                top: 7px
                left: 0
    .owl-carousel .owl-nav
        text-align: center
        margin-top: 15px
        .owl-prev
        .owl-next
            width: 30px
            height: 30px
            line-height: 0.2rem
            color: $verde
            border: 2px solid $verde
            border-radius: 100%
            margin: 0 10px
.area-publicaciones
    .item-hover
        bottom: 0
    .buscador-publicacion
        padding: 20px 0
.post-meta-list
    span
        margin-right: 30px
    @media $sm
        margin-bottom: 10px
    @media $xs
        margin-bottom: 10px
.publicacion-detail
    list-style: none
    li
        padding: 5px 0
/* -------------------------------------------------------------------------- */
/*                                   Galeria                                  */
/* -------------------------------------------------------------------------- */
/* ---- grid ---- */

.grid-gallery
    &:after 
        content: ''
        display: block
        clear: both
    .grid-item
        float: left
        height: auto
        overflow: hidden
        position relative
        &.grid-item--height2 
            height: auto
            @media $xs
                height: auto
        &.grid-item--width2 
            width: 50%
            @media $xs
                width: 100%
            @media $sm
                width: 100%

    .grid-item,
    .grid-sizer
        width: 25%
        @media $xs
            width: 100%
        @media $sm
            width: 100%
.gallery-image
    position: relative
    overflow: hidden
.gallery-desc
    position: absolute
    display: block!important
    width: 100%
    padding: 15px 5px
    top: auto
    left: 0
    background-color: #fff
    bottom: -200px
    border-bottom: 0
    z-index: 3
    transition: bottom .2s ease-in-out
    span 
        display: block
        margin-top: 3px
        a
            color $vinculo  
.grid-gallery
    .gallery-overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0
        z-index: 2
        text-align: center
        background-color: rgba(0,0,0,0.5)
        transition: opacity .4s ease-in-out
        a
            position: absolute
            top: 40%
            left: 55%
            background-color: #F5F5F5
            width: 40px !important
            height: 40px !important
            margin: -28px 0 0 -44px
            font-size: 1.25rem
            line-height: 40px
            text-align: center
            color: #444
            border-radius: 50%
            -webkit-backface-visibility: hidden
            &:hover
                color $v2verde
.grid-item--height2 .gallery-overlay a
    top: 50%
.grid-item:hover
    .gallery-desc
        bottom: 0px
    .gallery-image img
        transform: translateY(-20px)
    .gallery-overlay
        opacity: 1

.detalle-album
    background: $verde;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    .titulo-album
        line-height: 40px
        text-align: left 
        color: white
        border-radius: 50%
        -webkit-backface-visibility: hidden
        h5:after
            content: "\A ─";
            white-space: pre;
        p
            font-size: 1rem
            color: white
        
    .owl-carousel
        // .owl-item
        //     max-height: 480px
        //     .item
        //         max-height: 480px
        .owl-stage
            display: flex
        .owl-item img
            width: auto;
            height:90%;
            margin: 0 auto
        .owl-dots
            text-align: center
            margin-top: 10px
            position relative
            bottom: 40px
            left auto
            right auto
        button.owl-dot
            border: 1px solid #fff;
            height: 14px;
            width: 14px;
            border-radius: 50%;
            margin: 5px 5px
            opacity 0.5
            background: white
        .owl-dot.active
            background: white
            opacity 1
    .btn-close
    .btn-navegacion
        position: absolute
        z-index: 1101
        right: 20px
        color: white
    .btn-navegacion
        bottom: 20px
        a
            color: white
            padding: 10px
        


/* -------------------------------------------------------------------------- */
/*                                 breadcrumb                                 */
/* -------------------------------------------------------------------------- */
.breadcrumb > li + li::before
    bottom: 3px
    color: #ffffff
    content: ". "
    height: 5px
    padding: 0 5px
    position: relative
.breadcrumb-area
    margin-top: 97px
    background: $v2verde
    padding: 50px 0
    h2
        z-index 1
        margin: 0
        padding: 5px 0
    .breadcrumb
        background: rgba(35,35,35,0.2)
        display: inline-block
        margin: 0
        position: relative
        z-index: 1
        li
            display: inline-block
            font-weight: 500;
            color: white
            a
                color: white

/* -------------------------------------------------------------------------- */
/*                                  Noticias                                  */
/* -------------------------------------------------------------------------- */
.area-noticia
    .info-noticia
        background: white
        padding: 30px
        .info-title
            border-bottom: 1px solid #e7e7e7
            margin-bottom: 15px
            padding-bottom: 20px
            .date
                display: table-cell
                min-width: 65px
                padding: 10px
                background: $verde none repeat scroll 0 0
                color: #ffffff
                text-align: center
                width: 50px
                vertical-align: middle
                span
                    color: #ffffff
                    display: block
                    font-weight: 600
            .title
                padding-left: 20px
                display: table-cell
                vertical-align: middle
                h3
                    margin-bottom: 10px
                .meta
                    margin-bottom: 15px
                    p
                        display: inline-block
                        position: relative
                        top 3px
                        // left: 50px
                        margin-bottom: 0
                    // ul
                    //     margin-bottom: 0
                    //     li
                    //         display: inline-block
                    //         margin-right: 10px
                    //         text-transform: capitalize
                    //         position: relative
                    //         padding-right: 10px
                    //         font-size: 0.85714em
                    .round-avatar
                        position: absolute
                        width: 45px
                        height: 45px
                        overflow: hidden
                        margin-right: 10px
                        top -7px
                        img 
                            border-radius: 100%  
    .noticia-tags
        display: block
        padding-top: 50px
        width: 100%
        span
            display: inline-block
            font-size: 1.1rem
            font-weight: 600
            margin-right: 15px
            text-transform: capitalize
        a
            border: 1px solid #e7e7e7
            border-radius: 30px
            color: #232323
            display: inline-block
            font-size: 0.8rem
            font-weight: 600
            margin-right: 5px
            padding: 3px 25px
            text-transform: capitalize
            margin-bottom: 8px
            &:hover
                color: $verde
                border-color: $verde
    .img-noticia
        .figure
            display: block
            position: relative
            margin: 0
            overflow hidden
            &:hover .figure-img
                transform scale(1.2) 
        .figure-img
            width: 100%
            margin: 0
            transition all 0.35s ease-in-out
        .figure-caption
            position: absolute
            background: rgba(0,0,0,.5)
            font-size: 1rem
            font-weight: 500
            color: white
            padding: 10px
            bottom: 0
            right: 0
    
.info-texto
    .figure-caption
        padding: 10px
        background: $gris
        font-size: 1rem
        font-weight: 500
    a
        color $verde
    p
        font-size: 1.25rem
        font-family: 'Roboto', 'Open Sans' !important
        span
            font-size: 1.25rem
            font-family: 'Roboto', 'Open Sans' !important
    iframe
        @media $sm
            width: 100%
            height: 255px
        @media $xs
            width: 100%
            height: 255px
    blockquote
        background: $gris none repeat scroll 0 0;
        border-left: 3px solid $verde;
        color: #414141;
        font-size: 1.25rem;
        font-style: italic
        padding: 30px 50px;
        position: relative;
        z-index: 1;
        &:after
            content: '\f10d';
            font-size: 30px;
            left: 10px;
            font-family: 'Font Awesome 5 Free'
            font-style: normal
            font-weight: 600
            letter-spacing: -5px;
            opacity: 0.5;
            position: absolute;
            top: 20px;
    ul
        list-style none
        li
            display block
            position: relative
            padding-left: 20px
            padding-bottom: 5px
            font-size: 1.25rem
            color $texto
            &:after
                // border: 1px solid $verde;
                // border-radius: 50%;
                content: '\f101';
                font-family: 'Font Awesome 5 Free'
                // height: 8px;
                left: 0;
                color $verde
                font-size: 1rem
                font-weight: 600
                // margin-top: -4px;
                position: absolute;
                top: 8%;
                // width: 8px;
    img.img-fluid
        height  auto !important
.info-departamento
    color white
    height 500px
    overflow-y: scroll
    overflow-x: hidden
    padding: 0 20px
    p
        color: white
        font-size: 1.15rem
    ul
        list-style none
        li
            display block
            position: relative
            padding-left: 35px
            padding-bottom: 5px
            font-size: 1.15rem
            color white
            &:after
                content: '\f101';
                font-family: 'Font Awesome 5 Free'
                left: 15px;
                color white
                font-size: 1rem
                font-weight: 600
                position: absolute
                top: 8%

.info-departamento::-webkit-scrollbar
    width: 8px
    background-color: #F5F5F5
.info-departamento::-webkit-scrollbar-thumb
    border-radius: 5px
    box-shadow: inset 0 0 6px rgba(0,0,0,.0)
    background-color: $vinculo

.info-departamento::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 0px
    background-color: rgba(8, 156, 123, .85)

.socialshare-xs
    display: none
    background: white
    width: 100%
    list-style: none
    position: fixed
    bottom: -25px
    padding: 10px 0
    z-index: 100
    ul
        right: auto
        left: auto
        margin: 0
        text-align: center
    li
        display: inline-block
    .label-social
        margin: 20px 0
        position: relative
        top: -20px
        margin-right: 10px
        a
            font-size: 1.1rem
            font-weight: 700
    .social-icon
        margin: 4px 6px 5px 0
        font-size: 1.2rem
        border-radius: 50%
        line-height: 40px !important
    @media $xs
        display: inline-block
    


.si-sticky
    position: fixed
    top: 50%
    left: 5px
    width: 36px
    z-index: 100
    @media $md
        top: 60%
    @media $sm
        top 70%
    @media $xs
        display: none
.social-icon
    margin: 0 5px 5px 0
    width: 40px
    height: 40px
    font-size: 20px
    line-height: 38px !important
    color: #555
    text-shadow: none
    border: 1px solid #AAA
    border-radius: 3px
    overflow: hidden
    display: block
    float: left
    margin: 4px 11px 5px 0
    text-align: center !important
    font-size: 28px
    color: #FFF
    cursor: pointer
    font-style: normal
.social-icon.brand i
    font-family:  'Font Awesome 5 Brands'
    color $vinculo

.si-facebook:hover
    background: #4267B2
    border-color: #4267B2
    i
        color white
.si-twitter:hover
    background: #1DA1F2
    border-color: #1DA1F2
    i
        color white
.si-whatsapp:hover
    background: #4AC959
    border-color: #4AC959
    i
        color white
.si-envelope:hover
    background: #455A64
    border-color: #455A64
    i
        color white
.si-youtube:hover
    background: #ff0000
    border-color: #ff0000
    i
        color white
.si-instagram:hover
    background: #833ab4
    border-color: #833ab4
    i
        color white
/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
#footer
    background-color: $oscuro
    color white
    .footer-center
        img
            width: 100%
            display: block
            margin: 0 auto
            @media $sm
                width: 50%
            @media $xs
                width: 50%
        @media $sm
            padding 0
#footer-top
    border-top:1px solid #fff
    border-bottom:1px solid #fff
    border-color:rgba(255,255,255,.1)
.footer-left
    padding-right:40px
    p
        margin:20px 0 10px
.footer-icon
    margin-bottom: 0px
    li
        display:inline-block
        padding-right:10px
        margin: 10px 0
        a
            background:#2b424c
            color:#fff
            display:inline-block
            width:55px
            height:55px
            border-radius:50%
            display:flex
            align-items:center
            justify-content:center
            font-size 25px

.footer-right
    padding-left:40px
.footer-item 
    h4
        margin:5px 0 35px
        text-transform:uppercase
        font-weight:600
    
/* -------------------------------------------------------------------------- */
/*                             Galeria de imagenes                            */
/* -------------------------------------------------------------------------- */

.main-galeria
    .grid-item
        padding: 0 15px
        margin-bottom: 15px
        width: 33.33333%
        @media $md
            width: 50%
        @media $sm
            width: 100%
        .gallery-album
            display: block!important
            padding: 15px 5px
            background-color: #fff
            bottom: -90px
            border-bottom: 0
            z-index: 3
            span 
                display: block
                margin-top: 3px
                a
                    color $vinculo 
         
        &:hover
            .gallery-image img
                transform: translateY(0px)
            .gallery-overlay
                opacity: 1
                
    .gallery-overlay a
        cursor: pointer
        top: 57%;
.nav-filter
    display: block
    padding-top: 50px
    span
        display: inline-block
        font-size: 1.1rem
        font-weight: 600
        margin-right: 15px
        text-transform: capitalize
    a
        border: 1px solid #e7e7e7
        border-radius: 30px
        color: #232323
        display: inline-block
        font-size: 0.8rem
        font-weight: 600
        margin-right: 5px
        padding: 3px 25px
        margin-bottom: 10px
        text-transform: capitalize
        &:hover
            color: $verde
            border-color: $verde
    a.active
        color: white
        background: $verde
        border-color: $verde

/* -------------------------------------------------------------------------- */
/*                                    Form                                    */
/* -------------------------------------------------------------------------- */

.form-control
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    height: 53px;
    line-height: 49px;
    padding: 0 20px;
#submit-button
    font-weight: 700
    color: #888
#search-form
    margin-bottom: 20px
.type-biblioteca a.active
    background: $verde
    color white
    box-shadow: inset 0 0 0 2px $verde
.type-biblioteca a {
    display inline-block
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  
  // Uso de recuadro sombreado en lugar de borde para simplificar el tamaño
  box-shadow: inset 0 0 0 2px #e1e1e1;
  color: $vinculo;
  font-size: inherit;
  font-weight: 700;

  // Obligatorio, para el configurando absoluto en pseudo-elementos
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.center {
  &:hover {
    color: $verde;
  }

  // Configuracion estilos base, escalar en lugar de animar ancho / alto
  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center; // Escalado desde el centro (se expande hacia afuera)
  }

  // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
  &::before {
    border-top: 2px solid $verde;
    border-bottom: 2px solid $verde;
    transform: scale3d(0,1,1); // Reducir solo ancho
  }

  &::after {
    border-left: 2px solid $verde;
    border-right: 2px solid $verde;
    transform: scale3d(1,0,1); // Reducir solo Alto
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1); // Ver full-size
    transition: transform 0.5s;
  }
}


/* -------------------------------------------------------------------------- */
/*                                  Paginador                                 */
/* -------------------------------------------------------------------------- */
.paginador
    .page-item
        margin-right: 10px
        .page-link
            color $vinculo
            border: 2px solid #4a9c7c61
            transition: all 0.4s ease;
            &:hover
                background: $verde
                color white
                border-color: $verde
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                i 
                 color: white
    .page-item.active
        .page-link
            background: $verde
            color white
            border-color: $verde
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        
.tags-detalle
    display: block
    padding-top: 50px
    width: 100%
    span
        display: inline-block
        font-size: 1.1rem
        font-weight: 600
        margin-right: 15px
        text-transform: capitalize
    a
        border: 1px solid #e7e7e7
        border-radius: 30px
        color: #232323
        display: inline-block
        font-size: 0.8rem
        font-weight: 600
        margin-right: 5px
        padding: 3px 25px
        text-transform: capitalize
        margin-bottom: 8px
        &:hover
            color: $verde
            border-color: $verde

/* -------------------------------------------------------------------------- */
/*                                  contactos                                 */
/* -------------------------------------------------------------------------- */
.contact-form
    .form-control
        margin-bottom: 20px
        border-radius: 0
    textarea.form-control
        max-height 200px
    .captcha
        width: 100%
    .btn
        padding: 10px 60px
        position: absolute;
        bottom: 0;
        right: 0;
.form-control
    &:focus
        border-color: $verde;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(8, 156, 123, .25);

.contact-sidebar
    box-shadow: 0 0 15px rgba(0,0,0,.06);
    padding: 30px;
    position: relative;
.contact-sidebar .icon-left {
    font-size: 55px;
}

/* -------------------------------------------------------------------------- */
/*                                  Proyectos                                 */
/* -------------------------------------------------------------------------- */
.info-proyecto 
    .fun-fact-img
        flex: 0 0 100px
        align-self: center
    .fun-content 
        border-left: 1px solid white
        border-color: $verde
        padding: 20px 0 25px
        padding-left: 30px
.owl-proyecto
    .owl-dots
        text-align: center
        margin-top: 10px
        position relative
        bottom: 40px
        left auto
        right auto
        .owl-dot
            span
                border: 1px solid $v2verde
                height: 14px;
                width: 14px;
                border-radius: 50%;
                margin: 5px 5px
                opacity 0.5
                background: $v2verde
        .owl-dot.active
            span
                background: $v2verde
                opacity 1
/* -------------------------------------------------------------------------- */
/*                                 Menu movil                                 */
/* -------------------------------------------------------------------------- */
.mobile
    .logo
        display: inline-block
        padding: 5px
    .mainMenu
        li.active
            background: white
            a
                color: $verde
        &.act
            background: #089c7b;
            position: fixed;
            z-index: 1098;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
        .fa-chevron-down
            width: 20px;
            height: 20px;
            background: #00000070;
            border-radius: 50px;
            font-size: 0.9rem;
            line-height: 22px;
    .menuBtn.act
        position: fixed
    #collapseExample
        background: #058a6d
.mobile {
    display none
	width: 100%;
	overflow: hidden;
	position: fixed;
    top: 0
    z-index: 1097
}
header {
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
    width: 100%
}
.logo {
	
}
/* menu button */
.menuBtn {
	height: 30px;
	width: 30px;

	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 1099;
	> span {
		background-color: $vinculo;
		border-radius: 1px;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -1px 0 0 -15px;
		transition: height 100ms;
		&:after, &:before {
			content: '';
			background-color: $vinculo;
			border-radius: 1px;
			height: 2px;
			width: 100%;
			position: absolute;
			left: 50%;
			margin-left: -15px;
			transition: all 200ms;
		}
		&:after {
			top: -7px;
		}
		&:before {
			bottom: -7px;
		}
	}
	&.act {
		> span {
			height: 0;
			&:after, &:before {
				background-color: white;
				top: 1px;
			}
			&:after {
				transform: rotate(45deg);
			}
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
}
/* main menu block */
.mainMenu {
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
	&.act {
		opacity: 1;
		transform: scale(1);
		ul li {
		opacity: 1;
		transform: translateX(0);
	}
	}
	ul {
		display: table-cell;
		vertical-align: middle;
	}
	li {
		padding: 8px 0;
		transition: all 400ms 510ms;
		opacity: 0;
		&:nth-child(odd) {
			transform: translateX(30%);
		}
		&:nth-child(even) {
			transform: translateX(-30%);
		}
		&:last-child {
			transform: none;
		}
	}
	a {
		color: white;
		display: inline-block;
		font-size: 18px;
		&.suBtn {
			color: #fff;
		}
	}

}

@media $sm
    .navbar
        display: none
    .breadcrumb-area
    .main-slider
        margin-top: 60px
    .mobile
        display: block
@media $xs
    .navbar
        display: none
    .breadcrumb-area
    .main-slider
        margin-top: 60px
    .mobile
        display: block
    .carousel-caption
        bottom: 2%